<div class="paginas-conf container-fluid" style="padding: 0px !important;">
    <div class="perfil-completo">
        <div class="desc-incial"
            style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
            <h5 falarTexto style="margin: 0px;">
                {{ "telas.configuracoes-ajuda.subtitulo" | translate }}
            </h5>
        </div>
        <div class="confDados" style="display: grid; padding: 10px 20px 10px 10px; margin: 10px;">
            <div class="caracteristica" style="margin-bottom: 1vh; font-weight: 600;">
                <span falarTexto style="font-size: 1.2rem;">
                    {{ "telas.configuracoes-ajuda.suprir-titulo" | translate }}
                </span>
            </div>
            <div class="caracteristica" style="margin-bottom: 1vh;">
                <span falarTexto style="font-size: 1.2rem;">
                    {{ "telas.configuracoes-ajuda.suprir-desc" | translate }}                </span>
            </div>
            <div class=""
                style="height: 20vh; display: flex; justify-content: center; align-items: center; margin-bottom: 1vh;">
                <div class="download">
                    <i class="bi bi-arrow-down" style="font-size: 1.3rem;"></i>
                    <button falarTexto style="border: none;
                            background-color: #fff;
                            font-size: 1.3rem;">
                        {{ "telas.configuracoes-ajuda.b-baixar" | translate }}
                    </button>
                </div>
            </div>
            <div class="caracteristica" style="margin-bottom: 1vh; font-weight: 600;">
                <span falarTexto style="font-size: 1.2rem;">
                    {{ "telas.configuracoes-ajuda.suprir-titulo2" | translate }}
                </span>
            </div>
            <div class="caracteristica" style="margin-bottom: 1vh;">
                <span falarTexto style="font-size: 1.2rem;">
                    {{ "telas.configuracoes-ajuda.suprir-desc2" | translate }}                </span>
            </div>
            <div class="form-floating">
                <textarea inputEmFoco class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 200px"></textarea>
                <label for="floatingTextarea2" falarTexto>{{ "telas.configuracoes-ajuda.p-input" | translate }}</label>
            </div>
            <div style="display: flex; justify-content: flex-end; margin-top: 1vh;">
                <button class="btn btn-primary" falarTexto>{{ "telas.configuracoes-ajuda.b-enviar" | translate }}</button>
            </div>
        </div>
    </div>
</div>
