'<div class="paginas-conf container-fluid" style="padding: 0px !important;">
    <div class="perfil-completo">
        <div class="desc-incial"
            style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
            <h5 falarTexto style="margin: 0px;">
                {{ "telas.configuracoes-ajuda.subtitulo" | translate }}
            </h5>
        </div>
        <div class="confDados" style="display: grid; padding: 10px 20px 10px 10px; margin: 10px;">
            <div class="caracteristica" style="margin-bottom: 1vh; font-weight: 600;">
                <span falarTexto style="font-size: 1.2rem;">
                    {{ "telas.configuracoes-ajuda.suprir-titulo" | translate }}
                </span>
            </div>
            <div class="caracteristica" style="margin-bottom: 1vh;">
                <span falarTexto style="font-size: 1.2rem;">
                    {{ "telas.configuracoes-ajuda.suprir-desc" | translate }} <a href="https://app.gitbook.com/o/mlTZy9akHip77FWBtJYm/s/958pm0mC1l1mbhe7bBsU/~/changes/29/adicionais/configuracoes">Manual do Usuário</a> para entender melhor o funcionamento do sistema.              </span>
            </div>
        </div>
    </div>
</div>
