<div class="princ-container">
    <div class="divisao-divs" style="display: flex;">
        <div class="configuracoes" style=" width: 35vw; height: 78.5vh;">
            <div class="perfil" routerLink="/tela-inicial/perfil" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-person"></i>
                </div>
                <h6 style="margin: 0px;">
                    Conta
                </h6>
            </div>
            <div class="layout" routerLink="/tela-inicial/layout" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-grid-1x2"></i>
                </div>
                <h6 style="margin: 0px;">
                    Layout
                </h6>
            </div>
            <div class="notificacoes" routerLink="/tela-inicial/notificacoes"
                style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-bell"></i>
                </div>
                <h6 style="margin: 0px;">
                    Notificações
                </h6>
            </div>
            <div class="sugestoes" routerLink="/tela-inicial/sugestoes" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-chat-right-quote"></i>
                </div>
                <h6 style="margin: 0px;">
                    Sugestões
                </h6>
            </div>
            <div class="ajuda" routerLinkActive="rota-Ativa" routerLink="/tela-inicial/ajuda" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-question-circle"></i>
                </div>
                <h6 style="margin: 0px;">
                    Ajuda
                </h6>
            </div>
        </div>
        <div class="paginas-conf container-fluid" style="padding: 0px !important; border-left: 1px solid black;">
            <div class="perfil-completo">
                <div class="desc-incial"
                    style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                    <h5 style="margin: 0px;">
                        CENTRAL DE AJUDA
                    </h5>
                </div>
                <div class="confDados" style="display: grid; padding: 10px 20px 10px 10px; margin: 10px;">
                    <div class="caracteristica" style="margin-bottom: 1vh; font-weight: 600;">
                        <span style="">
                            Está com dúvidas em alguma funcionalidade do sistema?
                        </span>
                    </div>
                    <div class="caracteristica" style="margin-bottom: 1vh;">
                        <span style="font-size: 1.2rem;">
                            Baixe a documentação do sistema para compreender melhor o LOW
                        </span>
                    </div>
                    <div class="" style="height: 20vh; display: flex; justify-content: center; align-items: center; margin-bottom: 1vh;">
                        <div class="download">
                            <i class="bi bi-arrow-down" style="font-size: 1.3rem;"></i>
                            <button style="border: none;
                            background-color: #fff;
                            font-size: 1.3rem;">
                                Baixar
                            </button>
                        </div>
                    </div>
                    <div class="caracteristica" style="margin-bottom: 1vh; font-weight: 600;">
                        <span style="font-size: 1.2rem;">
                            Não supriu suas dúvidas?
                        </span>
                    </div>
                    <div class="caracteristica" style="margin-bottom: 1vh;">
                        <span style="font-size: 1.2rem;">
                            Nos envie uma mensagem que assim que possível será respondido...
                        </span>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 200px"></textarea>
                        <label for="floatingTextarea2">Escreva aqui sua dúvida...</label>
                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: 1vh;">
                        <button class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>