<div class="container-fluid">

    <div class="row">
        <div id="panel-left" class="col-md-4 px-0">
            <header class="d-flex justify-content-around align-items-center">
                <i class="bi bi-person-circle icon"></i>
                Vinícius Bonatti Benner
                <i class="bi bi-three-dots-vertical icon"></i>
            </header>
            <div id="search">
                <i class="bi bi-search px-3 "></i>
                <input type="text" placeholder="Busque por demandas">
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex align-items-center" style="border-left: 6px solid #00579d; border-bottom: #dbdbdb 1px solid; border-top: #dbdbdb 1px solid;">
                    <div class="d-flex flex-column flex-fill">
                        <h6>Sistema de Entrega de Demandas de TI</h6>
                        <small>Camilly Vitoria da Rocha Goltz</small>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <span class="timeago">19:14</span>
                        <span class="badge text-bg-primary badge-pill">1</span>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex align-items-center" style="border-left: 6px solid #00579d; border-bottom: #dbdbdb 1px solid; border-top: #dbdbdb 1px solid;">
                    <div class="d-flex flex-column flex-fill">
                        <h6>Sistema de Entrega de Demandas de TI</h6>
                        <small>Camilly Vitoria da Rocha Goltz</small>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <span class="timeago">Ontem</span>
                        <span class="badge badge-success badge-pill"></span>
                    </div>
                </a>
            </div>
        </div>
        <section class="col-md-8 px-0 d-flex flex-column">
            <header class="d-flex align-items-center">
                <div class="d-flex flex-column flex-fill">
                    <h6>Sistema de Entrega de Demandas de TI</h6>
                    <small class="timeago">Visto por último: Segunda-feira às 12:34</small>
                </div>
                <i class="bi bi-mic-mute me-3"></i>
                <i class="bi bi-x-circle me-3"></i>
            </header>
            <main>
                <div style="width: 100%;">
                    <div class="mensagens">
                        <div *ngFor="let mensagem of mensagens" class="row"
                        [ngStyle]="{'justify-content': mensagem.rementente == 'solicitante' ? 'flex-end' : 'flex-start'}">

                          <div  [ngClass]="[mensagem.rementente == 'solicitante' ? 'balao-chat-solicitante' : 'balao-chat-analista']">
                                <span>
                                    {{mensagem.mensagem}}
                                </span>
                            </div>
                        </div>
                      </div>
                      </div>
            </main>
            <div id="send" class="d-flex">
                <i class="bi bi-plus-lg"></i>
                <div class="border">
                    <input type="text" #mensagemDigitada  placeholder="Escreva sua Mensagem">
                    <i class="bi bi-send" (click)="enviarMensagem()"></i>
                </div>
            </div>
        </section>
    </div>

</div>
