h6 {
    margin: 0;
}

section header {
    border-bottom: #fff 1px solid;
}

header,
footer {
    background-color: #ffff;
    padding: 5px;
    min-height: 60px;
}

main {
    background-color: #ffffff;
    min-height: calc(100vh - 32.5vh);
}

header img,
.list-group img {
    height: 50px;
    margin-right: 10px;
}

header img {
    margin-left: 16px;
}

.alinhar-alerta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-group-item {
    border-radius: 0 !important;
    border-left: none;
    border-right: none;
    border-color: #f8f8f8;
}

:host ::ng-deep {
    .p-speeddial-button {
        width: 16px !important;
        height: 20px !important;
    }

    .p-button-icon {
        font-size: 1rem !important;
    }

    .p-button {
        background-color: transparent;
        border: transparent;
        color: black;
    }

    .p-button:enabled:hover {
        background: rgb(238, 237, 237);
        color: #000;
        border-color: rgb(238, 237, 237);
    }
}

.badge-success {
    background-color: #09d261;
}

#search {
    input {
        outline: none;
        border: none;
        background-color: transparent;
    }

    padding: 10px;
    background-color: rgb(245, 245, 245);
}

#send {
    justify-content: space-evenly;
    align-items: center;

    input {
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
    }

    div {
        padding: 0.3em;
        margin: 5px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#panel-left {
    border-right: #dbdbdb 1px solid;
    color: #4d4d4d;
}

#panel-left small {
    color: #9b9b9b;
}

.timeago {
    color: #999;
    font-size: .8em;
}


.balao-chat-analista {
    margin: 5px 20px 0px 25px;
    position: relative;
    font-size: 15px;
    /* line-height: 14px; */
    width: 30vw;
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 10px 10px 10px 21px;
    /* text-align: center; */
    color: #495057;
    word-wrap: break-word;
}

.balao-chat-analista:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid #EFEFEF;
    border-right: 6px solid transparent;
    border-top: 6px solid #EFEFEF;
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -15px;
    opacity: 0;

}

.balao-chat-solicitante {
    margin: 5px 25px 0px 20px;
    position: relative;
    font-size: 15px;
    width: 30vw;
    background-color: #E8F1F3;
    border-radius: 10px;
    padding: 10px 10px 10px 21px;
    color: #495057;
    word-wrap: break-word;
}

.na-rota {
    background-color: #f0f0ff;
}

.balao-chat-solicitante:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    justify-content: end;
    border-right: 12px solid #E8F1F3;
    border-left: 6px solid transparent;
    border-top: 6px solid #E8F1F3;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -15px;
    opacity: 0;
}