h6 {
    margin: 0;
}

section header {
    border-bottom: #dbdbdb 1px solid;
}

header, footer {
    background-color: #eee;
    padding: 5px;
    min-height: 60px;
}

header img,
.list-group img {
    height: 50px;
    margin-right: 10px;
}

header img {
    margin-left: 16px;
}

.list-group-item {
    border-radius: 0!important;
    border-left: none;
    border-right: none;
    border-color: #f8f8f8;
}

main {
    background-color: #f5f1ee;
    min-height: calc(100vh - 121px);
}

.badge-success {
    background-color: #09d261;
}

#search {
    input{
        outline: none;
        border: none;
        background-color: transparent;
    }
    padding: 10px;
    background-color: #f8f8f8;
}
#send{
    justify-content: space-around;
    align-items: center;
    input{
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
    }
    div{
        padding: 0.3em;
        margin: 5px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#panel-left {
    border-right: #dbdbdb 1px solid;
    color: #4d4d4d;
}
#panel-left small {
    color: #9b9b9b;
}
.timeago {
    color: #999;
    font-size: .8em;
}


.balao-chat-analista{
    margin: 20px 20px 15px 35px;
    position: relative;
    font-size: 15px;
    /* line-height: 14px; */
    width: 30vw;
    background-color: #dbdfdf;
    border-radius: 10px;
    padding: 10px 10px 10px 21px;
    /* text-align: center; */
    color: black;
    word-wrap:break-word;
}

.balao-chat-analista:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    
    border-left: 12px solid #dbdfdf;
    border-right: 6px solid transparent;
    border-top: 6px solid #dbdfdf;
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -15px;
}

.balao-chat-solicitante{
    margin: 15px 35px 20px 20px;
    position: relative;
    font-size: 15px;
    /* line-height: 14px; */
    width: 30vw;
    background-color: #b5cef3;
    border-radius: 10px;
    padding: 10px 10px 10px 21px;
    /* text-align: center; */
    color: black;
}

.balao-chat-solicitante:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    justify-content: end;
    border-left: 12px solid #b5cef3;
    border-right: 6px solid transparent;
    border-top: 6px solid #b5cef3;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -15px;
}

