.bloco {
    display: block;
    background: #fff;
    padding: 70px;
}

.paragrafo-inicial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh !important;
}
.espacamento{
  padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.mat-typography{
    margin: 0px !important;
    padding: 0px !important;
}

.TitulosRodape {
    font-size: 0.8rem;
}

:host ::ng-deep {
    .p-scrollpanel-content {
        height: 100%;
    }
}
:host ::ng-deep .ui-scrollpanel-wrapper {
  overflow: hidden !important;
}

.custom-marker {
    display: flex;
    width: 2vw;
    height: 3.5vh;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

::ng-deep {

    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }
}

@media screen and (max-width: 960px) {
    ::ng-deep {
        .customized-timeline {
            .p-timeline-event:nth-child(even) {
                flex-direction: row !important;

                .p-timeline-event-content {
                    text-align: left !important;
                }
            }

            .p-timeline-event-opposite {
                flex: 0;
            }

            .p-card {
                margin-top: 1rem;
            }
        }
    }
}

.p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }

    &.custombar1 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--primary-color);
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: #007ad9;
            }
        }
    }

    &.custombar2 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
            border-bottom: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--layer-2);
            border-radius: 0;
            opacity: 1;
            transition: background-color .2s;
        }
    }
}