.alinhar-baixo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:host ::ng-deep .inputComissoes {
    width: 35vw;
}

:host ::ng-deep .inputCalendario {
    width: 30vw;
}