<div class="d-flex justify-content-between">
  <h5>Marcar Reunião</h5>
  <i class="bi bi-x-lg" role="button" (click)="dialogRef.close()"></i>
</div>
<hr class="mt-0" style="overflow: auto;">
<div [formGroup]="novaReuniaoForm" (onSubmit)="onSubmit()"class="row m-3" >
  <div class="col-sm-6 drag-column d-flex flex-column">
    <div class="d-flex">
      <app-filtro-demanda class="mb-2 w-100" [filtroReduzidoVertical]="true" [mostrarIconeDeAbrirFiltro]="false">
      </app-filtro-demanda>
    </div>
    <div  style="height: -webkit-fill-available;" class="drop-column d-table border p-3 rounded low-shadow w-100" pDroppable="demandas" (onDrop)="drop()">
      <p-scrollPanel [style]="{ width: '100%', height: '40vh' }">
        <h6>Demandas</h6>
        <div *ngFor="let demanda of listaDemandas" class="mt-2">
          <app-list-demanda role="button" [mostrarBotao]="false" pDraggable="demandas" [dadosDemada]="demanda"
            [mostrarIconeAdicionar]="true" (clicouAdicionarPauta)="adicionarDemanda(demanda)"
            [mudarTamanho]="'100%'"
            (onDragStart)="dragStart(demanda)" (onDragEnd)="dragEnd()">
          </app-list-demanda>
        </div>
      </p-scrollPanel>
    </div>
  </div>
  <div class="col-sm-6 alinhar-baixo"  pDroppable="demandas" (onDrop)="drop()">
    <div class="border rounded drop-column p-1 mb-2 low-shadow h-100">
      <p-scrollPanel [style]="{ width: '100%', height: '47vh' }" styleClass="scroll">
        <div class="text-center h5 mt-3" *ngIf="listaDemandasEscolhidas.length == 0">
          Arraste as Demandas para este campo!
        </div>
        <span *ngFor="let demanda of listaDemandasEscolhidas" style="margin-top:10px ; ">
          <app-card-demanda pDraggable="products" [mostrarBotao]="false" (onDragStart)="dragStart(demanda)" (onDragEnd)="dragEnd()"
            [dadosDemada]="demanda" [isPauta]="true" (clicouEmExcluir)="excluirDemanda(demanda)"
            [mudarTamanho]="'100%'"></app-card-demanda>
        </span>
      </p-scrollPanel>
    </div>
    <div class=" mt-1 p-3 border rounded low-shadow">
      <div class="">
        <label for="time">Data e Hora da Reunião:</label>
        <p-calendar placeholder="Clique aqui!" formControlName="dataReuniao" [showTime]="true" [showSeconds]="true"
          inputId="time" [(ngModel)]="dataReuniao"></p-calendar>
      </div>
      <div class="mt-1 d-grid">
        <label for="time">Selecione a Comissão da Reunião:</label>
        <p-dropdown placeholder="Selecione a Comissão:" [options]="listaDeComissoesReuniao" [(ngModel)]="comissaoSelecionada" optionLabel="nomeComissao"  formControlName="comissaoReuniao"></p-dropdown>
        <!-- <p-dropdown [options]="listaDeComissoesReuniao" [(ngModel)]="comissaoSelecionada" optionLabel="nomeComissao" [showClear]="true" ></p-dropdown> -->
      </div>
      <div class=" mt-1 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Marcar Reunião</button>
      </div>
    </div>
  </div>
</div>
