<app-header [telaLogin]="true">
</app-header>
<div style="height: 90vh;" class=" d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center">
        <img src="../../../../assets/images/Frame 7 (1).png" class="low-shadow rounded"
            style="width: 35vw; min-width: 13vh;" alt="" srcset="">
        <div class="bloco low-shadow">
            <div class="d-flex justify-content-center">
                <div falarTexto class="titulo low-shadow">{{ "telas.tela-login.login" | translate }}</div>
            </div>
            <div class="d-flex flex-column" style="margin-bottom: 3vh;">
                <span class="p-float-label">
                    <input inputEmFoco style="width: 100%;" type="text" pInputText [(ngModel)]="usuario">
                    <label falarTexto>{{ "telas.tela-login.usuario" | translate }}</label>
                </span>
            </div>
            <div class="d-flex flex-column" style="margin-bottom: 3vh;">
                <span class="p-float-label">
                    <input inputEmFoco style="width: 100%;" type="password" pInputText [(ngModel)]="senha">
                    <label falarTexto>{{ "telas.tela-login.senha" | translate }}</label>
                </span>
            </div>
            <div class="d-flex mb-3 align-items-center justify-content-center">
                <div class="me-3 d-flex align-items-center justify-content-center">
                    <input type="checkbox" class="me-1"><label for="">{{ "telas.tela-login.lembrar" | translate
                        }}</label>
                </div>
                <a href="" falarTexto>{{ "telas.tela-login.esqueceu-senha" | translate }}</a>
            </div>
            <div class="d-flex justify-content-center">
                <div class="low-shadow rounded" style="margin-top: 3vh;">
                    <button class="btn btn-primary" style="width: 8vw;" (click)="autenticar()" falarTexto>{{
                        "telas.tela-login.b-entrar" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>