<div class="container mt-5">
    <div class="row">
        <div class="header centralizar mb-4">
            <div>
                <b>Propostas adicionadas: </b>
                <div class="linha"></div>
            </div>
            <div>
            </div>
        </div>
        <div class="col-6 mb-5" style="overflow: auto; max-height: 60vh;" >
            <div  *ngFor="let demanda of listaDemanda" class="mb-2">
                <app-card-demanda [dadosDemada]="demanda" [mudarTamanho]="'100%'"></app-card-demanda>
            </div>
        </div>
        <div class="col-6 direita-grande">
            <div class="alinhar-direita">
                <div class="d-flex flex-column p-3" style="border: 1px solid black; width: fit-content;">
                    <span class="d-flex">Data da comissão: 27/08/2022</span>
                    <span class="d-flex">Comissão: 007</span>
                </div>
                <button class="btn btn-primary mt-3">Visualizar ata publicada</button>
                <button class="btn btn-primary mt-3">Visualizar ata publicada</button>
            </div>
            <button class="btn btn-primary mb-3">Gerar documentação</button>
        </div>
    </div>
</div>