<div class="container mt-5">
    <div class="row">

        <div class="col-9 mb-5" style="overflow: auto; height: 70vh;    border: 1px solid #c5c5c5;
        border-radius: 5px;
        padding: 20px;" >
            <div  *ngFor="let proposta of reuniao?.propostasReuniao" class="mb-2">
                <app-card-demanda [exibirBotaoParecerComissao]="true" [tipoDeAta]="'Ata Publicada'" (abrirModal)="openModalParecerComissaoProposta(proposta?.codigoDemanda)" [dadosDemada]="proposta" [mudarTamanho]="'100%'"></app-card-demanda>
            </div>
        </div>
        <div class="col-3 direita-grande">
            <div class="alinhar-direita">
                <div class="d-flex flex-column p-3 rounded" style="border: 1px solid rgb(112, 110, 110); width: fit-content;">
                    <span class="d-flex">Data da comissão: 27/08/2022</span>
                    <hr>
                    <span class="d-flex">Comissão: 007</span>
                    <hr>
                    <span class="d-flex">Qtd Propostas: 8</span>
                </div>
                <div class="d-flex w-100 mt-3 flex-column">
                  <h6>Vizualizar:</h6>
                  <hr class="my-1">

                </div>
                <button class="btn btn-primary mt-3" (click)="openModalAtaDocumento('PUBLICADA')">Ata publicada</button>
                <button class="btn btn-primary mt-3" (click)="openModalAtaDocumento('NAO_PUBLICADA')">Ata não publicada</button>
            </div>
            <button class="btn btn-primary mb-3 me-4">Gerar documentação</button>
        </div>
    </div>
</div>
