.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 13vw;
}

.header {
    font-size: 16px;
    justify-content: space-between;
}

.direita-grande {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.alinhar-centro {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.alinhar-direita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.linha {
    border: 1px solid black;
    width: 200px;
    height: 1px;
    margin-bottom: 20px;
}

.pesquisar {
    border: 1px solid black;

}

input {
    outline: none;
    border: none;
}