<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Data de Alteração</th>
              <th scope="col">Autor</th>
              <th scope="col">Visualizar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>30/06/08</td>
              <td>Joaquim da Silva</td>
              <td><a href="">Versão 1</a></td>
            </tr>
            <tr>
              <th>2</th>
              <td>30/06/08</td>
              <td>Joaquim da Silva</td>
              <td><a href="">Versão 2</a></td>
            </tr>
            <tr>
              <th>3</th>
              <td>30/06/08</td>
              <td>Joaquim da Silva</td>
              <td><a href="">Versão 3</a></td>
            </tr>
          </tbody>
    </table>
</div>
