<div class="princ-container">
    <div class="divisao-divs" style="display: flex;">
        <div class="configuracoes" style=" width: 35vw; height: 78.5vh;">
            <div class="perfil" routerLink="/tela-inicial/perfil" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-person"></i>
                </div>
                <h6 style="margin: 0px;">
                    Conta
                </h6>
            </div>
            <div class="layout" routerLink="/tela-inicial/layout" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-grid-1x2"></i>
                </div>
                <h6 style="margin: 0px;">
                    Layout
                </h6>
            </div>
            <div class="notificacoes" routerLinkActive="rota-Ativa" routerLink="/tela-inicial/notificacoes"
                style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-bell"></i>
                </div>
                <h6 style="margin: 0px;">
                    Notificações
                </h6>
            </div>
            <div class="sugestoes" routerLink="/tela-inicial/sugestoes" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-chat-right-quote"></i>
                </div>
                <h6 style="margin: 0px;">
                    Sugestões
                </h6>
            </div>
            <div class="ajuda" routerLink="/tela-inicial/ajuda" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-question-circle"></i>
                </div>
                <h6 style="margin: 0px;">
                    Ajuda
                </h6>
            </div>
            <div class="tutorial" routerLink="/tela-inicial/tutorial" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-diagram-3"></i>
                </div>
                <h6 style="margin: 0px;">
                    Tutorial
                </h6>
            </div>
        </div>
        <div class="paginas-conf container-fluid" style="padding: 0px !important; border-left: 1px solid black;">
            <div class="perfil-completo">
                <div class="desc-incial"
                    style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                    <h5 style="margin: 0px;">
                        CONFIGURAÇÕES GERAIS DE NOTIFICAÇÕES
                    </h5>
                </div>
                <div class="confDados" style="margin: 10px;">
                    <div class="dadosPessoais">
                        <div class="perfil">
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Mostrar Notificações:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
