input {
    margin: 5px 5px 5px 0px;
}

.input {
    width: 58.5vw;
}

.meu-flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

label {
    font-size: 0.85vw;
    margin: 5px;
}

hr {
    margin: 0
}

.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

:host ::ng-deep {
    .p-card:hover {
        background-color: #ecebeb;
    }
}

:host ::ng-deep {

    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }
}

:host ::ng-deep {
    .p-timeline-event-opposite {
        display: none;
    }
}

:host ::ng-deep {
    .p-card {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

:host ::ng-deep {
    .p-card {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

:host ::ng-deep {
    .p-card-body {
        padding: 0rem !important;
    }
}

:host ::ng-deep {

    .p-timeline.p-timeline-vertical .p-timeline-event-opposite,
    .p-timeline.p-timeline-vertical .p-timeline-event-content {
        padding: 0.3vw;
    }
}

// @media screen and (max-width: 960px) {
//     ::ng-deep {
//         .customized-timeline {
//             .p-timeline-event:nth-child(even) {
//                 flex-direction: row !important;

//                 .p-timeline-event-content {
//                     text-align: left !important;
//                 }
//             }

//             .p-timeline-event-opposite {
//                 flex: 0;
//             }

//             .p-card {
//                 margin-top: 1rem;
//             }
//         }
//     }
// }

@media screen and (max-width: 1200px) {
    a {
        font-size: 0.95rem;
    }
    i {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 1150px) {
    a {
        font-size: 0.9rem;
    }
    i {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1100px) {
    a {
        font-size: 0.85rem;
    }
    i {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1050px) {
    a {
        font-size: 0.8rem;
    }
    i {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1000px) {
    a {
        font-size: 0.7rem;
    }
    i {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 950px) {
    .lateral {
        opacity: 0;
    }
}