<div class="row">
    <div class="col-2">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1" style="font-size: 0.9rem;">Dados Gerais</a>
                <nav class="nav nav-pills flex-column" style="font-size: 0.75rem;">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">Título</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-2">Situação Atual</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-3">Objetivo</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-4">Centro de Custo</a>
                </nav>
                <a class="nav-link" href="#item-2" style="font-size: 0.9rem;">Benefícios</a>
                <nav class="nav nav-pills flex-column" style="font-size: 0.75rem;">
                    <a class="nav-link ms-3 my-1" href="#item-2-1">Beneficio Real</a>
                    <a class="nav-link ms-3 my-1" href="#item-2-1">Beneficio Potencial</a>
                    <a class="nav-link ms-3 my-1" href="#item-2-3">Memória de Cálculo Real</a>
                    <a class="nav-link ms-3 my-1" href="#item-2-4">Memória de Cálculo Potencial</a>
                    <a class="nav-link ms-3 my-1" href="#item-2-5">Benefício Qualitativo</a>
                </nav>
                <a class="nav-link" href="#item-3" style="font-size: 0.9rem;">Documentos</a>
                <nav class="nav nav-pills flex-column" style="font-size: 0.75rem;">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">Frequência de Uso do Sistema</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">Adicionar Documento</a>
                </nav>
                <a class="nav-link" href="#item-4" style="font-size: 0.9rem;">Custos Totais</a>
                <nav class="nav nav-pills flex-column" style="font-size: 0.75rem;">
                    <a class="nav-link ms-3 my-1" href="#item-4-1">Tabela de Recursos</a>
                </nav>
                <a class="nav-link" href="#item-5" style="font-size: 0.9rem;">Finalizar</a>
                <nav class="nav nav-pills flex-column" style="font-size: 0.75rem;">
                    <a class="nav-link ms-3 my-1" href="#item-5-1">Escopo</a>
                    <a class="nav-link ms-3 my-1" href="#item-5-2">Periodo de Execução</a>
                    <a class="nav-link ms-3 my-1" href="#item-5-2">Payback Simples</a>
                    <a class="nav-link ms-3 my-1" href="#item-5-4">Responsáveis pelo Negócio</a>
                </nav>
            </nav>
        </nav>
    </div>

    <div class="tela-corrida col-10">
        <p-scrollPanel [style]="{height: '78.5vh'}" data-bs-spy="scroll" data-bs-target="#navbar-example3"
            data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div class="etapa-1" id="item-1">
                <div class="campo" style="display: flex; justify-content: center; align-items: center; padding: 0px;"
                    *ngIf="aparecer == 0">
                    <div class="div-preenchida" style="width: 61vw; ">
                        <div style="background-color: rgb(241 240 240); border: 1px solid #787070; padding: 10px;">
                            <h6 style="font-weight: 600;">Campos obrigatórios para salvar a proposta:</h6>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <label style="font-weight: 600;" for="">Prazo para elaboração da proposta:</label>
                                    <div style="display: flex;">
                                        <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                        <input style="width: 36vw;">
                                    </div>
                                </div>
                                <div>
                                    <label style="font-weight: 600;" for="">Código PPM:</label>
                                    <div style="display: flex;">
                                        <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                        <input type="text" class="low-input" style="width: 20vw;">
                                    </div>
                                </div>
                            </div>
                            <label style="font-weight: 600;" for="">Link jira</label>
                            <div style="display: flex;">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input type="text" class="low-input" style="width: 61vw;">
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: grid; justify-content: center; margin-top: 1.5vh;">
                    <div class="beneficios" style="display: grid; align-items: center; justify-content: space-between;">
                        <div class="titulo" style="display: grid" id="item-1-1">
                            <label style="font-weight: 600;">
                                Título:
                            </label>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input style="width: 61vw;">
                            </div>
                        </div>
                        <div class="situacao-atual" style="display: grid" id="item-1-2">
                            <label style="font-weight: 600;">
                                Situação Atual:
                            </label>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input style="width: 61vw;">
                            </div>
                        </div>
                        <div class="objetivo" style="display: grid" id="item-1-3">
                            <label style="font-weight: 600;">
                                Objetivo:
                            </label>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input style="width: 61vw;">
                            </div>
                        </div>
                        <div class="real" style="display: flex;" id="item-1-4">
                            <div class="ben-real" style="display: grid">
                                <label style="font-weight: 600;">
                                    Centros de Custo:
                                </label>
                                <div style="display: flex; ">
                                    <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                    <input style="width: 56vw;">
                                </div>
                            </div>
                            <div style="display: flex; align-items: end;">
                                <select class="select-1">
                                    <option value="valor1">ADD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="etapa-2" id="item-2">
                <div style="display: grid; justify-content: center;  height: 72vh;">
                    <div class="beneficios" style="display: flex; align-items: center; justify-content: space-between;"
                        id="item-2-1">
                        <div class="real" style="display: flex;">
                            <div class="ben-real" style="display: grid">
                                <label style="font-weight: 600;">
                                    Benefício Real:
                                </label>
                                <div style="display: flex; ">
                                    <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                    <input style="width: 25vw;">
                                </div>
                            </div>
                            <div style="display: flex; align-items: end;">
                                <select>
                                    <option value="valor1">BR</option>
                                </select>
                            </div>
                        </div>
                        <div class="potencial" style="display: flex;">
                            <div class="ben-potencial" style="display: grid">
                                <label style="font-weight: 600;">
                                    Benefício Potencial:
                                </label>
                                <div style="display: flex; ">
                                    <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                    <input style="width: 25vw;">
                                </div>
                            </div>
                            <div style="display: flex; align-items: end;">
                                <select name="Moeda">
                                    <option value="valor1">BR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="memoria-calculo-real" id="item-2-3">
                        <div class="ben-real" style="display: grid">
                            <label style="font-weight: 600;">
                                Memória de Cálculo do Benefício Real:
                            </label>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input style="width: 61vw; height: 14vh;">
                            </div>
                        </div>
                    </div>
                    <div class="memoria-calculo-potencial" id="item-2-4">
                        <div class="ben-real" style="display: grid">
                            <label style="font-weight: 600;">
                                Memória de Cálculo do Benefício Potencial:
                            </label>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input style="width: 61vw; height: 14vh;">
                            </div>
                        </div>
                    </div>
                    <div class="beneficio-qualitativo" id="item-2-5">
                        <div class="ben-real" style="display: grid">
                            <label style="font-weight: 600;">
                                Benefício Qualitativo:
                            </label>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input style="width: 61vw; height: 12vh;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="etapa-3" id="item-3">
                <div style="display: grid; justify-content: center;">
                    <div class="memoria-calculo-real" id="item-3-1">
                        <div class="ben-real" style="display: grid">
                            <label style="font-weight: 600;">
                                Frequência de Uso do Sistema:
                            </label>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input class="entrada" style="width: 61vw; height: 10vh;">
                            </div>
                        </div>
                    </div>
                    <div class="memoria-calculo-potencial" id="item-3-2">
                        <div class="ben-real" style="display: grid">
                            <div>
                                <label style="font-weight: 600;">
                                    Anexar Documento:
                                </label>
                                <input id="file" name="file" type="file" class="file_customizada"
                                    style="font-size: 12px;" />
                            </div>
                            <div style="display: flex; ">
                                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                <input class="entrada" style="width: 61vw; height: 20vh;"
                                    placeholder="NENHUM DOCUMENTO ANEXADO">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="etapa-4" id="item-4">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <table class="table mt-5 table-bordered border-dark" id="item-4-1"
                        style="border-left: 6px #00579D solid !important; width: 61.5vw;">
                        <thead>
                            <tr>
                                <th scope="col"> <span> Recurso necessário</span> </th>
                                <th scope="col">Tipo da despesa</th>
                                <th scope="col">Perfil da despesa</th>
                                <th scope="col">Quantidade de horas</th>
                                <th scope="col">Valor da hora </th>
                                <th scope="col">Valor total da despesa</th>
                                <th scope="col">Período de execução
                                    (Em meses)</th>
                                <th scope="col">Centros de custos pagantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="input"></td>
                                <td><select class="select">
                                        <option value="0" selected>Interna</option>
                                        <option value="1">Externa</option>
                                    </select></td>
                                <td><input type="text" class="input"></td>
                                <td><input type="text" class="input"></td>
                                <td><input type="text" class="input"></td>
                                <td><input type="text" class="input"></td>
                                <td><input type="text" class="input"></td>
                                <td>
                                    <section class="d-flex ">
                                        <input type="text" class="border input"><input type="text" class="border input">
                                    </section>
                                    <select name="" id="" class="border mt-2"></select>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"><button class="btn btn-primary btn-sm">Adicionar Recurso</button></td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
            <div class="d-grid justify-content-center my-3">
                <div class="d-flex">
                    <div style="border: 3px solid #00579D;"></div>
                    <p-table [value]="recursos" dataKey="id" editMode="row" [tableStyle]="{'width': '61vw'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col"> <span> Recurso necessário</span> </th>
                                <th scope="col">Tipo da despesa</th>
                                <th scope="col">Perfil da despesa</th>
                                <th scope="col">Quantidade de horas</th>
                                <th scope="col">Valor da hora </th>
                                <th scope="col">Valor total da despesa</th>
                                <th scope="col">Período de execução(Em meses)</th>
                                <th scope="col">Centros de custos pagantes</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-recursos>
                            <tr>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="recursos.nomeRecurso" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.nomeRecurso}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="['Interno',  'Externo']" appendTo="body"
                                                [(ngModel)]="recursos.perfilDespesa" [style]="{'width':'100%'}">
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.tipoDespesa}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="recursos.tipoDespesa" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.perfilDespesa}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="recursos.quantidadeHoras" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.quantidadeHoras}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="recursos.valorHora" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.valorHora}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="recursos.valorTotalDespesa" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.valorTotalDespesa}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="recursos.periodoExMeses" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.periodoExMeses}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="recursos.centrosCustoPagantes" required>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{recursos.centrosCustoPagantes}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary"><i class="bi bi-plus-lg"></i></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="etapa-5" id="item-5">
                <div style="display: grid; justify-content: center;">
                    <div class="beneficios" style="align-items: center; justify-content: space-between;">
                        <div class="escopo-demanda" id="item-5-1">
                            <div class="escopo" style="display: grid; ">
                                <label style="font-weight: 600;">
                                    Escopo da Demanda:
                                </label>
                                <div style="display: flex;">
                                    <div style="border: 3px solid #00579D; margin: 0px "></div>
                                    <form [formGroup]="form">
                                        <div class="NgxEditor__Wrapper"
                                            style="border-left: transparent; border-radius: 0 !important; width: 61vw; height: 40vh;">
                                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                                            <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="linha-periodos" id="item-5-2"
                            style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="periodo-execucao" style="display: flex;">
                                <div class="periodo-exe" style="display: grid">
                                    <label style="font-weight: 600;">
                                        Periodo de execução da demanda:
                                    </label>
                                    <div style="display: flex; ">
                                        <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                        <input id="input" style="width: 15vw;" placeholder="Início">
                                        <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                        <input id="input" style="width: 15vw;" placeholder="Fim">
                                    </div>
                                </div>
                            </div>
                            <div class="payback-simples" style="display: flex;">
                                <div class="payback" style="display: grid">
                                    <label style="font-weight: 600;">
                                        Payback Simples:
                                    </label>
                                    <div style="display: flex; ">
                                        <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                        <input style="width: 25vw;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="linha-periodos" id="item-5-3"
                            style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="periodo-execucao" style="display: flex;">
                                <div class="periodo-exe" style="display: grid">
                                    <label style="font-weight: 600;">
                                        Responsáveis pelo Negócio:
                                    </label>
                                    <div style="display: flex;">
                                        <div style="display: flex; ">
                                            <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                            <input id="input" style="width: 15vw;" placeholder="Nome">
                                        </div>
                                        <div style="display: flex; ">
                                            <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                                            <input id="input" style="width: 25vw;" placeholder="Área">
                                        </div>
                                        <div style="display: flex; align-items: end;">
                                            <button style="height: 5vh;
                                           width: 4vw;
                                           background-color: #00579D;
                                           color: #ffffff;
                                           margin: 5px;
                                           border-radius: 5px;
                                           border: transparent;
                                           padding: 5px;
                                           font-weight: 300;
                                           font-size: 25px;
                                           align-items: center;
                                           justify-content: center;
                                           display: flex;">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between "
                        style="margin-top: 2vh !important; margin-bottom: 2vh;">
                        <div>
                            <button class="btn btn-danger me-3">Cancelar</button>
                            <button class="btn btn-outline-primary">Sair e Salvar</button>
                        </div>
                        <button class="btn btn-primary">Finalizar</button>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>