
input{
    margin: 5px 5px 5px 0px;
}

.input{
    width: 58.5vw;
}

label{
    font-size: 0.85vw;
    margin: 5px;
}

::ng-deep{
    .p-multiselect, .p-placeholder {
        width: 58.5vw;
    }
} 

::ng-deep{
    .p-dropdown .p-dropdown-label  {
        width: 56.5vw;
    }
} 
    