<div vw class="enabled position-relative" style="margin: 0!important" #vlibrasToggleButton>
  <div>
    <div vw-access-button class="active" style="margin: 0!important"></div>
    <div vw-plugin-wrapper style="margin: 0!important">
      <div class="vw-plugin-top-wrapper" style="margin: 0!important"></div>
    </div>
  </div>
  
</div>

<!-- position: fixed;
    max-width: 95vw;
    right: -10px;
    top: 43.5%;
    transform: translateY(-50%);
    z-index: 99999999;
    display: none;
    font-family: Arial;
    color: #000;
    line-height: 1.3;
    font-size: 16px;
    margin: 10px !important; -->