@import '../../../styles.scss';
    

.linha{
    height: 100%;
    width: 10px;
    position: absolute;
    left: 0;
}

.container-lista{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding:7px;
    border: 1px solid #8f8f8f;
    font-size: 15px;
}
li{
    display: inline-flex;
    margin-left: 10px;
}

.final-list{
    align-items: center;
    justify-content: end;
}