<ul class="nav container-lista low-shadow ">
    <li class="nav-item">
        <label class="" for="">002</label>
    </li>
    <li class="nav-item">
        <label class="" style="" for=""><b>Sistema de Entrega de Demandas de TI</b></label>
    </li>
    <li class="nav-item">
        <small class="" for="">Status: Backlog</small>
    </li>
    <li class="nav-item">
        <label><b>Autor: </b>Vinícius Bonatti Benner</label>
    </li>
    <li>
        <label class=" ">
            <b>
                Departamento:
            </b>
            TI
        </label>
    </li>
    <li>
        <button class="btn btn-primary btn-sm">Classificar Demanda</button>
    </li>
    <li>
        <i class="bi bi-three-dots-vertical three-dots"></i>
    </li>
</ul>