<ul class="nav position-relative container-lista low-shadow " style="width: 100%;">
    <div class="linha" style="height: 100%; width: 10px;" [ngClass]="primaryColorClass"></div>
    <div class="d-flex">
        <li class="nav-item" >
            <label class="" for="">002</label>
        </li>
        <li class="nav-item text-truncate" style="width: 150px;">
            <label class="" for=""><b>{{dadosDemada.tituloDemanda}}</b></label>
        </li>
        <li class="nav-item text-truncate" style="width: 100px;">
            <small class="" for="">{{dadosDemada.statusDemanda}}</small>
        </li>
        <li class="nav-item text-truncate" style="width: 240px;">
            <label>{{dadosDemada.autorDemanda}}</label>
        </li>
        <li class="nav-item text-truncate" style="width: 120px;">
                {{dadosDemada.departamentoBenDemanda}}
        </li>
    </div>    
    <div class="d-flex final-list" >
        <li *ngIf="mostrarBotao">
            <button class="btn btn-primary btn-sm">Classificar Demanda</button>
        </li>
        <li>
            <i class="bi bi-three-dots-vertical three-dots" *ngIf="!mostrarIconeAdicionar" role="button" [matMenuTriggerFor]="menu"></i>
            <i class="bi bi-plus-lg" *ngIf="mostrarIconeAdicionar" role="button" (click)="clicouAdicionarPauta.emit()"></i>
            <mat-menu #menu="matMenu">
                <button routerLink="/tela-inicial/historico-demanda" mat-menu-item>
                  <span>Histórico</span>
                </button>
                <button (click)="verDocumentoProposta.emit()" mat-menu-item>
                  <span>Ver demanda</span>
                </button>
                <button routerLink="/tela-inicial/chat" mat-menu-item>
                  <span>Iniciar conversa</span>
                </button>
              </mat-menu>
        </li>
    </div>    
</ul>