@import '../../../styles.scss';
    
.container-lista{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding:7px;
    border: 1px solid #000000;
    border-left: 7px solid $primary;
}
li{
    display: inline-flex;
    margin-left: 10px;
}

.final-list{
    align-items: center;
    justify-content: end;
}