<div
  [ngClass]="{ container: isFiltrado }"
  class="nav my-4 justify-content-center"
>
  <nav
    [ngClass]="{ container: !isFiltrado }"
    class="nav justify-content-between w-100"
  >
    <div class="d-flex align-items-start" style="overflow: auto">
      <button
        joyrideStep="um"
        [prevTemplate]="prevButton"
        [nextTemplate]="nextButton"
        [doneTemplate]="doneButton"
        [title]="'Criar uma Demanda'"
        [stepContent]="customContent"
        [stepContentParams]="{ texto: textoTutorial[0] }"
        class="btn btn-primary"
        style="height: 42px"
        (click)="criarUmaNovaDemanda()"
      >
        <i class="bi bi-plus" style="font-size: 17px"></i>
        {{ "telas.tela-inicial.b-criar-demanda" | translate }}
      </button>

      <ng-template #prevButton>
        <button class="btn btn-outline-primary">{{ "telas.tela-inicial.b-anterior" | translate }}</button>
      </ng-template>
      <ng-template #nextButton>
        <button class="btn btn-primary">{{ "telas.tela-inicial.b-proximo" | translate }}</button>
      </ng-template>
      <ng-template #doneButton>
        <button class="btn btn-primary">{{ "telas.tela-inicial.b-pronto" | translate }}</button>
      </ng-template>
      <ng-template #customContent let-texto="texto" style="border-radius: 20px">
        <div [innerHTML]="texto" style="max-width: 300px; padding: 20px"></div>
      </ng-template>
      <joyrideStep
        joyrideStep="bv"
        title="Bem Vindo!"
        text="Agora você terá um tutorial de como o sistema de demandas funciona!"
        stepPosition="center"
      >
      </joyrideStep>
    </div>

    <div
      joyrideStep="dois"
      [title]="'Filtrar Demandas'"
      [stepContent]="customContent"
      [stepContentParams]="{ texto: textoTutorial[1] }"
      class="nav p-1 justify-content-center"
    >
      <div *ngIf="showPesquisaEBotaoFiltro" class="d-flex">
        <button
          (click)="exportExcel()"
          class="btn btn-success me-3"
          *ngIf="isFiltrado"
          [disabled]="nenhumResultadoEncontrado"
        >
          <i class="bi bi-filetype-csv" style="font-size: 17px"></i>
        </button>
        <div>
          <p-dropdown
            class="drop"
            [options]="opcoesOrdenacao"
            [(ngModel)]="ordenarSelect"
            placeholder="Ordenar"
            optionLabel="name"
            (onChange)="ordenar($event.value)"
          ></p-dropdown>
        </div>
        <span class="p-input-icon-left ms-3">
          <i class="pi pi-search"></i>
          <input
            type="text"
            class="border"
            pInputText
            placeholder="Pesquisar Demanda"
            [(ngModel)]="pesquisaDemanda"
            (ngModelChange)="mudouCampodePesquisa()"
          />
        </span>

        <button
          *ngIf="showPesquisaEBotaoFiltro && !tipoRascunho"
          class="btn btn-primary ms-3"
          (click)="mudarStatusFiltro()"
          style="width: 150px"
        >
          {{ "telas.tela-inicial.filtrar-mais" | translate }}
          <i class="bi bi-chevron-double-down"></i>
        </button>

      </div>

      <app-filtro-demanda
        @fadeAnimation
        *ngIf="showFiltro"
        (filtroAcionado)="pesquisarDemandas(undefined)"
        (closeFiltro)="mudarStatusFiltro()"
        class="me-3"
        (exportarExcel)="exportExcel()"
      >
      </app-filtro-demanda>
    </div>

    <!-- Trocar exibição de lista para card e vice-versa -->
    <div
      *ngIf="!tipoRascunho"
      [ngClass]="
        isFiltrado ? 'justify-content-between' : 'justify-content-end container'
      "
      style="overflow: auto"
      class="my-3 d-flex w-100"
    >
      <i
        *ngIf="isFiltrado"
        (click)="carregarDemandasIniciais()"
        class="bi bi-arrow-left"
        style="font-size: 25px; cursor: pointer"
      ></i>
      <div class="d-flex">
        <div
          joyrideStep="tres"
          [title]="'Trocar Exibição'"
          [stepContent]="customContent"
          [stepContentParams]="{ texto: textoTutorial[2] }"
          [ngClass]="{ 'color-actived': !tipoExibicaoDemanda }"
          (click)="changeToList()"
          class="change-type-list me-2"
        >
          <i class="bi bi-list" style="font-size: 15px"></i>
        </div>
        <div
          [ngClass]="{ 'color-actived': tipoExibicaoDemanda }"
          (click)="changeToCard()"
          class="change-type-list"
        >
          <i class="bi bi-border-all" style="font-size: 15px"> </i>
        </div>
      </div>
    </div>
  </nav>

  <!-- sidebar -->
  <app-sidebar-demanda
    [style.left.px]="showSidebar"
    (clicouNaSeta)="moveSidebar()"
    (clicouEmUmStatus)="
      pesquisarDemandas({ status: $event, pesquisaCampo: undefined })
    "
    style="
      position: fixed;
      z-index: 2;
      transition: left 0.3s ease 0s;
      top: 43vh;
    "
  ></app-sidebar-demanda>

  <div @fadeAnimation *ngIf="!tipoExibicaoDemanda">
    <!-- Parte Não Filtrada em Lista -->

    <div class="" *ngIf="!isFiltrado">
      <div *ngFor="let linha of listaTituloNaoFiltrado; let i = index">
        <div class="d-flex justify-content-between">
          <div style="width: 25%">
            <h5>{{ linha.titulo }}</h5>
            <hr style="margin: 0; opacity: 1" class="mb-2" />
          </div>
          <div
            class="me-3"
            style="align-self: flex-end; cursor: pointer"
            (click)="
              pesquisarDemandas({
                status: linha.status,
                pesquisaCampo: undefined
              })
            "
          >
            {{ "telas.tela-inicial.ver-mais" | translate }}
          </div>
        </div>
        <div
          class="d-flex justify-content-center align-items-center flex-column my-2"
          style="margin-left: auto; margin-right: auto"
        >
          <app-list-demanda
            *ngFor="
              let demanda of listaDemandas
                | filtrarDemandaStatus : linha.titulo
                | slice : 0 : 4
            "
            [dadosDemada]="demanda"
            (verDocumentoProposta)="openModalDemandaDocumento($event)"
            (irParaChat)="irParaChat($event)"
            (modalHistorico)="openModalHistorico($event)"
            (abrirModalCriarReuniao)="openModalCriarReuniao($event)"
            (abrirModalMotivoReprovacao)="modalMotivoReprovacao($event)"
            class="mb-2"
          >
          </app-list-demanda>

          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed[i]">
            <div
              class="d-flex justify-content-center align-items-center flex-column"
            >
              <app-list-demanda
                *ngFor="
                  let demanda of listaDemandas
                    | filtrarDemandaStatus : linha.titulo
                    | slice : 4
                "
                (irParaChat)="irParaChat($event)"
            (abrirModalMotivoReprovacao)="modalMotivoReprovacao($event)"
                (modalHistorico)="openModalHistorico($event)"
                (abrirModalCriarReuniao)="openModalCriarReuniao($event)"
                [dadosDemada]="demanda"
                class="mb-2"
              >
              </app-list-demanda>
            </div>
          </div>

          <!-- Bloco para expandir -->

          <div
            *ngIf="listaDemandas.length > 0"
            type="button"
            (click)="collapse.toggle()"
            class="btn btn-primary d-flex low-shadow rounded justify-content-center align-items-center"
            style="width: 30%; height: 30px"
          >
            <i
              class="bi bi-chevron-down text-light"
              [attr.aria-expanded]="!isCollapsed[i]"
              aria-controls="collapseExample"
              [ngClass]="!isCollapsed[i] ? 'inverte' : 'naoinverte'"
            >
            </i>
          </div>
        </div>
      </div>
    </div>

    <!-- Parte Filtrada em Lista -->

    <div *ngIf="isFiltrado">
      <div style="padding: 10px; margin-left: 6px"></div>
      <div class="container d-flex flex-column align-items-center">
        <app-list-demanda
          (irParaChat)="irParaChat($event)"
          (modalHistorico)="openModalHistorico($event)"
          *ngFor="let demanda of listaDemandas"
          [dadosDemada]="demanda"
          class="mb-2"
        >
        </app-list-demanda>
      </div>
    </div>
  </div>
  <div @fadeAnimation class="d-flex" *ngIf="tipoExibicaoDemanda && !isFiltrado">
    <!-- Parte não Filtrada em card -->
    <div *ngIf="listaDemandas.length != 0" class="bloco-branco" style="width: 10%"></div>
    <div class="tamanho-container" style="width: 80%">
      <div *ngFor="let linha of listaTituloNaoFiltrado; let i = index">
        <div class="my-4 tamanho-container">
          <div class="ms-3 title-demanda" for="status">
            <div style="width: 20%">
              <h5>{{ linha.titulo }}</h5>
              <hr style="margin: 0; opacity: 1" class="mb-2" />
            </div>
            <div
              class="me-3"
              style="align-self: flex-end; cursor: pointer"
              (click)="
                pesquisarDemandas({
                  status: linha.status,
                  pesquisaCampo: undefined
                })
              "
            >
              {{ "telas.tela-inicial.ver-mais" | translate }}
            </div>
          </div>
          <div
            class="d-flex position-relative"
            #tamanhoDaFila
            style="width: 100%"
          >
            <div
              [style.left.px]="positionListCards[i]"
              [id]="'filaCompleta' + i"
              class="div-cards d-flex position-relative transition-cards"
            >
              <app-card-demanda
                *ngFor="
                  let demanda of listaDemandas
                    | filtrarDemandaStatus : linha.titulo
                "
                (clicouEmExcluir)="carregarDemandasIniciais()"
                [dadosDemada]="demanda"
                (verDocumentoProposta)="openModalDemandaDocumento($event)"
                (irParaChat)="irParaChat($event)"
                (modalHistorico)="openModalHistorico($event)"
                (avancarStatusDemanda)="avancarStatusDemanda($event)"
                (abrirModalMotivoReprovacao)="modalMotivoReprovacao($event)"
                (abrirModalCriarReuniao)="openModalCriarReuniao($event)"
                (verDocumentoEmAta)="openModalAtaDocumento()"
              ></app-card-demanda>
            </div>
            <div
              *ngIf="positionListCards[i] != 0"
              class="left-arrow alinhacao"
              (click)="changeLeft(i)"
            >
              <i style="font-size: 25px" class="bi bi-chevron-left"></i>
            </div>
            <div class="right-arrow alinhacao" (click)="changeRight(i)">
              <i style="font-size: 25px" class="bi bi-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="listaDemandas.length != 0" class="bloco-branco" style="width: 10%"></div>
  </div>
  <div
    *ngIf="isFiltrado && tipoExibicaoDemanda"
    [ngClass]="{ 'mt-5': tipoRascunho }"
    style="width: -webkit-fill-available"
  >
    <div style="padding: 10px; margin-left: 6px"></div>

    <div class="container">
      <div class="row" *ngIf="tipoRascunho">
        <app-card-demanda
          [rascunho]="tipoRascunho"
          *ngFor="let demanda of listaDemandasRascunho; let i = index"
          [dadosDemada]="demanda"
          (abrirModalMotivoReprovacao)="modalMotivoReprovacao($event)"
          (abrirModalCriarReuniao)="openModalCriarReuniao($event)"
          (verDocumentoProposta)="openModalDemandaDocumento($event)"
          [mudarTamanho]="'100%'"
          (irParaChat)="irParaChat($event)"
          (avancarStatusDemanda)="avancarStatusDemanda($event)"
          (modalHistorico)="openModalHistorico($event)"
          (verDocumentoEmAta)="openModalAtaDocumento()"
          class="col-lg-6 col-xl-4 mb-3"
        >
        </app-card-demanda>
      </div>
      <div class="row" *ngIf="!tipoRascunho">
        <app-card-demanda
          *ngFor="let demanda of listaDemandas; let i = index"
          [dadosDemada]="demanda"
          (abrirModalMotivoReprovacao)="modalMotivoReprovacao($event)"
          (verDocumentoProposta)="openModalDemandaDocumento($event)"
          (clicouEmExcluir)="excluirDemandaRascunho(i)"
          (avancarStatusDemanda)="avancarStatusDemanda($event)"
          [mudarTamanho]="'100%'"
          (irParaChat)="irParaChat($event)"
          (modalHistorico)="openModalHistorico($event)"
          (abrirModalCriarReuniao)="openModalCriarReuniao($event)"
          (verDocumentoEmAta)="openModalAtaDocumento()"
          class="col-lg-6 col-xl-4 mb-3"
        >
        </app-card-demanda>
      </div>
    </div>
  </div>

  <div *ngIf="listaDemandas.length == 0 && nenhumResultadoEncontrado == false">
    <mat-spinner [diameter]="50" class="circle"></mat-spinner>
  </div>
  <div class="d-flex flex-column-reverse">
    <div *ngIf="isFiltrado && nenhumResultadoEncontrado == false" class="d-flex justify-content-center mt-3 mb-4">
      <p-paginator
        [rows]="1"
        [showJumpToPageDropdown]="true"
        [showPageLinks]="false"
        [totalRecords]="10"
        (onPageChange)="paginate($event)"
      ></p-paginator>
    </div>
    <div
      *ngIf="nenhumResultadoEncontrado == true"
      class="d-flex justify-content-center mt-3 mb-4"
    >
      <div style="display: grid; align-items: center; justify-content: center">
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <img
            style="width: 14vw"
            src="/assets/images/robo-not-found.png"
            alt="image"
          />
        </div>
        <div>
          <h5 style="font-family: unset; color: grey; text-align: center">
            {{ "telas.tela-inicial.sinto-muito" | translate }}
          </h5>
        </div>
        <div>
          <h5 style="font-family: unset; color: grey">
            {{ "telas.tela-inicial.demanda-nao-encontrada" | translate }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p-confirmDialog icon="pi pi-exclamation-triangle" #cd>
      <ng-template pTemplate="header">
        <h4>{{ cabecalhoMensagemDeConfirmacao }}</h4>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          type="button"
          (click)="cd.reject()"
          class="btn btn-outline-primary"
        >
          <i class="pi pi-times me-2"></i> {{ "telas.tela-inicial.modal-b-nao" | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="cd.accept()">
          <i class="pi pi-check me-2"></i> {{ "telas.tela-inicial.modal-b-sim" | translate }}
        </button>
      </ng-template></p-confirmDialog
    >
  </div>
  <div>
    <p-confirmDialog
      icon="pi pi-exclamation-triangle"
      key="motivoReprovacao"
      #bt
      [style]="{ width: '40vw' }"
    >
      <ng-template pTemplate="footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="bt.accept()"
        >
          <i class="pi pi-sync me-2"></i> {{ "telas.tela-inicial.modal-b-reformular" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="bt.reject()"
        >
          <i class="pi pi-check me-2"></i> {{ "telas.tela-inicial.modal-b-ok" | translate }}
        </button>
      </ng-template></p-confirmDialog
    >
  </div>
</div>
<p-toast></p-toast>