<div>
    <nav class="nav my-4 justify-content-between">
        <div class="low-shadow ms-5 rounded">
            <button class="btn btn-primary" routerLink="/tela-inicial/proposta/1">
                + Criar Demanda
            </button>
        </div>
        <ul class="nav justify-content-center">
            <div class="low-shadow me-3 rounded">                
                <button class="btn btn-primary" *ngIf="isFiltrado">Exportar Resultados</button>
            </div>
            <div class="div-input me-3 low-shadow">
                <i class="bi bi-search px-2 "></i> <input class="input" type="text" placeholder="Pesquisar Demanda">
            </div>
            <button class="btn btn-primary" (click)="isFiltrado = !isFiltrado"></button>
            <div class="low-shadow me-3 rounded">
                <button class="btn btn-primary" (click)="openModalFiltroDemandas()">
                    Filtrar Mais
                </button>
            </div>
        </ul>
    </nav>
    <app-sidebar-demanda [style.left.vw]="showSidebar" (click)="moveSidebar()"
        style="position: fixed; z-index: 2; transition: left 0.3s ease 0s;"></app-sidebar-demanda>
    <div class="me-3 d-flex justify-content-between">
        <div class="rounded low-shadow ms-5 mb-2" *ngIf="isFiltrado">
            <button class="btn btn-primary">Ordenar</button>
        </div>
        <div *ngIf="!isFiltrado"></div>
        <div class="d-flex">
            <div [ngClass]="{'color-actived': !tipo_exibicao_demanda}" (click)="change_to_list()"
                class="change-type-list me-2"><i class="bi bi-list" style="font-size:20px;"></i></div>
            <div [ngClass]="{'color-actived': tipo_exibicao_demanda}" (click)="change_to_card()" class="change-type-list"><i
                    class="bi bi-grid-3x3-gap-fill" style="font-size:20px;"></i></div>
        </div>
    </div>
    <div *ngIf="!tipo_exibicao_demanda">
        <div class="m-5" *ngIf="!isFiltrado">
            <div class="border low-shadow">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 style="text-decoration-line: underline;" class="my-3 ms-4">STATUS: Backlog - Classificação</h5>
                    <i type="button" class="bi bi-chevron-down me-4" (click)="collapse.toggle()"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"
                        [ngClass]="!isCollapsed ? 'inverte': 'naoinverte'">
                    </i>
                </div>
                <div class=" d-flex justify-content-center align-items-center flex-column my-4"
                    style="margin-left:auto; margin-right:auto">
                    <app-list-demanda class="mb-2"></app-list-demanda>
                    <app-list-demanda class="mb-2"></app-list-demanda>
                    <app-list-demanda class="mb-2"></app-list-demanda>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        <div class="d-flex justify-content-center align-items-center flex-column ">
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                            <app-list-demanda class="mb-2"></app-list-demanda>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isFiltrado">
            <div class="container d-flex flex-column align-items-center">
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
                <app-list-demanda class="mb-2"></app-list-demanda>
            </div>
        </div>
    </div>

    <div class="d-flex" *ngIf="tipo_exibicao_demanda">
        <div class="bloco-branco"></div>
        <div class="tamanho-container" *ngIf="!isFiltrado">
            <div class="my-4">
                <div class="ms-3 title-demanda" for="status">
                    <h5 style="text-decoration-line: underline;">STATUS: Backlog - Classificação</h5>
                    <div class="me-3" style="align-self: flex-end; cursor: pointer;">Ver mais</div>
                </div>
                <div class="d-flex position-relative" style="width: 100%;">
                    <div [style.left.px]="position_list_cards"
                        class="div-cards d-flex position-relative transition-cards">
                        <app-card-demanda (abrirModal)="openModalMotivoDevolucao()"></app-card-demanda>
                        <app-card-demanda></app-card-demanda>
                        <app-card-demanda></app-card-demanda>
                        <app-card-demanda></app-card-demanda>
                        <app-card-demanda></app-card-demanda>
                        <app-card-demanda></app-card-demanda>
                        <app-card-demanda></app-card-demanda>
                    </div>
                    <div class="left-arrow alinhacao" (click)="change_left()"><i style="font-size: 25px;"
                            class="bi bi-chevron-left"></i></div>
                    <div class="right-arrow alinhacao" (click)="change_right()"><i style="font-size: 25px;"
                            class="bi bi-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isFiltrado">
        <div class="container">
            <div class="row">
                <app-card-demanda [mudarTamanho]="'100%'" class="col-sm-6 mb-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100%'" class="col-sm-6 mb-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100%'" class="col-sm-6 mb-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100%'" class="col-sm-6 mb-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100%'" class="col-sm-6 mb-3"></app-card-demanda>                
            </div>
        </div>
    </div>
</div>