
.right-arrow{
    position:absolute;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.26);
}
.inverte{
    transform: rotate(180deg);
    transition: 0.5s;
}
.naoinverte{
    transform: rotate(0);
    transition: 0.5s;
}

.bloco-branco{
    background-color: white;
    padding: 3vw;
    z-index: 1;
}
.left-arrow{
    position:absolute;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.26);
}
.transition-cards{
    transition-property: left, right;
    transition-duration: 500ms;
}
.div-cards{
    column-gap: 7px;
}
.alinhacao{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor:pointer;
}
.tamanho-container{
    width: 93vw;
    
}
.input{
    outline: none;
    border:none;
}
.div-input{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
.title-demanda{
    display: flex;
    justify-content: space-between;
}
.change-type-list{
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 510px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.change-type-list:hover{
    background-color: rgb(196, 193, 193);
    transition: 400ms;
}
.color-actived{
    background: #00579D!important;
    color: white;
}