<h4 mat-dialog-title class="d-flex justify-content-between">
  <span falarTexto
    ><b>{{ "documento-pdf.solicitante" | translate }}: </b
    >{{ dadosDemanda?.solicitanteDemanda?.nomeUsuario }}</span
  >
  <span falarTexto
    ><b>{{ "documento-pdf.data" | translate }} </b>
    {{ dadosDemanda?.dataCriacaoDemanda | date : "dd/MM/yyyy" }}</span
  >
</h4>
<h4 falarTexto>
  <b>{{ "documento-pdf.departamento" | translate }}: </b>
  {{
    dadosDemanda?.solicitanteDemanda?.departamentoUsuario
      ?.nomeDepartamento
  }}
</h4>
<h4 falarTexto class="d-flex justify-content-center">
  <b
    >{{ dadosDemanda?.tituloDemanda }} –
    {{ dadosDemanda?.codigoDemanda }}</b
  >
</h4>
<div class="espacamento mb-3" *ngIf="dadosDemanda?.tamanhoDemandaClassificada">
  <h3 class="h3"><strong>Dados da classificação do Analista: </strong> {{dadosDemanda?.analista?.nomeUsuario}}</h3>
  <p><b>Tamanho da Demanda: </b>{{dadosDemanda?.tamanhoDemandaClassificada}}</p>
  <p><b>BU Solicitante: </b>{{dadosDemanda?.buSolicitanteDemandaClassificada}}</p>
  <p><b>BUs Beneficiadas: </b><span *ngFor="let bu of dadosDemanda?.busBeneficiadasDemandaClassificada">{{bu}}</span></p>
  <p><b>Seção de TI Responsável: </b>{{dadosDemanda?.secaoDemandaClassificada}}</p>
</div>

<h4 falarTexto>
  <b>{{ "documento-pdf.objetivo" | translate }}</b>
</h4>
<p falarTexto [innerHTML]="dadosDemanda?.objetivoDemanda"></p>

<h4 falarTexto>
  <b>{{ "documento-pdf.situacao-atual" | translate }} </b>
</h4>
<p [innerHTML]="dadosDemanda?.situacaoAtualDemanda"></p>

<h4 falarTexto>
  <b>{{ "documento-pdf.beneficio-real" | translate }} </b
  >{{ dadosDemanda?.beneficioRealDemanda?.valorBeneficio }}
  {{ "documento-pdf.mensais" | translate }}
</h4>
<p falarTexto>
  <b>{{ "documento-pdf.memoria-calculo-beneficio-real" | translate }} </b>
</p>
<ul>
  <li falarTexto style="word-wrap: break-word">
    {{ dadosDemanda?.beneficioRealDemanda?.memoriaDeCalculoBeneficio }}
  </li>
</ul>
<h4 falarTexto>
  <b>{{ "documento-pdf.beneficio-potencial" | translate }} </b
  >{{ dadosDemanda?.beneficioPotencialDemanda?.valorBeneficio }}
  {{ "documento-pdf.mensais" | translate }}
</h4>
<p falarTexto>
  <b
    >{{ "documento-pdf.memoria-calculo-beneficio-potencial" | translate }}
  </b>
</p>
<ul falarTexto>
  <li style="word-wrap: break-word">
    {{
      dadosDemanda?.beneficioPotencialDemanda?.memoriaDeCalculoBeneficio
    }}
  </li>
</ul>
<h4 falarTexto>
  <b>{{ "documento-pdf.beneficio-qualitativo" | translate }} </b>
</h4>
<ul falarTexto>
  <li style="word-wrap: break-word">
    {{ dadosDemanda?.beneficioQualitativoDemanda }}
  </li>
</ul>
<p falarTexto>
  <b>{{ "documento-pdf.frequencia-uso-sistema" | translate }} </b>
  {{ dadosDemanda?.frequenciaDeUsoDemanda }}
</p>

<div
  class="fazer ng-if"
  *ngIf="dadosDemanda?.inicioExDemandaProposta != null"
>
  <h4 falarTexto>
    <b>{{ "documento-pdf.escopo-projeto" | translate }} </b>
  </h4>
  <div falarTexto [innerHTML]="dadosDemanda?.escopoDemandaProposta"></div>
  <h4 falarTexto>
    <b>{{
      "documento-pdf.resultados-esperados-qualitativos" | translate
    }}</b>
    {{ dadosDemanda?.beneficioQualitativoDemanda }}
  </h4>
  <h4 falarTexto>
    <b>{{
      "documento-pdf.resultados-esperados-potenciais" | translate
    }}</b>
    {{ dadosDemanda?.beneficioPotencialDemanda?.valorBeneficio }}
    {{
      dadosDemanda?.beneficioPotencialDemanda?.memoriaDeCalculoBeneficio
    }}
  </h4>
  <h4>
    <b>{{
      "documento-pdf.responsavel-proposta" | translate
      }}</b>
  </h4>
  <b falarTexto>
    {{ "documento-pdf.responsaveis-negocio" | translate | titlecase }}
  </b>
  <ol>
    <li falarTexto *ngFor="let responsavel of dadosDemanda?.responsavelProposta">
      {{ responsavel }}
    </li>
  </ol>

  <p falarTexto>
    <b> {{ "documento-pdf.custos-totais" | translate }}</b> R${{
      custosTotais
    }}
  </p>

  <table class="table">
    <thead>
      <tr>
        <th falarTexto scope="col">
          {{ "documento-pdf.recursos-necessarios" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.tipo-despesa" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.perfil-despesa" | translate }}
        </th>
        <th falarTexto scope="col">{{ "documento-pdf.cc-pagante" | translate }}</th>
        <th falarTexto scope="col">{{ "documento-pdf.qtd-horas" | translate }}</th>
        <th falarTexto scope="col">{{ "documento-pdf.valor-hora" | translate }}</th>
        <th falarTexto scope="col">
          {{ "documento-pdf.periodo-execucao-mensal" | translate }}
        </th>
      </tr>
    </thead>

    <tbody
      class="table-group-divider"
    >
      <tr
      *ngFor="let itemRecurso of dadosDemanda?.recursosProposta">
        <td falarTexto>
          {{ itemRecurso.nomeRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.tipoDespesaRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.perfilDespesaRecurso }}
        </td>
        <td falarTexto>
          <p
            *ngFor="
              let centroCustoPagante of itemRecurso.centroCustoRecurso
            "
          >
            {{ centroCustoPagante.nomeCentroCusto }}:
            {{ centroCustoPagante.porcentagemCentroCusto }}%
          </p>
        </td>
        <td falarTexto>
          {{ itemRecurso.quantidadeHorasRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.valorHoraRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.periodoExMesesRecurso }}
        </td>
      </tr>
    </tbody>
  </table>

  <p falarTexto>
    <b>
      {{ "documento-pdf.periodo-execucao" | translate }}
    </b>
    {{ dadosDemanda?.inicioExDemandaProposta | date : "dd/MM/yyyy" }} à
    {{ dadosDemanda?.fimExDemandaProposta | date : "dd/MM/yyyy" }}
  </p>
  <p falarTexto>
    <b>
      {{ "documento-pdf.payback" | translate }}
    </b>
    {{ dadosDemanda?.paybackProposta }}
  </p>
</div>

<div class="mb-5" *ngIf="dadosDemanda?.arquivosDemanda?.length != 0">
  <h4 falarTexto>
    <b>{{ "documento-pdf.documentos" | translate }} </b>
    <a falarTexto
      *ngFor="let arquivo of dadosDemanda?.arquivosDemanda"
      role="button"
      (click)="download(arquivo)"
    >
      {{ arquivo.nomeArquivo }}
    </a>
  </h4>
</div>
