<p mat-dialog-title class="d-flex justify-content-between">
  <span falarTexto><b>{{ "documento-pdf.solicitante" | translate }}: </b>{{
    dadosDemanda?.solicitanteDemanda?.nomeUsuario }}</span>
  <span falarTexto><b>{{ "documento-pdf.data" | translate }} </b>
    {{ dadosDemanda?.dataCriacaoDemanda | date : "dd/MM/yyyy" }}</span>
</p>
<p falarTexto>
  <b>{{ "documento-pdf.departamento" | translate }}: </b>
  {{ dadosDemanda?.solicitanteDemanda?.departamentoUsuario?.nomeDepartamento }}
</p>
<p falarTexto class="d-flex justify-content-center">
  <b>{{ dadosDemanda?.tituloDemanda }} – {{ dadosDemanda?.codigoDemanda }}</b>
</p>
<div class="espacamento mb-3" *ngIf="dadosDemanda?.tamanhoDemandaClassificada">
  <h3 class="h3"><strong>{{ "documento-pdf.dados-classificacao" | translate }} </strong>
    {{dadosDemanda?.analista?.nomeUsuario}}</h3>
  <p><b>{{ "documento-pdf.tamanho-demanda" | translate }} </b>{{dadosDemanda?.tamanhoDemandaClassificada}}</p>
  <p><b>{{ "documento-pdf.bu-solicitante" | translate }} </b>{{dadosDemanda?.buSolicitanteDemandaClassificada}}</p>
  <p><b>{{ "documento-pdf.bu-beneficiada" | translate }} </b><span
      *ngFor="let bu of dadosDemanda?.busBeneficiadasDemandaClassificada">{{bu}}</span></p>
  <p><b>{{ "documento-pdf.secao-responsavel" | translate }} </b>{{dadosDemanda?.secaoDemandaClassificada}}</p>
</div>
<p falarTexto>
  <strong>{{ "documento-pdf.objetivo" | translate }}</strong>
</p>
<p falarTexto [innerHTML]="dadosDemanda?.objetivoDemanda"></p>
<p falarTexto>
  <b>{{ "documento-pdf.situacao-atual" | translate }} </b>
</p>
<p [innerHTML]="dadosDemanda?.situacaoAtualDemanda"></p>
<p falarTexto>
  <b>{{ "documento-pdf.beneficio-real" | translate }} </b>{{ dadosDemanda?.beneficioRealDemanda?.valorBeneficio }}
  {{ "documento-pdf.mensais" | translate }}
</p>
<p falarTexto>
  <b>{{ "documento-pdf.memoria-calculo-beneficio-real" | translate }} </b>
</p>
<ul>
  <li falarTexto style="word-wrap: break-word">
    {{ dadosDemanda?.beneficioRealDemanda?.memoriaDeCalculoBeneficio }}
  </li>
</ul>
<p falarTexto>
  <b>{{ "documento-pdf.beneficio-potencial" | translate }} </b>{{
  dadosDemanda?.beneficioPotencialDemanda?.valorBeneficio }}
  {{ "documento-pdf.mensais" | translate }}
</p>
<p falarTexto>
  <b>{{ "documento-pdf.memoria-calculo-beneficio-potencial" | translate }} </b>
</p>
<ul falarTexto>
  <li style="word-wrap: break-word">
    {{ dadosDemanda?.beneficioPotencialDemanda?.memoriaDeCalculoBeneficio }}
  </li>
</ul>
<p falarTexto>
  <b>{{ "documento-pdf.beneficio-qualitativo" | translate }} </b>
</p>
<ul falarTexto>
  <li style="word-wrap: break-word">
    {{ dadosDemanda?.beneficioQualitativoDemanda }}
  </li>
</ul>
<p falarTexto>
  <b>{{ "documento-pdf.frequencia-uso-sistema" | translate }} </b>
  {{ dadosDemanda?.frequenciaDeUsoDemanda }}
</p>
<div class="fazer ng-if" *ngIf="dadosDemanda?.inicioExDemandaProposta != null">
  <p falarTexto>
    <b>{{ "documento-pdf.escopo-projeto" | translate }} </b>
  </p>
  <div falarTexto [innerHTML]="dadosDemanda?.escopoDemandaProposta"></div>
  <p falarTexto>
    <b>{{ "documento-pdf.resultados-esperados-qualitativos" | translate }}</b>
    {{ dadosDemanda?.beneficioQualitativoDemanda }}
  </p>
  <p falarTexto>
    <b>{{ "documento-pdf.resultados-esperados-potenciais" | translate }}</b>
    {{ dadosDemanda?.beneficioPotencialDemanda?.valorBeneficio }}
    {{ dadosDemanda?.beneficioPotencialDemanda?.memoriaDeCalculoBeneficio }}
  </p>
  <b falarTexto>
    {{ "documento-pdf.responsaveis-negocio" | translate | titlecase }}
  </b>
  <ol>
    <li falarTexto *ngFor="let responsavel of dadosDemanda?.responsavelProposta">
      {{ responsavel }}
    </li>
  </ol>
  <p falarTexto>
    <b> {{ "documento-pdf.custos-totais" | translate }}</b> {{ "documento-pdf.din" | translate }}{{
    custosTotais
    }}
  </p>
  <table class="table">
    <thead>
      <tr>
        <th falarTexto scope="col">
          {{ "documento-pdf.recursos-necessarios" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.tipo-despesa" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.perfil-despesa" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.cc-pagante" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.qtd-horas" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.valor-hora" | translate }}
        </th>
        <th falarTexto scope="col">
          {{ "documento-pdf.periodo-execucao-mensal" | translate }}
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let itemRecurso of dadosDemanda?.recursosProposta">
        <td falarTexto>
          {{ itemRecurso.nomeRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.tipoDespesaRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.perfilDespesaRecurso }}
        </td>
        <td falarTexto>
          <p *ngFor="let centroCustoPagante of itemRecurso.centroCustoRecurso">
            {{ centroCustoPagante.nomeCentroCusto }}:
            {{ centroCustoPagante.porcentagemCentroCusto }}%
          </p>
        </td>
        <td falarTexto>
          {{ itemRecurso.quantidadeHorasRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.valorHoraRecurso }}
        </td>
        <td falarTexto>
          {{ itemRecurso.periodoExMesesRecurso }}
        </td>
      </tr>
    </tbody>
  </table>
  <p falarTexto>
    <b>
      {{ "documento-pdf.periodo-execucao" | translate }}
    </b>
    {{ dadosDemanda?.inicioExDemandaProposta | date : "dd/MM/yyyy" }} {{ "documento-pdf.a" | translate }}
    {{ dadosDemanda?.fimExDemandaProposta | date : "dd/MM/yyyy" }}
  </p>
  <p falarTexto>
    <b>
      {{ "documento-pdf.payback" | translate }}
    </b>
    {{ dadosDemanda?.paybackProposta }}
  </p>
  <p falarTexto>
    <b>
      Link Jira:
    </b>
    <a [href]="dadosDemanda?.jiraProposta" target="_blank">
      {{ dadosDemanda?.jiraProposta }}
    </a>
  </p>
</div>
<div class="mb-5" *ngIf="dadosDemanda?.arquivosDemanda?.length != 0">
  <p falarTexto>
    <b>{{ "documento-pdf.documentos" | translate }} </b>
    <a falarTexto *ngFor="let arquivo of dadosDemanda?.arquivosDemanda" role="button" (click)="download(arquivo)">
      {{ arquivo.nomeArquivo }}
    </a>
  </p>
</div>
<div>
  <div *ngIf="dadosDemanda?.parecerComissaoProposta != undefined">
    <p>
      <b>Parecer da Comissão: </b>
      <span>{{ dadosDemanda?.parecerComissaoProposta }}</span>
    </p>
    <p>
      <b>Decisão da Comissão: </b>
      <span>{{ dadosDemanda?.ultimaDecisaoComissao }}</span>
    </p>
  </div>
  <div *ngIf="dadosDemanda?.parecerDGProposta != undefined">
    <p>
      <b>Parecer da Diretoria Geral: </b>
      <span>{{ dadosDemanda?.parecerDGProposta }}</span>
    </p>
    <p>
      <b>Decisão da Diretoria Geral: </b>
      <span>{{ dadosDemanda?.decisaoDG }}</span>
    </p>
    <p>
      <b>Número da Ata da Diretoria Geral: </b>
      <span>{{ dadosDemanda?.numAtaDG }}</span>
    </p>
    <div *ngIf="dadosDemanda?.arquivoDG != undefined">
      <b>Arquivo Diretoria Geral: </b>
      <span><a falarTexto role="button" (click)="download(dadosDemanda?.arquivoDG)">
          {{ dadosDemanda?.arquivoDG?.nomeArquivo }}
        </a></span>
    </div>
  </div>
</div>