<nav class="nav position-relative">
    <ul class="nav flex-column container-sidebar" style="width: 25vw">
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-backlog"></div>
            <a class="nav-link active" aria-current="page" href="#">Backlog</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-assessment"></div>
            <a class="nav-link" href="#">Assessment</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-bussines-case"></div>
            <a class="nav-link" href="#">Bussines Case</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-to-do"></div>
            <a class="nav-link">To-do</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-design-and-build"></div>
            <a class="nav-link">Design and Build</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-support"></div>
            <a class="nav-link">Support</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-cancelled"></div>
            <a class="nav-link">Cancelled</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-done"></div>
            <a class="nav-link">Done</a>
        </li>

    </ul>

    <div class="barra-direita"><i class="bi bi-chevron-right "></i></div>
</nav>