<nav class="nav position-relative">
    <ul class="nav flex-column container-sidebar" style="width: 25vw">
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item backlog"></div>
            <a class="nav-link active" aria-current="page" href="#">Backlog</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item assessment"></div>
            <a class="nav-link" href="#">Assessment</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item business-case"></div>
            <a class="nav-link" href="#">Bussines Case</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item to-do"></div>
            <a class="nav-link">To-do</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item design-and-build"></div>
            <a class="nav-link">Design and Build</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item support"></div>
            <a class="nav-link">Support</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item cancelled"></div>
            <a class="nav-link">Cancelled</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item done"></div>
            <a class="nav-link">Done</a>
        </li>

    </ul>

    <div class="barra-direita" role="button" matRipple><i class="bi bi-chevron-right "></i></div>
</nav>