.barra-nav-item {
    width: 7px;
}

.nav-item {
    background-color: #4889B8;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #4281ac;
    transition: 0.3s;
}

.barra-nav-item {
    border-right: 1px solid white;
}

.nav-link {
    color: white
}

.barra-direita {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.349)
}

.barra-direita:hover {
    background-color: rgba(0, 0, 0, 0.596);
    transition: 0.3s;
}

.inverte {
    transform: rotate(180deg);
    transition: 0.5s;
}

.naoinverte {
    transform: rotate(0);
    transition: 0.5s;
}

@media screen and (max-width: 600px) {
    a {
        font-size: 8px;
    }
}

@media screen and (min-width: 600px) {
    a {
        font-size: 8px;
    }
}

@media screen and (min-width: 700px) {
    a {
        font-size: 9px;
    }
}

@media screen and (min-width: 850px) {
    a {
        font-size: 10px;
    }
}

@media screen and (min-width: 1090px) {
    a {
        font-size: 11px;
    }
}

@media screen and (min-width: 1250px) {
    a {
        font-size: 12px;
    }
}

@media screen and (min-width: 1251px) {
    a {
        font-size: 14px;
    }
}