::ng-deep .p-inputtext{
    width:100%
}
::ng-deep .p-inputnumber	{
      width: 100%;


}

label{
    margin-top: 20px;
}
.escopo-demanda{

    border: 1px solid #dee2e6 !important;
    border-radius: 5px !important;
    width: 100%;
    height: 50vh;
}
