:host ::ng-deep .p-inputtext{
    width:100%
}
:host ::ng-deep .p-inputnumber	{
      width: 100%;
}
:host ::ng-deep .dropDespesa{
    width:90%;
}

:host ::ng-deep .dropStatus{
    width: 30%;
}

:host ::ng-deep .p-chips .p-chips-multiple-container .p-chips-token {
    background-color: #00579D !important;
}

label, i{
    margin-top: 20px;
}

.escopo-demanda{
    border: 1px solid #dee2e6 !important;
    border-radius: 5px !important;
    width: 100%;
    min-height: 50vh;
}
