<form class="container" [formGroup]="formProposta" (onSubmit)="onSubmit()">
  <h3 falarTexto class="mt-4" spyTarget="proposta">
    {{ "telas.proposta.proposta" | translate }}
  </h3>
  <hr />

  <div
    class="campo"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    "
  >
    <div class="w-100">
      <div class="d-flex justify-content-between">
        <div class="titulo" style="display: grid; width: 28vw; height: 9vh">
          <div
            class="infos"
            style="display: flex; align-items: center; width: 28vw"
          >
            <label
              falarTexto
              style="font-weight: 500"
              class="me-2"
              for="time"
              >{{ "telas.proposta.prazo-elaboracao" | translate }}</label
            >
            <i
              falarTexto
              class="bi bi-info-circle me-2"
              style="font-size: 0.9rem; color: #00579d; cursor: pointer"
              pTooltip="Em quanto tempo a proposta ficará pronta?"
              tooltipPosition="top"
            ></i>
          </div>
          <p-calendar
            (ngModelChange)="onInputChange()"
            placeholder="Clique para Agendar"
            formControlName="prazoProposta"
            [showTime]="true"
            [dataType]="'dd/mm/yy'"
            [showSeconds]="true"
            inputId="time"
            [minDate]="dataAtual"
          ></p-calendar>
        </div>

        <div class="titulo" style="display: grid; width: 32vw; height: 9vh">
          <div
            class="infos"
            style="display: flex; align-items: center; width: 28vw"
          >
            <label
              falarTexto
              style="font-weight: 500"
              class="me-2"
              for="time"
              >{{ "telas.proposta.codigo-ppm" | translate }}</label
            >
            <i
              falarTexto
              class="bi bi-info-circle me-2"
              style="font-size: 0.9rem; color: #00579d; cursor: pointer"
              pTooltip="Qual o código do SAP?"
              tooltipPosition="top"
            ></i>
          </div>
          <!-- Ta aparecendo o 0 por causa do formControlName -->
          <p-inputNumber 
            inputEmFoco 
            [min]="0"
            mode="decimal" 
            (input)="onInputChange()"
            placeholder="Ex: 458"
            inputId="withoutgrouping" 
            formControlName="codigoPPMProposta"
            [useGrouping]="false"> 
          </p-inputNumber>
        </div>
      </div>
      <div class="titulo" style="display: grid" id="item-1-1">
        <div
          class="infos"
          style="display: flex; align-items: center; width: 28vw"
        >
          <label falarTexto style="font-weight: 500" class="me-2" for="time">{{
            "telas.proposta.link-jira" | translate
          }}</label>
          <i
            falarTexto
            class="bi bi-info-circle me-2"
            style="font-size: 0.9rem; color: #00579d; cursor: pointer"
            pTooltip="Insira a URL que aparece ao topo da sua página do JIRA"
            tooltipPosition="top"
          ></i>
        </div>
        <input
          inputEmFoco
          (input)="onInputChange()"
          placeholder="Ex: https://jiraprojetoweg.atlassian.net/jira/software/projects/LOW/boards/3"
          type="text"
          pInputText
          class="input"
          formControlName="jiraProposta"
        />
      </div>
    </div>
  </div>
  <h3 falarTexto class="mt-4" spyTarget="recursosTarget">
    {{ "telas.proposta.recursos" | translate }}
  </h3>
  <hr />
  <p-table
    *ngIf="listaRecursos.length != 0"
    [value]="listaRecursos"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th falarTexto>
          {{ "telas.proposta.recurso-necessario" | translate }}
        </th>
        <th falarTexto>{{ "telas.proposta.tipo-despesa" | translate }}</th>
        <th falarTexto>{{ "telas.proposta.perfil-despesa" | translate }}</th>
        <th falarTexto>
          {{ "telas.proposta.centro-custo-pagante" | translate }}
        </th>
        <th falarTexto>{{ "telas.proposta.quantidade-horas" | translate }}</th>
        <th falarTexto>{{ "telas.proposta.valor-hora" | translate }}</th>
        <th falarTexto>{{ "telas.proposta.periodo-execucao" | translate }}</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recursos let-index="rowIndex">
      <tr>
        <td falarTexto>{{ recursos.nomeRecurso }}</td>
        <td falarTexto>{{ recursos.tipoDespesaRecurso | titlecase }}</td>
        <td falarTexto>{{ recursos.perfilDespesaRecurso }}</td>
        <td falarTexto>
          <span falarTexto *ngFor="let centro of recursos.centroCustoRecurso"
            >{{ centro.nomeCentroCusto }} -
            {{ centro.porcentagemCentroCusto }}%<br
          /></span>
        </td>
        <td falarTexto>{{ recursos.quantidadeHorasRecurso }}</td>
        <td falarTexto>{{ recursos.valorHoraRecurso }}</td>
        <td falarTexto>{{ recursos.periodoExMesesRecurso }}</td>
        <td (click)="editarRecurso(index)">
          <i role="button" class="bi bi-pencil"></i>
        </td>
        <td (click)="removerRecurso(index)">
          <i role="button" class="bi bi-x"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <tr>
        <td falarTexto class="text-right">
          {{ "telas.proposta.custos-totais" | translate }}
          {{ custosTotais | currency : "BRL" }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div [formGroup]="formRecursos">
    <div class="row">
      <div class="col-3">
        <label falarTexto class="mt-1" for="Recurso Necessário:"
          >{{ "telas.proposta.recurso-necessario" | translate }}:</label
        >
        <input
          inputEmFoco
          (input)="onInputChange()"
          placeholder="Ex: Programador Back-end"
          type="text"
          required="true"
          pInputText
          class="input"
          formControlName="nomeRecurso"
        />
      </div>

      <div class="col-3" style="display: grid; padding-right: 0px !important">
        <label falarTexto class="mt-1" for="Recurso Necessário:"
          >{{ "telas.proposta.perfil-despesa" | translate }}:</label
        >
        <p-dropdown
          (onChange)="onInputChange()"
          styleClass="dropDespesa"
          placeholder="Ex: Interna"
          type="text"
          [required]="true"por
          [options]="perfilDaDespesa"
          optionValue="value"
          optionLabel="tipo"
          formControlName="perfilDespesaRecurso"
        >
        </p-dropdown>
      </div>

      <div class="col-3" style="padding-left: 0px !important">
        <label falarTexto class="mt-1" for="Recurso Necessário:"
          >{{ "telas.proposta.valor-hora" | translate }}:</label
        >
        <div style="width: 100%; display: grid">
          <p-inputNumber
            [min]="0"
            inputEmFoco
            (input)="onInputChange()"
            placeholder="Ex: R$55,00"
            [required]="true"
            type="text"
            class="input"
            formControlName="valorHoraRecurso"
          >
          </p-inputNumber>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label falarTexto class="mt-1" for="Recurso Necessário:">
          {{ "telas.proposta.quantidade-horas" | translate }}:</label
        >
        <div style="width: 100%; display: grid">
          <p-inputNumber
            [min]="0"
            inputEmFoco
            (input)="onInputChange()"
            placeholder="Ex: 220"
            type="text"
            class="input"
            [required]="true"
            formControlName="quantidadeHorasRecurso"
          >
          </p-inputNumber>
        </div>
      </div>

      <div class="col-3" style="display: grid; padding-right: 0px !important">
        <label falarTexto class="mt-1" for="Recurso Necessário:"
          >{{ "telas.proposta.tipo-despesa" | translate }}:</label
        >
        <p-dropdown
          (onChange)="onInputChange()"
          styleClass="dropDespesa"
          [options]="tipoDaDespesa"
          optionValue="value"
          optionLabel="tipo"
          [required]="true"
          placeholder="Selecione o Tipo"
          formControlName="tipoDespesaRecurso"
          [showClear]="true"
         
        >
        </p-dropdown>
      </div>

      <div class="col-3" style="padding-left: 0px !important">
        <label falarTexto class="mt-1" for="Recurso Necessário:"
          >{{ "telas.proposta.periodo-execucao" | translate }}:</label
        >
        <div style="width: 100%; display: grid">
          <p-inputNumber
            [min]="0"
            inputEmFoco
            (input)="onInputChange()"
            placeholder="Ex: 5"
            [required]="true"
            type="text"
            class="input"
            formControlName="periodoExMesesRecurso"
          >
          </p-inputNumber>
        </div>
      </div>
    </div>
    <div formArrayName="centroCustoRecurso" class="row align-items-center">
      <label falarTexto class="mt-1" for="Recurso Necessário:"
        >{{ "telas.proposta.centros-custo" | translate }}:</label
      >
      <div style="width: 50%; display: -webkit-box">
        <div class="d-flex flex-column">
          <div
            *ngFor="
              let centroCusto of formRecursos.controls.centroCustoRecurso
                .controls;
              let i = index
            "
            style="flex-wrap: wrap"
            class="mb-1"
          >
            <div [formGroupName]="i" class="d-flex">
              <div class="p-inputgroup" style="margin-right: 0.5vw">
                <p-inputNumber
                  [min]="0"
                  inputEmFoco
                  (input)="onInputChange()"
                  style="width: 8vw"
                  [id]="'porcentagemListaReuniao' + i"
                  
                  [required]="true"
                  formControlName="porcentagemCentroCusto"
                  placeholder="Porcentagem"
                ></p-inputNumber>
                <span class="p-inputgroup-addon">%</span>
              </div>
              <input
                inputEmFoco
                (input)="onInputChange()"
                style="width: 10vw; margin-right: 0.5vw"
                [id]="'nomeCentroCusto' + i"
                pInputText
                [required]="true"
                formControlName="nomeCentroCusto"
                placeholder="Centro de Custo"
              />
              <button
                (click)="removerCentroDeCusto(i)"
                [disabled]="
                  this.formRecursos.controls.centroCustoRecurso.length == 1
                "
                class="btn btn-danger"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <button
          class="btn btn-outline-primary ms-2"
          [disabled]="
            !formRecursos.controls.centroCustoRecurso.valid || !resultado
          "
          (click)="adicionarCentroCusto()"
        >
          <i class="bi bi-plus-lg" style="font-size: 19px"></i>
        </button>
      </div>
    </div>

    <div class="">
      <button
        falarTexto
        class="btn btn-primary mt-3"
        [disabled]="!formRecursos.valid"
        (click)="addRowRecurso()"
      >
        {{ "telas.proposta.adicionar-recurso" | translate }}
      </button>
    </div>
  </div>
  <h3 falarTexto class="mt-4" spyTarget="escopo">
    {{ "telas.proposta.escopo" | translate }}
  </h3>
  <hr />
  <div>
    <div class="infos" style="display: flex; align-items: center; width: 28vw">
      <label falarTexto style="font-weight: 500" class="me-2" for="time">{{
        "telas.proposta.escopo-demanda" | translate
      }}</label>
      <i
        falarTexto
        class="bi bi-info-circle me-2"
        style="font-size: 0.9rem; color: #00579d; cursor: pointer"
        pTooltip="Defina e personalize a finalidade da sua proposta"
        tooltipPosition="top"
      ></i>
    </div>

    <div
      falarTexto
      class="NgxEditor__Wrapper escopo-demanda"
     
    >
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor
        inputEmFoco
        (input)="onInputChange()"
        [editor]="editor"
        formControlName="escopoDemandaProposta"
        placeholder="Escreva aqui..."
      >
      </ngx-editor>
    </div>
  </div>

  <h3 falarTexto class="mt-4" spyTarget="dados finais">
    {{ "telas.proposta.dados-finais" | translate }}
  </h3>
  <hr />
  <div class="union" style="display: flex; justify-content: space-between">
    <div class="d-block">
      <div
        class="infos"
        style="display: flex; align-items: center; width: 28vw"
      >
        <label falarTexto style="font-weight: 500" class="me-2" for="time">{{
          "telas.proposta.periodo-execucao-demanda" | translate
        }}</label>
        <i
          falarTexto
          class="bi bi-info-circle me-2"
          style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Insira a data que irá iniciar sua proposta e data que irá finalizar sua proposta"
          tooltipPosition="top"
        ></i>
      </div>
      <div class="d-flex gap-2">
        <div style="display: grid">
          <p-calendar
            (ngModelChange)="onInputChangeDate($event)"
            formControlName="inicioExDemandaProposta"
            placeholder="Início"
            dateFormat="dd/mm/yy"
            [minDate]="dataAtual"
          >
          </p-calendar>
        </div>
        <div style="display: grid">
          <p-calendar
            (ngModelChange)="onInputChange()"
            formControlName="fimExDemandaProposta"
            placeholder="Fim"
            dateFormat="dd/mm/yy"
            [minDate]="inicioData"
          >
          </p-calendar>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div
        class="infos"
        style="display: flex; align-items: center; width: 28vw"
      >
        <label falarTexto style="font-weight: 500" class="me-2" for="time">{{
          "telas.proposta.payback-simples" | translate
        }}</label>
        <i
          class="bi bi-info-circle me-2"
          style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Em reais, este é o retorno dos benefícios"
          tooltipPosition="top"
        ></i>
      </div>
      <input
        inputEmFoco
        (input)="onInputChange()"
        type="text"
        pInputText
        [value]="paybackProposta"
        disabled="true"
      />
    </div>
  </div>

  <div class="infos" style="display: flex; align-items: center; width: 28vw">
    <label falarTexto style="font-weight: 500" class="me-2" for="time">{{
      "telas.proposta.responsaveis-negocio" | translate
    }}</label>
    <i
      falarTexto
      class="bi bi-info-circle me-2"
      style="font-size: 0.9rem; color: #00579d; cursor: pointer"
      pTooltip="Insira os responsáveis por suceder a proposta, validando-os por vírgulas ou acionando a tecla Enter"
      tooltipPosition="top"
    > Clique "Enter" para validar</i>
  </div>

  <!-- formControlName="responsavelProposta" -->
  <p-chips
    separator=","
    placeholder="Insira o/os responsáveis"
    (input)="onInputChange()"
    styleClass="w-100"
    optionLabel="nome"
    display="chip"
    formControlName="responsavelProposta"
    inputEmFoco
    
  ></p-chips>

  <div class="infos" style="display: flex; align-items: center; width: 28vw">
    <label falarTexto style="font-weight: 500" class="me-2" for="time">{{
      "telas.proposta.selecione-status" | translate
    }}</label>
    <i
      falarTexto
      class="bi bi-info-circle me-2"
      style="font-size: 0.9rem; color: #00579d; cursor: pointer"
      pTooltip="Insira os responsáveis por suceder a proposta, validando-os por vírgulas ou acionando a tecla Enter"
      tooltipPosition="top"
    ></i>
  </div>
  <div>
    <p-dropdown
      (onChange)="onInputChange()"
      formControlName="statusDemanda"
      [options]="statusDemanda"
      placeholder="Status de Discussão"
      [optionLabel]="'name'"
      [optionValue]="'value'"
    ></p-dropdown>
  </div>
</form>

<p-toast></p-toast>
