<form class="container" [formGroup]="formProposta" (onSubmit)="onSubmit()">
  <h3 class="mt-4" spyTarget="proposta">{{ "telas.proposta.proposta" | translate }}</h3>
  <hr />

  <div class="campo" style="
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    ">
    <div class="w-100">
      <div class="d-flex justify-content-between">
        <div class="titulo" style="display: grid" id="item-1-1">
          <div class="infos" style="display: flex; align-items: center; width: 28vw">
            <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.prazo-elaboracao" | translate }}</label>
            <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
              pTooltip="Em quanto tempo a proposta ficará pronta?" tooltipPosition="top"></i>
          </div>
          <p-calendar
            [ngClass]="{'ng-dirty ng-invalid': formProposta.controls.prazoProposta.errors && formProposta.controls.prazoProposta.touched}"
            placeholder="Clique para Agendar" formControlName="prazoProposta" [showTime]="true" [showSeconds]="true"
            inputId="time"></p-calendar>
          <small *ngIf="formProposta.controls.prazoProposta.errors && formProposta.controls.prazoProposta.touched"
            id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
        </div>
        <div class="titulo" style="display: grid; width: 32vw" id="item-1-1">
          <div class="infos" style="display: flex; align-items: center; width: 28vw">
            <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.codigo-ppm" | translate }}</label>
            <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
              pTooltip="Qual o código do SAP?" tooltipPosition="top"></i>
          </div>
          <input placeholder="Ex: 458" type="text" pInputText class="input" formControlName="codigoPPMProposta"
            [ngClass]="{'ng-dirty ng-invalid': formProposta.controls.codigoPPMProposta.errors && formProposta.controls.codigoPPMProposta.touched}" />
          <small
            *ngIf="formProposta.controls.codigoPPMProposta.errors && formProposta.controls.codigoPPMProposta.touched"
            id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
        </div>
      </div>
      <div class="titulo" style="display: grid" id="item-1-1">
        <div class="infos" style="display: flex; align-items: center; width: 28vw">
          <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.link-jira" | translate }}</label>
          <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
            pTooltip="Insira a URL que aparece ao topo da sua página do JIRA" tooltipPosition="top"></i>
        </div>
        <input placeholder="Ex: https://jiraprojetoweg.atlassian.net/jira/software/projects/LOW/boards/3" type="text"
          pInputText class="input" formControlName="jiraProposta"
          [ngClass]="{'ng-dirty ng-invalid': formProposta.controls.jiraProposta.errors && formProposta.controls.jiraProposta.touched}" />
        <small *ngIf="formProposta.controls.jiraProposta.errors && formProposta.controls.jiraProposta.touched"
          id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
      </div>
    </div>
  </div>
  <h3 class="mt-4" spyTarget="recursosTarget">{{ "telas.proposta.recursos" | translate }}</h3>
  <hr />
  <p-table *ngIf="listaRecursos.length != 0" [value]="listaRecursos" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "telas.proposta.recurso-necessario" | translate }}</th>
        <th>{{ "telas.proposta.tipo-despesa" | translate }}</th>
        <th>{{ "telas.proposta.perfil-despesa" | translate }}</th>
        <th>{{ "telas.proposta.centro-custo-pagante" | translate }}</th>
        <th>{{ "telas.proposta.quantidade-horas" | translate }}</th>
        <th>{{ "telas.proposta.valor-hora" | translate }}</th>
        <th>{{ "telas.proposta.periodo-execucao" | translate }}</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recursos let-index="rowIndex">
      <tr>
        <td>{{ recursos.nomeRecurso }}</td>
        <td>{{ recursos.tipoDespesaRecurso | titlecase }}</td>
        <td>{{ recursos.perfilDespesaRecurso }}</td>
        <td>
          <span *ngFor="let centro of recursos.centroCustoRecurso">{{ centro.porcentagem }} - {{ centro.centroCusto
            }}<br /></span>
        </td>
        <td>{{ recursos.quantidadeHorasRecurso }}</td>
        <td>{{ recursos.valorHoraRecurso }}</td>
        <td>{{ recursos.periodoExMesesRecurso }}</td>
        <td (click)="editarRecurso(index)">
          <i role="button" class="bi bi-pencil"></i>
        </td>
        <td (click)="removerRecurso(index)">
          <i role="button" class="bi bi-x"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <tr>
        <td class="text-right">{{ "telas.proposta.custos-totais" | translate }} {{ custosTotais | currency : "BRL" }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div [formGroup]="formRecursos">
    <div class="row">
      <div class="col-3">
        <label class="mt-1" for="Recurso Necessário:">{{ "telas.proposta.recurso-necessario" | translate }}:</label>
        <input placeholder="Ex: Programador Back-end" type="text" required="true" pInputText class="input"
          formControlName="nomeRecurso"
          [ngClass]="{'ng-dirty ng-invalid': formRecursos.controls.nomeRecurso.errors && formRecursos.controls.nomeRecurso.touched}" />
        <small *ngIf="formRecursos.controls.nomeRecurso.errors && formRecursos.controls.nomeRecurso.touched"
          id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
      </div>
      <div class="col-3">
        <label class="mt-1" for="Recurso Necessário:">{{ "telas.proposta.tipo-despesa" | translate }}</label>
        <p-dropdown [options]="tipoDaDespesa" optionValue="value" optionLabel="tipo" [required]="true"
          placeholder="Selecione o Tipo" formControlName="tipoDespesaRecurso" [showClear]="true"
          [ngClass]="{'ng-dirty ng-invalid': formRecursos.controls.tipoDespesaRecurso.errors && formRecursos.controls.tipoDespesaRecurso.touched}"></p-dropdown>
        <small
          *ngIf="formRecursos.controls.tipoDespesaRecurso.errors && formRecursos.controls.tipoDespesaRecurso.touched"
          id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
      </div>
      <div class="col-3">
        <label class="mt-1" for="Recurso Necessário:">{{ "telas.proposta.perfil-despesa" | translate }}:</label>
        <p-dropdown placeholder="Ex: Interna" type="text" [required]="true" [options]="perfilDaDespesa"
          optionValue="value" optionLabel="tipo" formControlName="perfilDespesaRecurso"
          [ngClass]="{'ng-dirty ng-invalid': formRecursos.controls.perfilDespesaRecurso.errors && formRecursos.controls.perfilDespesaRecurso.touched}"></p-dropdown>
        <small
          *ngIf="formRecursos.controls.perfilDespesaRecurso.errors && formRecursos.controls.perfilDespesaRecurso.touched"
          id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label class="mt-1" for="Recurso Necessário:">
          {{ "telas.proposta.quantidade-horas" | translate }}</label>
        <div style="width: 100%; display: grid">
          <p-inputNumber placeholder="Ex: 220" type="text" class="input" [required]="true"
            formControlName="quantidadeHorasRecurso"
            [ngClass]="{'ng-dirty ng-invalid': formRecursos.controls.quantidadeHorasRecurso.errors && formRecursos.controls.quantidadeHorasRecurso.touched}"></p-inputNumber>
          <small
            *ngIf="formRecursos.controls.quantidadeHorasRecurso.errors && formRecursos.controls.quantidadeHorasRecurso.touched"
            id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
        </div>
      </div>
      <div class="col-3">
        <label class="mt-1" for="Recurso Necessário:">{{ "telas.proposta.valor-hora" | translate }}</label>
        <div style="width: 100%; display: grid">
          <p-inputNumber placeholder="Ex: R$55,00" [required]="true" type="text" class="input"
            formControlName="valorHoraRecurso"
            [ngClass]="{'ng-dirty ng-invalid': formRecursos.controls.valorHoraRecurso.errors && formRecursos.controls.valorHoraRecurso.touched}"></p-inputNumber>
          <small *ngIf="formRecursos.controls.valorHoraRecurso.errors && formRecursos.controls.valorHoraRecurso.touched"
            id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
        </div>
      </div>
      <div class="col-3">
        <label class="mt-1" for="Recurso Necessário:">{{ "telas.proposta.periodo-execucao" | translate }}</label>
        <div style="width: 100%; display: grid">
          <p-inputNumber placeholder="Ex: 5" [required]="true" type="text" class="input"
            formControlName="periodoExMesesRecurso"
            [ngClass]="{'ng-dirty ng-invalid': formRecursos.controls.periodoExMesesRecurso.errors && formRecursos.controls.periodoExMesesRecurso.touched}"></p-inputNumber>
          <small
            *ngIf="formRecursos.controls.periodoExMesesRecurso.errors && formRecursos.controls.periodoExMesesRecurso.touched"
            id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
        </div>
      </div>
    </div>
    <div formArrayName="centroCustoRecurso" class="row align-items-center">
      <label class="mt-1" for="Recurso Necessário:">{{ "telas.proposta.centros-custo" | translate }}o</label>
      <div style="width: 50%; display: -webkit-box;">
        <div class="d-flex flex-column">
          <div *ngFor="let centroCusto of formRecursos.controls.centroCustoRecurso.controls; let i = index"
            style="flex-wrap: wrap;" class="mb-1">
            <div [formGroupName]="i" class="d-flex">
              <div class="p-inputgroup" style=" margin-right: 0.5vw;">
                <input style="width: 5vw;" [id]="'porcentagemListaReuniao' + i" pInputText [required]="true"
                  formControlName="porcentagemCentroCusto" placeholder="Porcentagem" />
                <span class="p-inputgroup-addon">%</span>
              </div>
              <input style="width: 10vw; margin-right: 0.5vw;" [id]="'nomeCentroCusto'+i" pInputText [required]="true"
                formControlName="nomeCentroCusto" placeholder="Centro de Custo" />
              <button (click)="removerCentroDeCusto(i)" [disabled]="this.formRecursos.controls.centroCustoRecurso.length == 1"
                class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-primary ms-2"
          [disabled]="!formRecursos.controls.centroCustoRecurso.valid || !resultado" (click)="adicionarCentroCusto()">
          <i class="bi bi-plus-lg" style="font-size: 19px"></i>
        </button>
      </div>
    </div>

    <div class="">
      <button class="btn btn-primary mt-3" [disabled]="!formRecursos.valid" (click)="addRowRecurso()">
        {{ "telas.proposta.adicionar-recurso" | translate }}
      </button>
    </div>
  </div>
  <h3 class="mt-4" spyTarget="escopo">{{ "telas.proposta.escopo" | translate }}</h3>
  <hr />
  <div>
    <div class="infos" style="display: flex; align-items: center; width: 28vw">
      <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.escopo-demanda" | translate }}</label>
      <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
        pTooltip="Defina e personalize a finalidade da sua proposta" tooltipPosition="top"></i>
    </div>
    <div class="NgxEditor__Wrapper escopo-demanda"
      [ngClass]="{'ng-dirty ng-invalid': formProposta.controls.escopoDemandaProposta.errors && formProposta.controls.escopoDemandaProposta.touched}">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor [editor]="editor" formControlName="escopoDemandaProposta" placeholder="Escreva aqui...">
      </ngx-editor>
    </div>
    <small
      *ngIf="formProposta.controls.escopoDemandaProposta.errors && formProposta.controls.escopoDemandaProposta.touched"
      id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
  </div>

  <h3 class="mt-4" spyTarget="dados finais">{{ "telas.proposta.dados-finais" | translate }}</h3>
  <hr />
  <div class="union" style="display: flex; justify-content: space-between">
    <div class="d-block">
      <div class="infos" style="display: flex; align-items: center; width: 28vw">
        <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.periodo-execucao-demanda" | translate }}</label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Insira a data que irá iniciar sua proposta e data que irá finalizar sua proposta"
          tooltipPosition="top"></i>
      </div>
      <div class="d-flex gap-2">
        <div style="display: grid;">
          <p-calendar formControlName="inicioExDemandaProposta" placeholder="Início" dateFormat="dd/mm/yy"
            [ngClass]="{'ng-dirty ng-invalid': formProposta.controls.inicioExDemandaProposta.errors && formProposta.controls.inicioExDemandaProposta.touched}"></p-calendar>
          <small
            *ngIf="formProposta.controls.inicioExDemandaProposta.errors && formProposta.controls.inicioExDemandaProposta.touched"
            id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
        </div>
        <div style="display: grid;">
          <p-calendar formControlName="fimExDemandaProposta" placeholder="Fim" dateFormat="dd/mm/yy"
            [minDate]="inicioData"
            [ngClass]="{'ng-dirty ng-invalid': formProposta.controls.fimExDemandaProposta.errors && formProposta.controls.fimExDemandaProposta.touched}"></p-calendar>
          <small
            *ngIf="formProposta.controls.fimExDemandaProposta.errors && formProposta.controls.fimExDemandaProposta.touched"
            id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="infos" style="display: flex; align-items: center; width: 28vw">
        <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.payback-simples" | translate }}</label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Em reais, este é o retorno dos benefícios" tooltipPosition="top"></i>
      </div>
      <input type="text" pInputText [value]="paybackProposta" disabled="true">
    </div>
  </div>

  <div class="infos" style="display: flex; align-items: center; width: 28vw">
    <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.responsaveis-negocio" | translate }}</label>
    <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
      pTooltip="Insira os responsáveis por suceder a proposta, validando-os por vírgulas ou acionando a tecla Enter"
      tooltipPosition="top"></i>
  </div>


  <!-- formControlName="responsavelProposta" -->
  <p-chips [(ngModel)]="values" styleClass="w-100" defaultLabel="Selecione os Responsaveis" optionLabel="nome"
    display="chip" separator=","
    [ngClass]="{'ng-dirty ng-invalid': formProposta.controls.responsavelProposta.errors && formProposta.controls.responsavelProposta.touched}">
  </p-chips>
  <small *ngIf="formProposta.controls.responsavelProposta.errors && formProposta.controls.responsavelProposta.touched"
    id="username2-help" class="p-error block">{{ "telas.proposta.campo-obrigatorio" | translate }}</small>
  
    <div class="infos" style="display: flex; align-items: center; width: 28vw">
    <label style="font-weight: 500" class="me-2" for="time">{{ "telas.proposta.selecione-status" | translate }}</label>
    <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
      pTooltip="Insira os responsáveis por suceder a proposta, validando-os por vírgulas ou acionando a tecla Enter"
      tooltipPosition="top"></i>
  </div>
  <div>
    <p-dropdown formControlName="statusDemanda" [options]="statusDemanda" [optionLabel]="'name'" [optionValue]="'value'"
      placeholder="Status"></p-dropdown>
  </div>
</form>