<div class="princ-container">
    <div class="divisao-divs" style="display: flex;">
        <div class="configuracoes" style=" width: 35vw;">
            <div class="perfil" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-person"></i>
                </div>
                <h6 style="margin: 0px;">
                    Conta
                </h6>
            </div>
            <div class="layout" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-grid-1x2"></i>
                </div>
                <h6 style="margin: 0px;">
                    Layout
                </h6>
            </div>
            <div class="notificacoes"
                style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-bell"></i>
                </div>
                <h6 style="margin: 0px;">
                    Notificações
                </h6>
            </div>
            <div class="sugestoes" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-chat-right-quote"></i>
                </div>
                <h6 style="margin: 0px;">
                    Sugestões
                </h6>
            </div>
            <div class="ajuda" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-question-circle"></i>
                </div>
                <h6 style="margin: 0px;">
                    Ajuda
                </h6>
            </div>
        </div>
        <div class="paginas-conf container-fluid" style="padding: 0px !important; border-left: 1px solid black;">
            <div class="perfil-completo">
                <div class="desc-incial"
                    style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                    <h5 style="margin: 0px;">
                        CONFIGURAÇÕES GERAIS DE LAYOUT
                    </h5>
                </div>
                <div class="confDados" style="margin: 10px;">
                    <div class="dadosPessoais">
                        <div class="perfil">
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Nome:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            Camilly Vitoria da Rocha Goltz
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Data de nascimento:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            11/02/2004
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            CPF:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            111.222.333-55
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Email:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            camilly@gmail.com
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
