<div class="princ-container">
    <div class="divisao-divs" style="display: flex;">
        <div class="configuracoes" style=" width: 35vw; height: 78.5vh;">
            <div class="parte-branca" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; height: 4.65vh;">
            </div>
            <div class="perfil" routerLink="/tela-inicial/perfil" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-person"></i>
                </div>
                <h6 style="margin: 0px;">
                    Conta
                </h6>
            </div>
            <div class="layout" routerLinkActive="rota-Ativa" routerLink="/tela-inicial/layout" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-grid-1x2"></i>
                </div>
                <h6 style="margin: 0px;">
                    Layout
                </h6>
            </div>
            <div class="notificacoes" routerLink="/tela-inicial/notificacoes"
                style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-bell"></i>
                </div>
                <h6 style="margin: 0px;">
                    Notificações
                </h6>
            </div>
            <div class="sugestoes" routerLink="/tela-inicial/sugestoes" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-chat-right-quote"></i>
                </div>
                <h6 style="margin: 0px;">
                    Sugestões
                </h6>
            </div>
            <div class="ajuda" routerLink="/tela-inicial/ajuda" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-question-circle"></i>
                </div>
                <h6 style="margin: 0px;">
                    Ajuda
                </h6>
            </div>
            <div class="tutorial" routerLink="/tela-inicial/tutorial" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-diagram-3"></i>
                </div>
                <h6 style="margin: 0px;">
                    Tutorial
                </h6>
            </div>
        </div>
        <div class="paginas-conf container-fluid" style="padding: 0px !important; border-left: 1px solid black;">
            <div class="perfil-completo">
                <div class="desc-incial"
                    style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                    <h5 style="margin: 0px;">
                        CONFIGURAÇÕES GERAIS DE LAYOUT
                    </h5>
                </div>
                <div class="confDados" style="margin: 10px;">
                    <div class="dadosPessoais">
                        <div class="perfil">
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Temas:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <!-- <option selected>Selecione a opção:</option> -->
                                            <option value="1">Padrão (Claro)</option>
                                            <option value="2">Preto</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Fonte:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <!-- <option selected>Selecione a opção:</option> -->
                                            <option value="1">Arial</option>
                                            <option value="2">Times New Roman</option>
                                            <option value="3">Colibri</option>
                                            <option value="4">Roboto</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Tamanho da Fonte:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <!-- <option selected>Selecione a opção:</option> -->
                                            <option value="1">10</option>
                                            <option value="2">12</option>
                                            <option value="3">14</option>
                                            <option value="4">16</option>
                                            <option value="5">20</option>
                                            <option value="6">24</option>
                                            <option value="7">28</option>
                                            <option value="8">32</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Zoom:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <option value="1">75%</option>
                                            <option value="2">80%</option>
                                            <option value="3">90%</option>
                                            <option value="4">100%</option>
                                            <option value="5">110%</option>
                                            <option value="6">125%</option>
                                            <option value="7">150%</option>
                                            <option value="8">200%</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
