.row {
    div {
        padding: 0.5rem;
    }
}

.perfil-label {
    display: flex;
    justify-content: space-between;
}

.cor-secundaria {
    font-size: 10px;
    height: 1.5rem;
    width: 0.5rem; /* Altere o valor do tamanho da fonte conforme necessário */
  }

  .color-actived {
    background: #00579D !important;
    color: white;
}

.change-type-list {
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 510px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    button {
        margin: 0.5rem
    }
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

h6 {
    display: flex;
    align-items: center;
    justify-content: center;
}



.nome-dado {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caracteristica {
    font-weight: 600;
}

.alterar-dado {
    font-size: 11px;
}

.perfil,
.layout,
.notificacoes,
.sugestoes,
.ajuda {
    cursor: pointer;
}

.rota-Ativa {
    background-color: #00579D;
    color: #fff;
}