<div class="paginas-conf container-fluid" style="padding: 0px !important;">
    <div class="perfil-completo">
        <div class="desc-incial"
            style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
            <h5 falarTexto style="margin: 0px;">
                {{ "telas.configuracoes-layout.subtitulo" | translate }}
            </h5>
        </div>
        <div class="confDados" style="margin: 10px;">
            <div class="dadosPessoais">
                <div class="perfil">
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 100%; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span falarTexto>
                                    {{ "telas.configuracoes-layout.temas" | translate }}:
                                </span>
                            </div>
                            <div class="nome-dado">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <!-- <option selected>Selecione a opção:</option> -->
                                    <option value="1" falarTexto>{{ "telas.configuracoes-layout.padrao" | translate }}
                                    </option>
                                    <option value="2" falarTexto>{{ "telas.configuracoes-layout.preto" | translate }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 100%; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span falarTexto>
                                    {{ "telas.configuracoes-layout.fonte" | translate }}:
                                </span>
                            </div>
                            <div class="nome-dado">
                                <select #themefont (click)="setFontTheme(themefont.value)"
                                    class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <!-- <option selected>Selecione a opção:</option> -->
                                    <option falarTexto
                                        [selected]="configIniciaisService.fontAtual == 'Roboto, Helvetica Neue, sans-serif'"
                                        value="Roboto, Helvetica Neue, sans-serif" selected>Roboto</option>
                                    <option falarTexto [selected]="configIniciaisService.fontAtual == 'system-ui'"
                                        value="system-ui">System-ui</option>
                                    <option falarTexto [selected]="configIniciaisService.fontAtual == 'monospace'"
                                        value="monospace">Monospace</option>
                                    <option falarTexto [selected]="configIniciaisService.fontAtual == 'ui-sans-serif'"
                                        value="ui-sans-serif">Ui-sans-serif</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 100%; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span falarTexto>
                                    {{ "telas.configuracoes-layout.tamanho" | translate }}: </span>
                            </div>
                            <div class="nome-dado">
                                <select #fontes (change)="setFontSize(fontes.value)" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example">
                                    <!-- <option selected>Selecione a opção:</option> -->
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '10'" value="10">10
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '11'" value="11">11
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '12'" value="12">12
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '13'" value="13">13
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '14'" value="14">14
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '15'" value="15">15
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '16'" value="16">16
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '17'" value="17">17
                                    </option>
                                    <option falarTexto [selected]="configIniciaisService.fontSize == '18'" value="18">18
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="nome"
                        style="border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 100%; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span falarTexto>
                                    Card Demanda:
                                </span>
                            </div>
                            <div class="nome-dado">
                                <select (change)="trocarPersonalizacao($event.target)" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <!-- <option selected>Selecione a opção:</option> -->
                                    <option falarTexto *ngFor="let option of opcoesPersonalizacao; let i = index"
                           
                                        [selected]="configIniciaisService.fontAtual == 'Roboto, Helvetica Neue, sans-serif'"
                                        [value]="i" selected>{{option.nomePersonalizacao}}</option>
                                </select>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; margin-top: 1vw;">
                            <div class="flex-1 flex flex-column align-items-center gap-3 mx-2"
                                *ngFor="let list of listOfColorsStatusDemand; let i = index">
                                <input (ngModelChange)="changePrimaryColor($event, i)" type="text" class="form-control" [(ngModel)]="list.corPrimaria">
                                <input (ngModelChange)="changeSecondaryColor($event, i)" type="text" class="form-control" [(ngModel)]="list.corSecundaria">
                                <div style="display: flex;">
                                    <p-colorPicker (ngModelChange)="changePrimaryColor($event, i)" [(ngModel)]="list.corPrimaria"></p-colorPicker>
                                    <p-colorPicker (ngModelChange)="changeSecondaryColor($event, i)" id="cor-secundaria" [(ngModel)]="list.corSecundaria">
                                    </p-colorPicker>
                                </div>
                                <label style="font-size: 10px;" htmlFor="cp-hex" class="font-bold block mb-2">
                                    {{list.status}}</label>
                            </div>
                        </div>
                        <div style="display: flex; margin-top: 1.5vw; margin-left: 1vw; margin-bottom: 0.5vw;">
                            <div>
                                <div [ngClass]="{ 'color-actived': tipoExibicaoDemanda }"
                                    (click)="openModalTrocarModoExibicao(1)" class="change-type-list">
                                    <i class="bi bi-border-all" style="font-size: 15px"> </i>
                                </div>
                                <div joyrideStep="tres" [title]="'Trocar Exibição'"
                                    [ngClass]="{ 'color-actived': !tipoExibicaoDemanda }"
                                    (click)="openModalTrocarModoExibicao(2)" class="change-type-list me-2">
                                    <i class="bi bi-list" style="font-size: 15px"></i>
                                </div>
                            </div>
                            <app-list-demanda style="display: flex; align-items: center;"
                                *ngIf="!tipoExibicaoDemanda"></app-list-demanda>
                            <app-card-demanda [primaryColor]="primaryColorSelected" [secondaryColor]="secondaryColorSelected" *ngIf="tipoExibicaoDemanda" style="margin-right: 1vw;"></app-card-demanda>
                            <app-card-demanda [primaryColor]="primaryColorSelected" [secondaryColor]="secondaryColorSelected" *ngIf="tipoExibicaoDemanda" [mudarTamanho]="'47vw'"></app-card-demanda>
                        </div>
                    </div>
                </div>
                <!-- <div class="nome" style="border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px;">
                    <div class="dadosPrincipais" style="display: flex; width: 100%; justify-content: space-between;">
                        <div class="caracteristica" style="margin-right: 10px;">
                            <span falarTexto>
                                Card Reunião:
                            </span>
                        </div>
                        <div class="nome-dado">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                 <option selected>Selecione a opção:</option> 
                                <option falarTexto
                                    [selected]="configIniciaisService.fontAtual == 'Roboto, Helvetica Neue, sans-serif'"
                                    value="Roboto, Helvetica Neue, sans-serif" selected>Padrão Low</option>
                                <option falarTexto [selected]="configIniciaisService.fontAtual == 'system-ui'"
                                    value="system-ui">Claro</option>
                                <option falarTexto [selected]="configIniciaisService.fontAtual == 'monospace'"
                                    value="monospace">Tonalidade WEG</option>
                                <option falarTexto [selected]="configIniciaisService.fontAtual == 'ui-sans-serif'"
                                    value="ui-sans-serif">Personalizar</option>
                            </select>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center; margin-top: 1vw;">
                        <div class="flex-1 flex flex-column align-items-center gap-3"
                            *ngFor="let list of listOfColorsStatusReuniao">
                            <input type="text" class="form-control" [(ngModel)]="list.corPrimaria">
                            <input type="text" class="form-control" [(ngModel)]="list.corSecundaria">
                            <div style="display: flex;">
                                <p-colorPicker [(ngModel)]="list.corPrimaria"></p-colorPicker>
                                <p-colorPicker id="cor-secundaria" [(ngModel)]="list.corSecundaria">
                                </p-colorPicker>
                            </div>
                            <label style="font-size: 10px;" htmlFor="cp-hex" class="font-bold block mb-2">
                                {{list.status}}</label>
                        </div>
                    </div>
                    <div style="display: flex; margin-top: 1.5vw; margin-left: 1vw; margin-bottom: 0.5vw;">
                        <app-card-reuniao style="width: 100%;"></app-card-reuniao>
                    </div>
                </div> -->
                <div style=" margin-top: 1vw; display: flex; justify-content: end; margin-right: 1vw;">
                    <button class="btn btn-outline-primary" style="margin-right: 1vw;" (click)="redefinir()">Redefinir
                        configurações</button>
                    <button class="btn btn-outline-primary" (click)="salvarAlteracoes()">Salvar Alterações</button>
                </div>
            </div>
            <div>
                <p-confirmDialog icon="pi pi-exclamation-triangle" key="trocarExibicao" #bt [style]="{ width: '40vw' }">
                    <ng-template pTemplate="footer">
                        <button falarTexto type="button" class="btn btn-outline-primary" (click)="bt.reject()">
                            <i class="pi pi-times me-2"></i>
                            {{ "telas.tela-chat.modal-b-nao" | translate }}
                        </button>
                        <button falarTexto type="button" class="btn btn-outline-primary" (click)="bt.accept()">
                            <i class="pi pi-check me-2"></i>
                            {{ "telas.tela-chat.modal-b-sim" | translate }}
                        </button>
                    </ng-template></p-confirmDialog>
            </div>
        </div>
    </div>
</div>
