<div class="princ-container">
    <div class="divisao-divs" style="display: flex;">
        <div class="configuracoes" style=" width: 35vw; height: 78.5vh;">
            <div class="parte-branca"  style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; height: 4.65vh;">
            </div>
            <div class="perfil menu-item" routerLinkActive="rota-Ativa" routerLink="perfil" style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-person"></i>
                </div>
                <h6 falarTexto style="margin: 0px;">
                    {{ "componentes-fixos.escopo-perfil.conta" | translate }}
                </h6>
            </div>
            <div class="layout menu-item" routerLinkActive="rota-Ativa" routerLink="layout" style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-grid-1x2"></i>
                </div>
                <h6 falarTexto style="margin: 0px;">
                    {{ "componentes-fixos.escopo-perfil.layout" | translate }}
                </h6>
            </div>
            <div *ngIf="usuarioService.getRole == 'Analista' || usuarioService.getRole == 'GestorTI'" class="layout menu-item" routerLinkActive="rota-Ativa" routerLink="config-inicial" style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-grid-1x2"></i>
                </div>
                <h6 falarTexto style="margin: 0px;">
                    Configurações Tela Inicial
                </h6>
            </div>
            <div class="ajuda menu-item" routerLinkActive="rota-Ativa" routerLink="ajuda" style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-question-circle"></i>
                </div>
                <h6 falarTexto style="margin: 0px;">
                    {{ "componentes-fixos.escopo-perfil.ajuda" | translate }}
                </h6>
            </div>
            <div (click)="iniciarTutorial()" class="tutorial menu-item"  style="display: flex; border-bottom: 1px solid #8f8f8f !important;; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-diagram-3"></i>
                </div>
                <h6 falarTexto style="margin: 0px;">
                    {{ "componentes-fixos.escopo-perfil.tutorial" | translate }}
                </h6>
            </div>
            <div class="notificacoes  position-relative"
                style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-bell"></i>
                </div>
                <h6 falarTexto style="margin: 0px;" class="d-flex justify-content-between">
                    <span>
                        {{ "componentes-fixos.escopo-perfil.notificacoes" | translate }}

                    </span>

                    <input class="form-check-input" style="position: absolute; right: 20px" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                </h6>
            </div>
        </div>
        <div class="paginas-conf container-fluid" style="padding: 0px !important;border-left: 1px solid #8f8f8f; ">
            <div class="perfil-completo">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
