<div class="dash-board" style="height: 4vh; display: flex; align-items: center;">
        <div class="dash-um" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
        <div class="dash-dois" style="background-color: #00579D; height: 0.5vh; width: 20%;"></div>
        <div class="dash-tres" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
        <div class="dash-quatro" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
        <div class="dash-cinco" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
    </div>
<div class="container" style="display: grid; justify-content: center;  height: 72vh;">
    <div class="beneficios" style="display: flex; align-items: center; justify-content: space-between;">
        <div class="real" style="display: flex;">
            <div class="ben-real" style="display: grid">
                <label style="font-weight: 600;">
                    Benefício Real:
                </label>
                <div style="display: flex; ">
                    <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                   <input style="width: 25vw;">            
                </div>
            </div>
            <div style="display: flex; align-items: end;">
                <select>
                    <option value="valor1">BR</option>
                </select>
            </div>
        </div>
        <div class="potencial" style="display: flex;">
            <div class="ben-potencial" style="display: grid">
                <label style="font-weight: 600;">
                    Benefício Potencial:
                </label>
                <div style="display: flex; ">
                    <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                   <input style="width: 25vw;">            
                </div>
            </div>
            <div style="display: flex; align-items: end;">
                <select name="Moeda">
                    <option value="valor1">BR</option>
                </select>
            </div>
        </div>
    </div>
    <div class="memoria-calculo-real">
        <div class="ben-real" style="display: grid">
            <label style="font-weight: 600;">
                Memória de Cálculo do Benefício Real:
            </label>
            <div style="display: flex; ">
                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
               <input style="width: 61vw; height: 14vh;">            
            </div>
        </div>
    </div>
    <div class="memoria-calculo-potencial">
        <div class="ben-real" style="display: grid">
            <label style="font-weight: 600;">
                Memória de Cálculo do Benefício Potencial:
            </label>
            <div style="display: flex; ">
                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
               <input style="width: 61vw; height: 14vh;">            
            </div>
        </div>
    </div>
    <div class="beneficio-qualitativo">
        <div class="ben-real" style="display: grid">
            <label style="font-weight: 600;">
                Benefício Qualitativo:
            </label>
            <div style="display: flex; ">
                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
               <input style="width: 61vw; height: 12vh;">            
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between " style="margin-top: 0.7rem !important;">
        <div>
            <button routerLink="/tela-inicial" class="btn btn-danger me-3">Cancelar</button>
            <button class="btn btn-outline-primary">Sair e Salvar</button>
        </div>
        <button routerLink="/tela-inicial/proposta/3" class="btn btn-primary">Avançar</button>
    </div>
</div>