select{
    height: 5vh;
    width: 4vw;
    background-color: #00579D;
    color: #ffffff;
    margin: 5px;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
    font-weight: 600;
    font-size: 11px;
}

input{
    height: 5vh;
    margin: 5px 5px 5px 0px;
    border: 1px solid #787070;
    border-left: transparent;
    outline: none;
}

label{
    font-size: 13px;
    margin: 5px;
}

button{
    border: transparent;
    width: 9vw;
    height: 4vh;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 1.5vh;
}