::ng-deep .p-card-title {
    font-size: 1rem !important;
}

::ng-deep .p-card {
    font-size: 0.8rem !important;
}

h4 {
    margin-bottom: 2vh;
    font-size: 1.4rem;
}

.bloco {
    width: 21vw;
    background-color: #fff;
    position: absolute;
    z-index: 99;
    right: 9.5rem;
    top: 5.5%;
    overflow: auto;
    border-radius: 5PX;
    border: 1px solid #c5bcbc;
}

:host ::ng-deep {
    .p-card:hover {
        background-color: #ecebeb;
    }
}

:host ::ng-deep {

    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }
}

:host ::ng-deep {
    .p-timeline-event-opposite {
        display: none;
    }
}

:host ::ng-deep {
    .p-card {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

:host ::ng-deep {
    .p-card {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

:host ::ng-deep {
    .p-card-body {
        padding: 0rem !important;
    }
}

@media screen and (max-width: 960px) {
    ::ng-deep {
        .customized-timeline {
            .p-timeline-event:nth-child(even) {
                flex-direction: row !important;

                .p-timeline-event-content {
                    text-align: left !important;
                }
            }

            .p-timeline-event-opposite {
                flex: 0;
            }

            .p-card {
                margin-top: 1rem;
            }
        }
    }
}

.mensagem {
    width: 100%;
    justify-content: center;
    align-items: center;
}


.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}