<div @fadeAnimation class="bloco px-3 pt-3 low-shadow">
    <div class="titulo">
        <h4>Suas Notificações</h4>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '50vh'}">
        <h6 *ngIf="notificacoes.length == 0">Não há notificações</h6>
        <p-timeline [value]="notificacoes">

            <ng-template pTemplate="marker" let-notificacoes>
                <span class="custom-marker shadow-2" [style.backgroundColor]="'blue'">
                    <i [ngClass]="'bi bi-plus-lg'"></i>
                </span>
            </ng-template>


            <ng-template pTemplate="content" let-notificacoes>
                <p-card [header]="notificacoes.tituloDemandaNotificacao" [subheader]="notificacoes.horaNotificacao">
                    <span>{{notificacoes.descricaoNotificacao}}</span>
                </p-card>
            </ng-template>

        </p-timeline>
    </p-scrollPanel>
</div>
