<div class="bloco px-3 pt-3 low-shadow">
    <div class="mensagem mb-3 d-flex p-2 low-shadow">
        <i class="bi bi-chat-left mx-4 "></i>
        <span>Mensagem de notificação legal. Só estou continuando a escrever para encher o espaço necessário.</span>
    </div>
    <div class="mensagem mb-3 d-flex p-2 low-shadow">
        <i class="bi bi-chat-left mx-4 "></i>
        <span>Mensagem de notificação legal. Só estou continuando a escrever para encher o espaço necessário.</span>
    </div>
</div>