<div style="padding: 8px; background: white; width: 55vw">
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <span class="h3 me-5 mb-0"
        >{{ "modais.modal-parecer-comissao-proposta.proposta" | translate }} {{data.demanda.codigoDemanda}}
        <hr style="margin: 0; margin-bottom: 10px; width: 100%" />
      </span>
      <div class="d-flex justify-content-center align-items-center">
        <p-dropdown
          [disabled]="bloquearCamposInput()"
          placeholder="Resultado Comissão"
          class="me-3"
          [options]="resultadoComissao"
          [(ngModel)]="resultadoComissaoSelecionado"
          (onChange)="selecionaResultado()"
          optionLabel="name"
          optionValue="value"
        ></p-dropdown>
        <p-dropdown
          [disabled]="bloquearCamposInput()"
          class="me-3"
          [options]="tipoAtas"
          [(ngModel)]="tipoAtaSelecionada"
          optionLabel="name"
          optionValue="value"
        ></p-dropdown>
        <div class="rounded low-shadow me-3">
          <button
            falarTexto
            class="btn btn-primary"
            (click)="openModalDemandaDocumento()"
          >
            {{
              "modais.modal-parecer-comissao-proposta.b-visualizar-proposta"
                | translate
            }}
          </button>
        </div>
        <i class="bi bi-x me-3" role="button" (click)="dialogRef.close()"></i>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <label falarTexto for="subtitulo" style="margin-top: 5px">
      {{ "modais.modal-parecer-comissao-proposta.informe-parecer" | translate }}
    </label>
    <textarea
      inputEmFoco
      [disabled]="bloquearCamposInput()"
      pInputTextarea
      style="min-height: 300px"
      [(ngModel)]="parecerComissaoInput"
    ></textarea>
  </div>
  <div class="d-flex flex-column" *ngIf="aparecerRecomendacao">
    <label falarTexto for="subtitulo" style="margin-top: 5px">
      {{ "modais.modal-parecer-comissao-proposta.recomendacoes" | translate }}
    </label>
    <textarea
      inputEmFoco
      [disabled]="bloquearCamposInput()"
      pInputTextarea
      style="min-height: 10vh"
      [(ngModel)]="recomendacaoInput"
    ></textarea>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <button
      falarTexto
      [disabled]="bloquearCamposInput()"
      (click)="dialogRef.close()"
      class="btn btn-outline-primary"
    >
      {{ "modais.modal-parecer-comissao-proposta.b-cancelar" | translate }}
    </button>
    <button
      falarTexto
      [disabled]="bloquearCamposInput()"
      class="btn btn-primary"
      (click)="enviarParecerComissao()"
    >
      {{ "modais.modal-parecer-comissao-proposta.b-finalizar" | translate }}
    </button>
  </div>
</div>
<p-toast></p-toast>
