<div style="padding: 8px; background: white">
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <span class="h3 me-5 mb-0">Proposta 001
                <hr style="margin: 0; margin-bottom: 10px; width: 100%;">
            </span>
            <div class="d-flex justify-content-center align-items-center">
                <p-dropdown class="me-3" [options]="tipoAtas" [(ngModel)]="tipoAtaSelecionada" optionLabel="name"></p-dropdown>
                <div class="rounded low-shadow me-3 ">
                    <button class="btn btn-primary" (click)="openModalPropostaDocumento()">Visualizar Proposta</button>
                </div>
                <i class="bi bi-x me-3" role="button" (click)="dialogRef.close();"></i>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <label for="subtitulo">
            Informe o parecer da comissão sobre esta proposta:
        </label>
        <textarea pInputTextarea style="min-height: 300px;"></textarea>
    </div>
</div>