<div style="height: 77vh; width: auto;">
    <div>
        <div class="centralizar">
            <div class="header centralizar">
                <div>
                    <b>Datas das Comissões</b>
                    <div class="linha"></div>
                    <button class="btn btn-primary">
                        Marcar Reunião
                        <i class="bi bi-people"></i>
                    </button>
                </div>
                <div>
                    <div class="nav">
                        <div class="div-input me-3 pesquisar centralizar">
                            <i class="bi bi-search px-2 "></i> <input class="input" type="text"
                                placeholder="Pesquisar Demanda">
                        </div>
                        <button class="btn btn-primary">
                            Filtrar Mais
                            <i class="bi bi-chevron-double-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main centralizar">
            <div>
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
            </div>
        </div>
    </div>
</div>