.joyride-step__container {
  box-shadow: 0;
}

.estilo-cards {
  border-radius: 12px;
    right: 11px;
    z-index: 2;
    width: 40px;
    float: right;
    top: 3.5vw;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0C94BD, #004A98);
    background-position: center;
}

.div-principal {
  right: 0;
  top: 33%;
  margin: 0 !important;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  width: 10px;
  z-index: 2;
}

.estilo-cards:hover {
  background: #015da8;
}
