<div class="dash-board" style="height: 4vh; display: flex; align-items: center;">
  <div class="dash-um" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
  <div class="dash-dois" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
  <div class="dash-tres" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
  <div class="dash-quatro" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
  <div class="dash-cinco" style="background-color: #00579D; height: 0.5vh; width: 20%;"></div>
</div>
<div class="container" style="display: grid; justify-content: center;">
  <div class="beneficios" style="align-items: center; justify-content: space-between;">
    <div class="escopo-demanda">
      <div class="escopo" style="display: grid">
        <label style="font-weight: 600;">
          Escopo da Demanda:
        </label>
        <div style="display: flex; ">
          <div style="border: 3px solid #00579D; margin: 0px "></div>
          <form [formGroup]="form">
            <div class="NgxEditor__Wrapper" style="border-left: transparent; border-radius: 0 !important; width: 61vw;">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
              <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="linha-periodos" style="display: flex; align-items: center; justify-content: space-between;">
      <div class="periodo-execucao" style="display: flex;">
        <div class="periodo-exe" style="display: grid">
          <label style="font-weight: 600;">
            Periodo de execução da demanda:
          </label>
          <div style="display: flex; ">
            <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
            <input id="input" style="width: 15vw;" placeholder="Início">
            <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
            <input id="input" style="width: 15vw;" placeholder="Fim">
          </div>
        </div>
      </div>
      <div class="payback-simples" style="display: flex;">
        <div class="payback" style="display: grid">
          <label style="font-weight: 600;">
            Payback Simples:
          </label>
          <div style="display: flex; ">
            <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
            <input style="width: 25vw;">
          </div>
        </div>
      </div>
    </div>
    <div class="linha-periodos" style="display: flex; align-items: center; justify-content: space-between;">
      <div class="periodo-execucao" style="display: flex;">
        <div class="periodo-exe" style="display: grid">
          <label style="font-weight: 600;">
            Responsáveis pelo Negócio:
          </label>
          <div style="display: flex;">
            <div style="display: flex; ">
              <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
              <input id="input" style="width: 15vw;" placeholder="Nome">
            </div>
            <div style="display: flex; ">
              <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
              <input id="input" style="width: 25vw;" placeholder="Área">
            </div>
            <div style="display: flex; align-items: end;">
              <button style="height: 5vh;
                             width: 4vw;
                             background-color: #00579D;
                             color: #ffffff;
                             margin: 5px;
                             border-radius: 5px;
                             border: transparent;
                             padding: 5px;
                             font-weight: 300;
                             font-size: 25px;
                             align-items: center;
                             justify-content: center;
                             display: flex;">
                +
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between " style="margin-top: 0.7rem !important;">
    <div>
      <button class="btn btn-danger me-3">Cancelar</button>
      <button class="btn btn-outline-primary">Sair e Salvar</button>
    </div>
    <button class="btn btn-primary">Finalizar</button>
  </div>
</div>