<div class="card low-shadow position-relative" style="width: {{mudarTamanho}}">
    <div class="line-top-start"></div>
    <div class="line-top-end"></div>
    <div class="card-body pb-1">
        <div class="mt-2 card-title d-flex" style="align-items: baseline;
    justify-content: space-between;">
          <div class="d-flex">
            <label class="me-2" for="">002</label>
            <label class="me-2 text-truncate" for="titulo"><b>{{dadosDemada.tituloDemanda}}</b></label>
          </div>
            <small class="me-3" for="">Status: {{dadosDemada.statusDemanda}}</small>
            <i class="bi bi-three-dots-vertical three-dots" role="button" [matMenuTriggerFor]="menu"></i>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Histórico</span>
                </button>
                <button mat-menu-item disabled>
                  <span>Ver demanda</span>
                </button>
                <button mat-menu-item>
                  <span>Iniciar conversa</span>
                </button>
              </mat-menu>
        </div>
        <p class="card-text">{{dadosDemada.ppmDemanda}}</p>
        <p class="card-text"><b>Autor: </b>{{dadosDemada.autorDemanda}}</p>
        <p class="card-text bottom-card">
            <label class=" me-2">
                <b>
                    Departamento:
                </b>
                {{dadosDemada.departamentoBenDemanda}}
            </label><button *ngIf="!isPauta" class="btn btn-primary btn-sm" (click)="abrirModal.emit()">Classificar Demanda</button>
            <i *ngIf="isPauta" class="bi bi-trash-fill"></i>
        </p>
    </div>
</div>
