<div class="card low-shadow position-relative" [ngStyle]="{ width: mudarTamanho }"
  style="font-size: 14px; height: 163px">
  <div class="line-top-start" [ngClass]="primaryColorClass"></div>
  <div class="line-top-end" [ngClass]="secondaryColorClass"></div>
  <div class="card-body pb-1">
    <div class="mt-2 card-title d-flex" style="align-items: baseline; justify-content: space-between">
      <div class="d-flex" style="width: 80%">
        <label class="me-2" for="">{{ dadosDemada.codigoDemanda }}</label>
        <label class="me-2 text-truncate" for="titulo">
          <b>{{ dadosDemada.tituloDemanda }}</b>
        </label>
      </div>

      <div class="progress low-shadow" *ngIf="nivelAcesso == 'Solicitante' && !rascunho">
        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <i class="bi bi-chat-left-dots me-3" (click)="confirmarChat()" *ngIf="!rascunho && statusPermitido()"
        (click)="irParaChat.emit()" style="cursor: pointer"></i>
      <i class="bi bi-three-dots-vertical three-dots" *ngIf="!rascunho" role="button" [matMenuTriggerFor]="menu"></i>
      <div *ngIf="rascunho">
        <i class="bi bi-trash3" role="button" (click)="clicouEmExcluir.emit()" style="font-size: 20px"></i>
        <i class="bi bi-arrows-fullscreen" role="button" style="font-size: 20px; margin-left: 1vw"></i>
      </div>

      <mat-menu #menu="matMenu">
        <button (click)="abrirModalHistorico()" mat-menu-item>
          <i class="bi bi-arrow-counterclockwise me-3"></i>
          <span>{{ "componentes-reutilizaveis.card-demanda.historico" | translate }}</span>
        </button>
        <button (click)="verDocumentoProposta.emit(dadosDemada)" mat-menu-item>
          <i class="bi bi-arrows-angle-expand me-3"></i>
          <span>{{ "componentes-reutilizaveis.card-demanda.ver-demanda" | translate }}</span>
        </button>
        <button *ngIf="existePauta()" routerLink="/tela-inicial/reunioes" mat-menu-item>
          <i class="bi bi-person-lines-fill me-3"></i>
          <span>{{ "componentes-reutilizaveis.card-demanda.ir-reuniao" | translate }}</span>
        </button>
        <button (click)="verDocumentoEmAta.emit()" *ngIf="existeAta()" mat-menu-item>
          <i class="bi-file-text me-3"></i>
          <span>{{ "componentes-reutilizaveis.card-demanda.ver-ata" | translate }}</span>
        </button>
        <button routerLink="/tela-inicial/chat" mat-menu-item>
          <i class="bi bi-chat-left-quote me-3"></i>
          <span>{{ "componentes-reutilizaveis.card-demanda.iniciar-conversa" | translate }}</span>
        </button>
      </mat-menu>
    </div>

    <p class="card-text d-flex justify-content-between">
      <span> <b>{{ "componentes-reutilizaveis.card-demanda.score" | translate }}</b> 109.8 </span>
      <span>
        <small for="" *ngIf="!rascunho && nivelAcesso != 'Solicitante'">
          {{ dadosDemada.statusDemanda | uppercase }}
        </small>
      </span>
    </p>
    <p class="card-text d-flex justify-content-between">
      <span><b>{{ "componentes-reutilizaveis.card-demanda.autor" | translate }} </b>{{ dadosDemada.solicitanteDemanda?.nomeUsuario }}</span>
      <span *ngIf="tipoDeAta.length != 0">{{ tipoDeAta }}</span>
    </p>
    <p class="card-text bottom-card">
      <label class="d-inline-block me-2" [ngClass]="{
          'text-truncate': textoExibidoEmBotaoDependendoRota || rascunho,
          tamanho:
            !textoExibidoEmBotaoDependendoRota &&
            !rascunho &&
            !exibirBotaoParecerComissao &&
            !exibirBotaoParecerDg
        }" style="width: 160px">
        <b>{{ "componentes-reutilizaveis.card-demanda.departamento" | translate }} </b>
        {{ dadosDemada.solicitanteDemanda?.departamentoUsuario?.nomeDepartamento }}
      </label>
      <span>
        <button *ngIf="textoExibidoEmBotaoDependendoRota && exibicaoBotoes() && mostrarBotao"
          class="btn btn-primary btn-sm" style="width: 147px" (click)="direcionarUsuario()">
          {{ textoExibidoEmBotaoDependendoRota.texto }}
        </button>
      </span>
      <i role="button" *ngIf="isPauta" class="bi bi-trash-fill fs-5" (click)="clicouEmExcluir.emit()"></i>
    </p>
  </div>
  
</div>
