<div class="card low-shadow position-relative" style="font-size: 14px; width: {{mudarTamanho}}; height:163px;">

    <div class="line-top-start" [ngClass]="primaryColorClass"></div>
    <div class="line-top-end" [ngClass]="secondaryColorClass"></div>
    <div class="card-body pb-1">
        <div class="mt-2 card-title d-flex" style="align-items: baseline;
    justify-content: space-between;">
          <div class="d-flex">
            <label class="me-2" for="">002</label>
            <label class="me-2 text-truncate" for="titulo"><b>{{dadosDemada.tituloDemanda}}</b></label>
          </div>
            <small class="me-3" for="" *ngIf="!rascunho && usuario != 'solicitante'">Status: {{dadosDemada.statusDemanda}}</small>
            <div class="progress low-shadow" *ngIf="usuario == 'solicitante' && !rascunho">
              <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <i class="bi bi-three-dots-vertical three-dots" *ngIf="!rascunho" role="button" [matMenuTriggerFor]="menu"></i>
            <div *ngIf="rascunho">
              <i class="bi bi-trash3" role="button" [matMenuTriggerFor]="menu" style="font-size: 20px;"></i>
              <i class="bi bi-arrows-fullscreen" role="button" [matMenuTriggerFor]="menu" style="font-size: 20px; margin-left: 1vw;"></i>
            </div>
              <mat-menu #menu="matMenu">
                <button routerLink="/tela-inicial/historico-demanda" mat-menu-item>
                  <span>Histórico</span>
                </button>
                <button (click)="verDocumentoProposta.emit()" mat-menu-item>
                  <span>Ver demanda</span>
                </button>
                <button routerLink="/tela-inicial/chat" mat-menu-item>
                  <span>Iniciar conversa</span>
                </button>
              </mat-menu>
        </div>
        <p class="card-text">{{dadosDemada.ppmDemanda}}</p>
        <p class="card-text"><b>Autor: </b>{{dadosDemada.autorDemanda}}</p>
        <p class="card-text bottom-card">
            <label class="d-inline-block me-2" [ngClass]="{'text-truncate': botao || rascunho, 'tamanho': !botao && !rascunho}" style="width: 160px;">
                <b>
                    Depart.:
                </b>
                {{dadosDemada.departamentoBenDemanda}}
            </label>
            <button *ngIf="!isPauta && !rascunho && botao" class="btn btn-primary btn-sm" (click)="direcionarUsuario()">
              {{botao.texto}}
            </button>
            <button *ngIf="!isPauta && rascunho" class="btn btn-primary btn-sm" (click)="abrirModal.emit()">Continuar Demanda</button>
            <i role='button' *ngIf="isPauta" class="bi bi-trash-fill fs-5" (click)="clicouEmExcluir.emit()"></i>
            
        </p>
    </div>
</div>
