<form class="container" [formGroup]="demandaForm" data-bs-spy="scroll" data-bs-target="#navbar-example3"
  data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
  <h3>Dados Gerais</h3>
  <hr>
  <div id="item-1">
    <div class="titulo" style="display: grid" id="item-1-1">
      <div class="infos" style="display: flex; align-items: center">
        <label style="font-weight: 500" class="me-2"> Título: </label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Insira um nome para essa demanda" tooltipPosition="top"></i>
      </div>
      <input placeholder="Ex: Melhoria em Sistemas de Informação" type="text" pInputText formControlName="tituloDemanda"
        class="input w-100 "
        [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.tituloDemanda.errors && demandaForm.controls.tituloDemanda.touched}" />
      <small *ngIf="demandaForm.controls.tituloDemanda.errors && demandaForm.controls.tituloDemanda.touched"
        id="username2-help" class="p-error block">Campo Obrigatório</small>
    </div>
    <div class="situacao-atual" style="display: grid" id="item-1-2">
      <div class="infos" style="display: flex; align-items: center">
        <label style="font-weight: 500" class="me-2"> Situação Atual: </label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Escreva como funciona o sistema atualmente, na empresa" tooltipPosition="top"></i>
      </div>
      <div style="display: grid">
        <textarea placeholder="Ex: Baixa produção, abrangente de atrasos" type="text"
          formControlName="situacaoAtualDemanda" pInputText class="input w-100"
          [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.situacaoAtualDemanda.errors && demandaForm.controls.situacaoAtualDemanda.touched}"></textarea>
        <small
          *ngIf="demandaForm.controls.situacaoAtualDemanda.errors && demandaForm.controls.situacaoAtualDemanda.touched"
          id="username2-help" class="p-error block">Campo Obrigatório</small>
      </div>
    </div>
    <div class="objetivo" style="display: grid" id="item-1-3">
      <div class="infos" style="display: flex; align-items: center">
        <label style="font-weight: 500" class="me-2"> Objetivo Final: </label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="De que forma sua proposta ajudaria a empresa?" tooltipPosition="top"></i>
      </div>
      <div style="display: grid">
        <textarea type="text" placeholder="Ex: Aumentar a produção com o desenvolvimento de um sistema"
          formControlName="objetivoDemanda" pInputText class="input w-100"
          [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.objetivoDemanda.errors && demandaForm.controls.objetivoDemanda.touched}"></textarea>
        <small *ngIf="demandaForm.controls.objetivoDemanda.errors && demandaForm.controls.objetivoDemanda.touched"
          id="username2-help" class="p-error block">Campo Obrigatório</small>
      </div>
    </div>
    <div class="infos" style="display: flex; align-items: center;" id="item-1-4">
      <label style="font-weight: 500" class="me-2"> Centros de Custo: </label>
      <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
        pTooltip="Quais sessões se beneficiariam com sua proposta?" tooltipPosition="top"></i>
    </div>
    <div formArrayName="centrosCusto" class="row align-items-center">
      <div class="col-3 d-flex">
        <div class="d-flex">
          <div class="p-inputgroup" style="width: 10vw !important;">
            <input id="porcentagemLista" pInputText [required]="true" formControlName="porcentagem"
              placeholder="Porcentagem" />
            <span class="p-inputgroup-addon">%</span>
          </div>
          <input id="centroDeCustoLista" pInputText [required]="true" formControlName="centroCusto"
            placeholder="Centro de Custo" />
        </div>
        <button [disabled]="!resultado" style="width: 45px" class="btn btn-outline-primary"
          (click)="adicionarCentroCusto()">
          <i class="bi bi-plus-lg" style="font-size: 17px"></i>
        </button>
      </div>

    </div>
  </div>

  <h3 class="mt-4" spyTarget="beneficios">Benefícios</h3>
  <hr>
  <div id="item-2">
    <div formGroupName="beneficioRealDemanda">
      <div class="infos" style="display: flex; align-items: center">
        <label style="font-weight: 500" class="me-2"> Benefício Real: </label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Qual seria o lucro mínimo adquirido pela sua proposta?" tooltipPosition="top"></i>
      </div>
      <div style="display: flex; justify-content: space-between">
        <input [ngClass]="{'ng-dirty ng-invalid': demandaForm}" placeholder="Ex: 150.000" style="width: 93%;"
          type="text" pInputText class="input" formControlName="valorBeneficio" />
        <small
          *ngIf="demandaForm.controls.beneficioRealDemanda.errors && demandaForm.controls.beneficioRealDemanda.touched"
          id="username2-help" class="p-error block">Campo Obrigatório</small>
        <select class="drop" name="plataforma" required="required" formControlName="moedaBeneficio"
          [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.beneficioRealDemanda.errors && demandaForm.controls.beneficioRealDemanda.touched}">
          <option value="Real">BRL</option>
          <option value="Euro">EUR</option>
          <option value="Dollar">DOL</option>
        </select>
        <small
          *ngIf="demandaForm.controls.beneficioRealDemanda.errors && demandaForm.controls.beneficioRealDemanda.touched"
          id="username2-help" class="p-error block">Campo Obrigatório</small>
      </div>
      <div class="situacao-atual" style="display: grid" id="item-1-2">
        <div class="infos" style="display: flex; align-items: center">
          <label style="font-weight: 500" class="me-2">
            Memória de Cálculo do Benefício Real:
          </label>
          <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
            pTooltip="Como você calculou o benefício?" tooltipPosition="top"></i>
        </div>
        <textarea placeholder="Ex: Para contratar um desenvolvedor ou uma empresa custa em torno..." style="width: 100%"
          [rows]="5" [cols]="30" [autoResize]="true" pInputTextarea formControlName="memoriaDeCalculoBeneficio"
          [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.beneficioRealDemanda.errors && demandaForm.controls.beneficioRealDemanda.touched}"></textarea>
        <small
          *ngIf="demandaForm.controls.beneficioRealDemanda.errors && demandaForm.controls.beneficioRealDemanda.touched"
          id="username2-help" class="p-error block">Campo Obrigatório</small>
      </div>
    </div>
    <div formGroupName="beneficioPotencialDemanda">
      <div class="objetivo" style="display: grid" id="item-1-3">
        <div class="infos" style="display: flex; align-items: center">
          <label style="font-weight: 500" class="me-2">
            Benefício Potencial:
          </label>
          <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
            pTooltip="Qual seria o lucro máximo adquirido pela sua proposta?" tooltipPosition="top"></i>
        </div>
        <div style="display: flex; justify-content: space-between">
          <input placeholder="Ex: 20.000" style="width: 93%;" type="text" pInputText class="input"
            formControlName="valorBeneficio"
            [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.beneficioPotencialDemanda.errors && demandaForm.controls.beneficioPotencialDemanda.touched}" />
          <small
            *ngIf="demandaForm.controls.beneficioPotencialDemanda.errors && demandaForm.controls.beneficioPotencialDemanda.touched"
            id="username2-help" class="p-error block">Campo Obrigatório</small>
          <select class="drop" name="plataforma" required="required" formControlName="moedaBeneficio"
            [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.beneficioPotencialDemanda.errors && demandaForm.controls.beneficioPotencialDemanda.touched}">
            <option value="Real">BRL</option>
            <option value="Euro">EUR</option>
            <option value="Dollar">DOL</option>
          </select>
          <small
            *ngIf="demandaForm.controls.beneficioPotencialDemanda.errors && demandaForm.controls.beneficioPotencialDemanda.touched"
            id="username2-help" class="p-error block">Campo Obrigatório</small>
        </div>
      </div>
      <div class="ben-real">
        <div class="infos" style="display: flex; align-items: center">
          <label style="font-weight: 500" class="me-2">
            Memória de Cálculo do Benefício Potencial:
          </label>
          <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
            pTooltip="Como você calculou o benefício?" tooltipPosition="top"></i>
        </div>
        <div style="display: flex">
          <textarea placeholder="Ex: Para contratar um desenvolvedor ou uma empresa custa em torno..."
            style="width: 100%" [rows]="5" [cols]="30" [autoResize]="true" pInputTextarea
            formControlName="memoriaDeCalculoBeneficio"
            [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.beneficioPotencialDemanda.errors && demandaForm.controls.beneficioPotencialDemanda.touched}"></textarea>
          <small
            *ngIf="demandaForm.controls.beneficioPotencialDemanda.errors && demandaForm.controls.beneficioPotencialDemanda.touched"
            id="username2-help" class="p-error block">Campo Obrigatório</small>
        </div>
      </div>
    </div>
    <div style="display: grid">
      <div class="infos" style="display: flex; align-items: center">
        <label style="font-weight: 500" class="me-2">
          Benefício Qualitativo:
        </label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Qual seria o benefício em questão de disciplina, controle e planejamento?"
          tooltipPosition="top"></i>
      </div>
      <div style="display: grid">
        <textarea placeholder="Ex: O benefício se torna qualitativo porque seu retorno..." style="width: 100%"
          [rows]="5" [cols]="30" [autoResize]="true" pInputTextarea formControlName="beneficioQualitativoDemanda"
          [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.beneficioQualitativoDemanda.errors && demandaForm.controls.beneficioQualitativoDemanda.touched}"></textarea>
        <small
          *ngIf="demandaForm.controls.beneficioQualitativoDemanda.errors && demandaForm.controls.beneficioQualitativoDemanda.touched"
          id="username2-help" class="p-error block">Campo Obrigatório</small>
      </div>
    </div>
  </div>
  <h3 class="mt-4" spyTarget="adicionais">Adicionais</h3>
  <hr>
  <div id="item-3">
    <div class="titulo" style="display: grid" id="item-2-1">
      <div class="infos" style="display: flex; align-items: center">
        <label style="font-weight: 500" class="me-2">
          Frequência de Uso do Sistema:
        </label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Qual seria a usabilidade do sistema?" tooltipPosition="top"></i>
      </div>
      <p-dropdown
        [ngClass]="{'ng-dirty ng-invalid': demandaForm.controls.frequenciaDeUsoDemanda.errors && demandaForm.controls.frequenciaDeUsoDemanda.touched}"
        [options]="opcoesDeTamanho" placeholder="Selecione a frequência"
        formControlName="frequenciaDeUsoDemanda"></p-dropdown>
      <small
        *ngIf="demandaForm.controls.frequenciaDeUsoDemanda.errors && demandaForm.controls.frequenciaDeUsoDemanda.touched"
        id="username2-help" class="p-error block">Campo Obrigatório</small>
    </div>
    <div>
      <div class="infos" style="display: flex; align-items: center">
        <label style="font-weight: 500" class="me-2"> Anexar Documento: </label>
        <i class="bi bi-info-circle me-2" style="font-size: 0.9rem; color: #00579d; cursor: pointer"
          pTooltip="Deseja adicionar arquivos(PDF, XML, POM...) relacionados a proposta, como pesquisas"
          tooltipPosition="top"></i>
      </div>
      <p-fileUpload [chooseLabel]="'Escolher'" [uploadLabel]="'Enviar'" [cancelLabel]="'Cancelar'" [multiple]="true"
        [auto]="true" [customUpload]="true" (uploadHandler)="uploadDocumentos($event)"></p-fileUpload>
    </div>
  </div>
</form>