::ng-deep .p-multiselect{
    width: 100%;
}
::ng-deep .p-dropdown{
    width: 100%;
}
.drop{

    background-color: #00579d;
    color: #fff;
    border-radius: 5px;
    padding: 9px;
    border: none;
    outline: none;

}
hr{
    margin: 0
}
label{
    margin-top: 20px;
}

