:host ::ng-deep .p-multiselect{
    width: 100%;
}
:host ::ng-deep .p-dropdown{
    width: 100%;
}
// :host ::ng-deep .p-inputnumber{    display: contents;
// }

.largura-customizada {
    width: 90%;
    display: grid;
  }
.drop{

    background-color: #00579d;
    color: #fff;
    border-radius: 5px;
    padding: 9px;
    border: none;
    outline: none;

}
hr{
    margin: 0
}
label, i{
    margin-top: 20px;
}

.editor-demanda{
    border: 1px solid #dee2e6 !important;
    border-radius: 5px !important;
    max-width: 100%;
    min-height: 25vh;
    word-wrap:break-word;
}

