<div style="padding: 8px; background: white">
    <div class="line">
        <div class="bloco">
            <div>
                <div class="d-flex justify-content-between">
                    <span class="h3">Demanda 001
                        <hr style="margin: 0; margin-bottom: 10px; width: 150%;">
                    </span> 
                    <i class="bi bi-x" role="button" (click)="dialogRef.close();"></i></div>
            </div>
            <div class="d-block">
                <label for="subtitulo">
                    Motivo de reprovação da demanda:
                </label>
                <input type="text">
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-outline-primary">Cancelar</button>
                <button class="btn btn-primary">Reprovar demanda</button>
            </div>
        </div>
    </div>
</div>