<div
  class="mt-5 container"
  [formGroup]="demandaAnalistaForm"
  (ngSubmit)="onSubmitClassificacaoDemanda()"
>
  <div
    class="row d-flex justify-content-between"
    style="border: 1px solid #bcbaba; border-radius: 5px"
  >
    <div class="col-md-5 ps-5 py-5 position-relative">
      <div style="width: 140%" class="line-top-start"></div>
      <div class="">
        <label class="form-label me-2">Tamanho:</label>
        <br />
        <p-dropdown
          formControlName="tamanhoDemandaAnalista"
          [options]="opcoesDeTamanho"
          [optionLabel]="'name'"
          [optionValue]="'value'"
          placeholder="Selecione um tamanho"
        ></p-dropdown>
      </div>
      <div>
        <label class="form-label">BU beneficiada:</label>
        <br />
        <p-multiSelect
          [options]="BUs"
          formControlName="busBeneficiadasDemandaAnalista"
          defaultLabel="Selecione as BUs"
          optionLabel="nomeBusinessUnit"
          display="chip"
        ></p-multiSelect>
      </div>
      <div>
        <label class="form-label">BU solicitante:</label>
        <br />
        <p-dropdown
          formControlName="buSolicitanteDemandaAnalista"
          [options]="BUs"
          optionLabel="nomeBusinessUnit"
          placeholder="Selecione uma BU"
        ></p-dropdown>
      </div>
      <div>
        <label class="form-label">Seção de TI Responsável:</label>
        <br />
        <p-dropdown
          formControlName="secaoDemandaAnalista"
          [options]="secoes"
          [optionLabel]="'nomeSecao'"
          placeholder="Selecione uma sessão"
        ></p-dropdown>
      </div>
      <div class="">
        <label class="form-label">Anexar documento:</label>
        <p-fileUpload
          name="myfile[]"
          url="./upload.php"
          [multiple]="true"
        ></p-fileUpload>
      </div>
    </div>
    <div class="col-md-1">
      <div
        class="w-50"
        style="border-right: 1px solid #bcbaba; height: 100%"
      ></div>
    </div>
    <div class="col-md-6 position-relative p-0">
      <div class="line-top-start"></div>
      <div class="line-top-end"></div>

      <div class="retangulo-container mt-2" style="overflow-y: scroll">
        <p class="text-end">
          <i
            role="button"
            (click)="openModalDemandaDocumento()"
            class="bi bi-search"
          ></i>
        </p>
        <h4 mat-dialog-title class="d-flex justify-content-between">
          <span><b>SOLICITANTE: </b>{{demanda?.solicitanteDemanda?.nomeUsuario}}</span>
          <span><b>DATA:</b> {{demanda?.inicioExDemanda}}</span>
        </h4>
        <h4><b>DEPARTAMENTO:</b> {{demanda?.solicitanteDemanda?.departamentoUsuario}}</h4>
        <h4 class="d-flex justify-content-center">
          <b
            >{{demanda?.tituloDemanda}} –
            {{demanda?.codigoDemanda}}</b
          >
        </h4>

        <h4><b>Objetivo:</b></h4>
        <p>
          {{demanda?.objetivoDemanda}}}
        </p>

        <h4><b>Situação Atual:</b></h4>
        <p>
          {{demanda?.situacaoAtualDemanda}}
        </p>


        <h4><b>Beneficio Real:</b>{{demanda?.beneficioRealDemanda?.valorBeneficio}} mensais</h4>
        <p>
          <b>Memória de cálculo do benefício real:</b>
        </p>
        <ul>
          <li>
           {{demanda?.beneficioRealDemanda?.memoriaDeCalculoBeneficio}}
          </li>
        </ul>
        <h4><b>Beneficio Potencial:</b>{{demanda?.beneficioPotencialDemanda?.valorBeneficio}} mensais</h4>
        <p>
          <b>Memória de cálculo do benefício potencial:</b>
        </p>
        <ul>
          <li>
            {{demanda?.beneficioPotencialDemanda?.memoriaDeCalculoBeneficio}}
          </li>
        </ul>
        <h4>
          <b>Beneficio Qualitativo:</b>
        </h4>
        <ul>
          <li>
           {{demanda?.beneficioQualitativoDemanda}}
          </li>
        </ul>
        <p><b>Frequência de uso do sistema:</b>{{demanda?.frequenciaDeUsoSistemaDemanda}}</p>
        <h4><b>DOCUMENTOS:</b>
          <a *ngFor="let arquivo of demanda?.arquivosDemanda" [href]="arquivo.dadosArquivo" [download]="arquivo.dadosArquivo">
            {{ arquivo.nomeArquivo }}
          </a>
        </h4>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between my-3">
    <div routerLink="/tela-inicial" class="btn btn-danger">Reprovar</div>
    <div class="justify-content-end">
      <div class="btn btn-outline-primary">Contatar Solicitante</div>
      <div
        (click)="onSubmitClassificacaoDemanda()"
        class="btn btn-primary ms-3"
      >
        Aprovar
      </div>
    </div>
  </div>
</div>
