<div class="mt-5 container">
    <div class="row d-flex justify-content-between" style="border: 1px solid black">
        <div class="col-md-5 ps-5 py-5 position-relative">
            <div style="width: 140%;" class="line-top-start"></div>
            <div class="">
                <label class="form-label me-2">Tamanho:</label>
                <br>
                <p-dropdown [options]="opcoesDeTamanho" optionLabel="name" placeholder="Selecione um tamanho"></p-dropdown>
            </div>
            <div class="">
                <label class="form-label">BU beneficiada:</label>
                <br>
                <p-multiSelect [options]="BUs" [(ngModel)]="selectedBUs" defaultLabel="Selecione as BUs" optionLabel="name" display="chip"></p-multiSelect>
            </div>
            <div class="">
                <label class="form-label">BU solicitante:</label>
                <br>
                <p-dropdown [options]="BUs" optionLabel="name" placeholder="Selecione uma BU"></p-dropdown>
            </div>
            <div class="">
                <label class="form-label">Sessão de TI Responsável:</label>
                <br>
                <p-dropdown [options]="sessoes" optionLabel="name" placeholder="Selecione uma sessão"></p-dropdown>
            </div>
            <div class="">
                <label class="form-label">Anexar documento:</label>
                <p-fileUpload name="myfile[]" url="./upload.php" [multiple]="true" ></p-fileUpload>
            </div>
        </div>
        <div class="col-md-1"><div class="w-50" style="border-right: 1px solid black; height: 100%;"></div></div>
        <div class="col-md-6 position-relative p-0 ">
            <div class="line-top-start"></div>
            <div class="line-top-end"></div>

            <div class="retangulo-container mt-2" style="overflow-y: scroll;">
                <p class="text-end">
                    <i role="button" (click)="openModalDemandaDocumento()" class="bi bi-search"></i>
                </p>
                <h4 mat-dialog-title class="d-flex justify-content-between"><span><b>SOLICITANTE: </b>Vinicius
                        Bonatti
                        Benner</span>
                    <span><b>DATA:</b> 18/05/2022</span>
                </h4>
                <h4><b>SETOR:</b> TI</h4>
                <h4 class="d-flex justify-content-center"><b>MELHORIA PERFORMANCE E DISPONIBILIDADE DO SISTEMA
                        MAESTRO –
                        1000025500</b></h4>


                <h4><b>Objetivo:</b></h4>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered
                    alteration
                    in some form, by injected humour, or randomised words which don't look even slightly
                    believable.
                    If
                    you are going to
                    use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
                    in
                    the
                    middle of text.
                    All the Lorem Ipsum generators on </p>

                <h4><b>Situação Atual:</b></h4>
                <p> There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered
                    alteration in some form, by injected humour, or randomised words which don't look even
                    slightly
                    believable. If you
                    are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                    embarrassing
                    hidden in the
                    middle of text. All the Lorem Ipsum generators on </p>

                <h4><b>Escopo do Projeto:</b></h4>
                <p>
                    Ações de curto prazo visando ganhos globais de desempenho/estabilidade no MAESTRO
                    Identificar
                    causa
                    raiz das
                    instabilidades dos servidores (memória, CPU etc.)
                    Otimizar estrutura das tabelas, consultas de baixo desempenho e criação/remoção de índices
                    Otimizar configurações dos servidores (virtualização, balanceador de carga, recursos
                    alocados,
                    etc.)
                     Otimizar configurações dos servidores de aplicação (versão, parâmetros JVM, pool de
                    conexões)
                </p>

                <h4><b>Não faz parte do Escopo do Projeto:</b></h4>
                <p>
                     Reescrever as aplicações utilizando novas tecnologias
                    <br>
                     Portar a plataforma do Maestro para a nuvem (alto acoplamento SAP)
                    <br>
                     Avaliar o módulo de administração do Maestro
                </p>
                <h4>
                    <b>Beneficio Real:</b>R$ 30.000,00 mensais
                </h4>
                <p>
                    <b>Memória de cálculo do benefício real:</b>
                </p>
                <ul>
                    <li>R$10.000,00 com redução do tempo do PCP para replanejamento manual das OVs.</li>
                    <li>R$ 20.000,00 com redução de esforço na gestão das OVs, solicitação de alteração ao PCP e
                        resposta ao
                        cliente.0.000,00 mensais
                    </li>
                </ul>
                <h4>
                    <b>Beneficio Potencial:</b>R$ 40.000,00 mensais
                </h4>
                <p>
                    <b>Memória de cálculo do benefício potencial:</b>
                </p>
                <ul>
                    <li>R$10.000,00 com redução do tempo do PCP para replanejamento manual das OVs.</li>
                    <li>R$ 20.000,00 com redução de esforço na gestão das OVs, solicitação de alteração ao PCP e
                        resposta ao
                        cliente.0.000,00 mensais
                    </li>
                </ul>
                <h4>
                    <b>Beneficio Qualitativo:</b>
                </h4>
                <ul>
                    <li>Melhor qualidade de atendimento com respostas rápidas aos clientes e assertividade;
                    </li>
                    <li>Gestão do volume de pedidos versus capacidade produtiva.
                    </li>
                </ul>
                <p><b>Frequência de uso do sistema:</b>Sistema utilizado diariamente</p>
                <h4><b>DOCUMENTOS:</b></h4>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between my-3">
        <div routerLink="/tela-inicial" class="btn btn-danger">Reprovar</div>
        <div class="justify-content-end">
            <div class="btn btn-outline-primary">Contatar Solicitante</div>
            <div routerLink="/tela-inicial" class="btn btn-primary ms-3">Aprovar</div>
        </div>
    </div>
</div>
