<div style="display: flex; justify-content: center; align-items: center; margin-top: 16vh;">
    <div class="frases" style="margin-right: 7vw;">
        <div>
            <h1 style="font-size: 5rem;">404</h1>
        </div>
        <div>
            <h6 style="color: #c8cbc4;">{{ "telas.tela-not-found.ocorreu-erro" | translate }}</h6>
        </div>
        <div>
            <h5>{{ "telas.tela-not-found.requisicao" | translate }}</h5>
        </div>
        <div>
            <h6 style="color: #c8cbc4;">{{ "telas.tela-not-found.sabemos" | translate }}</h6>
        </div>
    </div>
    <div class="robo">
        <img
            style="width: 14vw"
            src="/assets/images/robo-not-found.png"
            alt="image"
          />
    </div>
</div>