<div style="display: flex; justify-content: center; align-items: center; margin-top: 16vh;">
    <div class="frases" style="margin-right: 7vw;">
        <div>
            <h1 style="font-size: 5rem;" falarTexto>404</h1>
        </div>
        <div>
            <h6 style="color: #c8cbc4;" falarTexto>Ocorreu um erro</h6>
        </div>
        <div>
            <h5 falarTexto>Esta requisição não foi encontrada, gerando este erro, sinto muito!</h5>
        </div>
        <div>
            <h6 style="color: #c8cbc4;" falarTexto>Isso é tudo que sabemos</h6>
        </div>
    </div>
    <div class="robo">
        <img
            style="width: 14vw"
            src="/assets/images/robo-not-found.png"
            alt="image"
          />
    </div>
</div>
