<div class="dash-board" style="height: 4vh; display: flex; align-items: center;">
    <div class="dash-um" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
    <div class="dash-dois" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
    <div class="dash-tres" style="background-color: #00579D; height: 0.5vh; width: 20%;"></div>
    <div class="dash-quatro" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
    <div class="dash-cinco" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
</div>
<div class="container" style="display: grid; justify-content: center;">
<div class="memoria-calculo-real">
    <div class="ben-real" style="display: grid">
        <label style="font-weight: 600;">
            Memória de Cálculo do Benefício Real:
        </label>
        <div style="display: flex; ">
            <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
           <input style="width: 61vw;">            
        </div>
    </div>
</div>
<div class="memoria-calculo-potencial">
    <div class="ben-real" style="display: grid">
        <div>
            <label style="font-weight: 600;">
                Memória de Cálculo do Benefício Real:
            </label>
            <button>Escolher Arquivo</button>
        </div>
        <div style="display: flex; ">
            <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
           <input style="width: 61vw; height: 14vh;">            
        </div>
    </div>
</div>
<div class="botoes" style="display: flex; align-items: center; justify-content: space-between; margin-top: 1vh;">
    <div class="voltar-sair" style="display: flex; column-gap: 1vw;">
        <div class="voltar">
            <button style="background-color: #DE4343;">Voltar</button>
        </div>
        <div class="sair">
            <button style="background-color: #00579D;">Sair e Salvar</button>
        </div>
    </div>
    <div class="proximo">
        <button style="background-color: #00579D;">Próximo</button>
    </div>
</div>
</div>