.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 16px;
    margin: 20px;
    justify-content: space-between;
    width: 90%;
}

.linha{
    border: 1px solid black;
    width: 200px;
    height: 1px;
    margin-bottom: 20px;
}

.pesquisar{
    border: 1px solid black;
    
}
.p-scrollpanel .p-scrollpanel-content {
    overflow-y: scroll !important;
    padding: 0;
  }
input{
    outline: none;
    border: none;
}