<div style="width: auto">
  <div>
    <div class="container mt-4">
      <div class="d-flex justify-content-between">
        <div>
          <ng-template #customContent let-texto="texto" style="border-radius: 20px">
            <div [innerHTML]="texto" style="max-width: 300px; padding: 20px"></div>
          </ng-template>
          <button joyrideStep="nove"
          [title]="'Filtrar Demandas'"
          [stepContent]="customContent"
          [stepContentParams]="{ texto: textoTutorial[8] }"
          style="overflow: auto;"
          (click)="openModalCriarReuniao()" class="btn btn-primary">
            <i class="bi bi-people me-2"></i>
            Marcar Reunião
          </button>
          <!-- [routerLink]="'/tela-inicial/calendario'" -->
          <button 
          joyrideStep="dez"
          [title]="'Filtrar Demandas'"
          [stepContent]="customContent"
          [stepContentParams]="{ texto: textoTutorial[9] }"
          style="overflow: auto;"
          class="btn btn-primary ms-3" (click)="openCalendario()">
            <i class="bi bi-calendar-week me-2"></i>Ver em calendário
          </button>
        </div>
        <div class="d-flex align-items-center">
          <span *ngIf="!showFiltro" class="p-input-icon-left" style="width: 80%">
            <i class="pi pi-search"></i>
            <input type="text" class="border" style="width: 100%" pInputText placeholder="Pesquisar Demanda"
              [(ngModel)]="pesquisaReuniao" />
          </span>
          <button *ngIf="!showFiltro" class="btn btn-primary ms-3" style="width: 180px"
            (click)="showFiltro = !showFiltro">
            Filtrar Mais
            <i class="bi bi-chevron-double-down"></i>
          </button>
          <app-filtro-reuniao *ngIf="showFiltro" (closeFiltro)="showFiltro = !showFiltro" class="me-3">
          </app-filtro-reuniao>
        </div>
      </div>
    </div>
    <div class="container">
      <p-confirmDialog #cd icon="pi pi-exclamation-triangle" [style]="{width: '40vw'}">
        <ng-template pTemplate="footer" >
          <button *ngIf="!mostrarBotaoModal" type="button" (click)="cd.reject()" class="btn btn-outline-danger"><i
              class="pi pi-times me-2"></i>Não</button>
          <button *ngIf="!mostrarBotaoModal" type="button" class="btn btn-danger" (click)="cd.accept()"><i class="pi pi-check me-2"></i>Sim</button>
          <button *ngIf="mostrarBotaoModal" type="button" class="btn btn-outline-primary" (click)="cd.accept()"><i class="pi pi-check me-2"></i>Ok</button>
        </ng-template>
      </p-confirmDialog>
      <div >
        <app-card-reuniao class="m-1" *ngFor="let reuniao of listaReunioes" [dadosReuniao]="reuniao"
          (cancelarReuniao)="modalDeConfirmacaoCancelamentoDemanda()"
          (motivoCancelamento)="modalMotivoCancelamentoDemanda()"></app-card-reuniao>
      </div>
    </div>
  </div>


  <app-sidebar-reuniao [style.left.px]="showSidebar" (clicouNaSeta)="moveSidebar()" style="
      position: fixed;
      z-index: 2;
      transition: left 0.3s ease 0s;
      top: 43vh;
    "></app-sidebar-reuniao>
  
</div>
