<div style="height: 77vh; width: auto;">
    <div>
        <div class="container mt-4">
            <div class="d-flex justify-content-between">
                <div>
                    <div>
                        <b>Datas das Comissões</b>
                        <div class="linha"></div>

                    </div>
                    <button *ngIf="tipoExibicao == true" class="btn btn-primary" (click)="tipoExibicao = !tipoExibicao">
                        Marcar Reunião
                        <i class="bi bi-people"></i>
                    </button>
                </div>
                <div>
                    <div class="nav">
                        <div *ngIf="!showFiltro" class="div-input me-3 pesquisar centralizar rounded">
                            <i class="bi bi-search px-2 "></i> <input class="input" type="text"
                                placeholder="Pesquisar Demanda">
                        </div>
                        <button *ngIf="!showFiltro" class="btn btn-primary" (click)="showFiltro = !showFiltro">
                            Filtrar Mais
                            <i class="bi bi-chevron-double-down"></i>
                        </button>
                        <app-filtro-reuniao *ngIf="showFiltro" (closeFiltro)="showFiltro = !showFiltro" class="me-3">
                        </app-filtro-reuniao>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-between">
                <button *ngIf="tipoExibicao == false" class="btn btn-primary" (click)="openModalSuaPauta()">
                    Sua Pauta<i class="bi bi-plus-lg"></i>
                </button>
                <button *ngIf="tipoExibicao == false" class="btn btn-primary">
                    Adicionar Proposta
                    <img style="width: 23px;" src="assets/pasta.png" alt="" srcset="">
                </button>
            </div>
        </div>
        <div class="container">
            <div *ngIf="tipoExibicao == true">
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
            </div>
            <div *ngIf="tipoExibicao == false" class="row m-3">
                <app-card-demanda [mudarTamanho]="'100'" class="col-6 mt-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100'" class="col-6 mt-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100'" class="col-6 mt-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100'" class="col-6 mt-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100'" class="col-6 mt-3"></app-card-demanda>
                <app-card-demanda [mudarTamanho]="'100'" class="col-6 mt-3"></app-card-demanda>
            </div>
            <div class="p-fluid grid">
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText>
                        <label for="inputtext">InputText</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>