<div style="width: auto;">
    <div>
        <div class="container mt-4">
            <div class="d-flex justify-content-between">
                <div>
                    <button *ngIf="tipoExibicao == true" class="btn btn-primary" (click)="trocarExibicao()">
                        <i class="bi bi-people me-2"></i>
                        Marcar Reunião
                    </button>
                    <!-- [routerLink]="'/tela-inicial/calendario'" -->
                    <button *ngIf="tipoExibicao == true" class="btn btn-primary ms-3" (click)="openCalendario()">
                        <i class="bi bi-calendar-week me-2"></i>Ver em calendário
                    </button>
                </div>
                <div *ngIf="tipoExibicao" class="d-flex align-items-center">
                    <span  *ngIf="!showFiltro" class="p-input-icon-left" style="width: 80%;">
                        <i class="pi pi-search"></i>
                        <input type="text" class="border" style="width: 100%;" pInputText
                            placeholder="Pesquisar Demanda" [(ngModel)]="pesquisaDemanda" />
                    </span>
                    <button *ngIf="!showFiltro" class="btn btn-primary ms-3" style="width: 180px;" (click)="showFiltro = !showFiltro">
                        Filtrar Mais
                        <i class="bi bi-chevron-double-down"></i>
                    </button>
                    <app-filtro-reuniao *ngIf="showFiltro" (closeFiltro)="showFiltro = !showFiltro" class="me-3">
                    </app-filtro-reuniao>
                </div>
            </div>
        </div>
        <div class="container">
            <div *ngIf="tipoExibicao == true">
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
                <app-card-reuniao class="m-1"></app-card-reuniao>
            </div>
            <div *ngIf="tipoExibicao == false" class="row m-3">
                <div class="col-xl-8 drag-column">
                    <div class="d-flex justify-content-center">
                        <app-filtro-demanda class="mb-3" [mostrarIconeDeAbrirFiltro]="false"></app-filtro-demanda>
                    </div>
                    <div class="drop-column d-table border p-3 rounded low-shadow" style="margin-left: auto; margin-right: auto; min-height: 415px;" pDroppable="demandas" (onDrop)="drop()">
                        <p-scrollPanel [style]="{width: '100%', height: '40vh'}">
                        <h6>Propostas</h6>
                    <div *ngFor="let demanda of listaDemandas" class="mt-2">
                        <app-list-demanda role="button"
                        [mostrarBotao]="false" 
                        pDraggable="demandas"
                        [dadosDemada]="demanda" 
                        [mostrarIconeAdicionar]="true"
                        (clicouAdicionarPauta)="adicionarDemanda(demanda)"
                        (onDragStart)="dragStart(demanda)" 
                        (onDragEnd)="dragEnd()">
                        </app-list-demanda>

                    </div>
                    
                </p-scrollPanel>
                </div>
                </div>
                <div class="col-xl-4" style="height: 60vh;" pDroppable="demandas" (onDrop)="drop()">
                    <div class="border rounded drop-column p-1 low-shadow">

                        <p-scrollPanel [style]="{width: '100%', height: '40vh'}">
                            <div class="text-center h6 mt-3" *ngIf="listaDemandasEscolhidas.length == 0">
                                Arraste as Propostas para este campo!
                            </div>
                            <div class=""
                            *ngFor="let demanda of listaDemandasEscolhidas">
                                <app-card-demanda  
                                pDraggable="products" 
                                (onDragStart)="dragStart(demanda)" 
                                (onDragEnd)="dragEnd()"
                                [dadosDemada]="demanda" 
                                [isPauta]="true"
                                (clicouEmExcluir)="excluirDemanda(demanda)">
                                [mudarTamanho]="'100%'" class="col-6 mt-3"></app-card-demanda>
                            </div>
                        </p-scrollPanel>

                    </div>
                    <div class="p-fluid grid formgrid mt-3 p-3 border rounded low-shadow">
                        <div class="field col-12 md:col-4">
                            <label for="time">Data e Hora da Reunião:</label>
                            <p-calendar placeholder="Clique aqui!" [(ngModel)]="dataReuniao" [showTime]="true"
                                [showSeconds]="true" inputId="time"></p-calendar>
                        </div>
                        <div class="field col-12 md:col-4 mt-3">
                            <label for="time">Selecione a Comissão da Reunião:</label>
                            <p-cascadeSelect [(ngModel)]="comissaoSelecionada" [options]="listaDeComissoesReuniao"
                                optionLabel="" [optionGroupChildren]="[]" [style]="{'minWidth': '14rem'}"
                                placeholder="Selecione a Comissão"></p-cascadeSelect>

                        </div>
                        <div class="field col-12 md:col-4 mt-3">
                            <button class="btn btn-primary">Marcar Reunião</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-sidebar-reuniao [style.left.vw]="showSidebar" (click)="moveSidebar()"
        style="position: fixed; z-index: 2; transition: left 0.3s ease 0s; top: 43vh;"></app-sidebar-reuniao>