<div class="container">
    <table class="table mt-5 table-bordered">
        <thead>
            <tr>
                <th scope="col">Recurso necessário </th>
                <th scope="col">Tipo da despesa</th>
                <th scope="col">Perfil da despesa</th>
                <th scope="col">Quantidade de horas</th>
                <th scope="col">Valor da hora </th>
                <th scope="col">Valor total da despesa</th>
                <th scope="col">Período de execução
                    (Em meses)</th>
                <th scope="col">Centros de custos pagantes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class=""></td>
                <td><select>
                    <option value="0" selected>Interna</option>
                    <option value="1">Externa</option>
                </select></td>
                <td><input type="text" class=""></td>
                <td><input type="text" class=""></td>
                <td><input type="text" class=""></td>
                <td><input type="text" class=""></td>
                <td><input type="text" class=""></td>
                <td>
                    <section class="d-flex ">
                        <input type="text" class="border"><input type="text" class="border">    
                    </section>
                    <select name="" id="" class="border mt-2"></select>
                </td>
            </tr>

            <tr>
                <td scope="row"><button class="btn btn-primary btn-sm">Adicionar Recurso</button></td>
            </tr>

        </tbody>
    </table>


    <div class="d-flex justify-content-between " style="margin-top: 0.7rem !important;">
        <div>
            <button class="btn btn-danger me-3">Cancelar</button>
            <button class="btn btn-outline-primary">Sair e Salvar</button>
        </div>
        <button class="btn btn-primary">Avançar</button>
    </div>
</div>