<div class="low-shadow rounded border" style="padding: 15px; background: white;">
    <h6 class="d-flex justify-content-between">Filtrar demandas
        <i *ngIf="mostrarIconeDeAbrirFiltro" type="button" class="bi bi-chevron-down" (click)="closeFiltro.emit()"
            aria-controls="collapseExample">
        </i>
    </h6>
    <div class="line">
        <div class="bloco">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center" >
                    <div class="d-flex mt-3" [ngClass]="{'reduzir-inputs': filtroReduzidoVertical}">
                        <span class="p-float-label me-2 ">
                            <input class="p-inputtext-sm" #titulo placeholder="Ex: Sistema de Gerenciamento" pInputText
                                type="text" pInputText>
                            <label for="float-input" *ngIf="!filtroReduzidoVertical">Título da Demanda:</label>
                            <label for="float-input" *ngIf="filtroReduzidoVertical">Título Demanda:</label>

                        </span>
                        <span class="p-float-label me-2">
                            <input class="p-inputtext-sm" #codigo placeholder="Ex: 123" pInputText type="text"
                                pInputText>
                            <label for="float-input" *ngIf="!filtroReduzidoVertical">Número da Solicitação:</label>
                            <label for="float-input" *ngIf="filtroReduzidoVertical">N. da Solicitação:</label>
                        </span>
                        <span class="p-float-label me-2">
                            <input class="p-inputtext-sm" #analista placeholder="Ex: Vinícius" pInputText type="text"
                                pInputText>
                            <label for="float-input">Responsável:</label>
                        </span>
                        <span class="p-float-label me-2">
                            <p-dropdown [style]="{height: '37px'}" inputId="dropdown" [autoDisplayFirst]="false"
                                [options]="tamanho" [(ngModel)]="valorTamanho" optionLabel="tamanho"></p-dropdown>
                            <label for="float-input" *ngIf="!filtroReduzidoVertical">Tamanho da demanda:</label>
                            <label for="float-input" *ngIf="filtroReduzidoVertical">Tam. demanda:</label>
                        </span>
                    </div>
                </div>
                <div class="d-flex mt-3" [ngClass]="{'reduzir-inputs': filtroReduzidoVertical}" style="margin-top: 2.5vh !important;">
                    <span class="p-float-label me-2">
                        <input class="p-inputtext-sm" #solicitante placeholder="Ex: Cléber" pInputText type="text"
                            pInputText>
                        <label for="float-input">Solicitante:</label>
                    </span>
                    <span class="p-float-label me-2">
                        <input class="p-inputtext-sm" #departamento placeholder="Ex: Motores" pInputText type="text"
                            pInputText>
                        <label for="float-input">Departamento:</label>
                    </span>
                    <span class="p-float-label me-2">
                        <p-dropdown [style]="{height: '37px'}" inputId="dropdown" [autoDisplayFirst]="false"
                            [options]="status" [(ngModel)]="valorStatus" optionLabel="status"></p-dropdown>
                        <label for="dropdown">Status de Aprovação:</label>
                    </span>
                    <span class="p-float-label me-2">
                        <button
                            (click)="atualizarFiltro({solicitante: solicitante.value,codigoDemanda: codigo.value,status: valorStatus, tamanho: valorTamanho, tituloDemanda: titulo.value, analista: analista.value, departamento: departamento.value})"
                            class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </span>
                    <span class="p-float-label me-2" *ngIf="mostrarExel">
                        <button
                            (click)="exportarExcel.emit({solicitante: solicitante.value,codigoDemanda: codigo.value,status: valorStatus, tamanho: valorTamanho, tituloDemanda: titulo.value, analista: analista.value, departamento: departamento.value})"
                            class="btn btn-success"><i class="bi bi-filetype-csv " style="font-size: 17px"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>