.margin{
    div{
        margin-left: 10px;
    }
}
div{
    font-size: 14px;
}
input{
    margin-right: 10px;
}

.abrirFiltro{
    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes scale-in {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}