<div class="low-shadow" style=" border: 1px solid rgb(77, 76, 76); padding: 15px; background: white;">
    <h6 class="d-flex justify-content-between">Filtrar demandas <i type="button" class="bi bi-chevron-down"
            (click)="closeFiltro.emit()" aria-controls="collapseExample">
        </i></h6>
    <div class="line">
        <div class="bloco">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <span class="p-float-label d-flex">
                            <input id="float-input p-inputtext-sm" type="text" pInputText>
                            <label for="float-input">Username</label>
                        </span>
                        <div class="d-flex flex-column">
                            <label for=" Número da solicitação:">
                                Número da solicitação:
                            </label>
                            <input type="text">
                        </div>
                        <div class="d-flex flex-column">
                            <label for="Responsável:">
                                Responsável:
                            </label>
                            <input type="text">
                        </div>
                        <div class="d-flex flex-column">
                            <label for="Tamanho da demanda:">
                                Tamanho da demanda:
                            </label>
                            <input type="text">
                        </div>
                        <div class="d-flex flex-column">
                            <label for=" Fórum de aprovação:">
                                Fórum de aprovação:
                            </label>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <label for="Status de aprovação:">
                            Status de aprovação:
                        </label>
                        <input type="text">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="Solicitante:">
                            Solicitante:
                        </label>
                        <input type="text">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="subtitulo">
                            Código PPM:
                        </label>
                        <input type="text">
                    </div>
                    <div class="d-flex flex-column">
                        <label for="subtitulo">
                            Departamento:
                        </label>
                        <input type="text">
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="rounded low-shadow d-flex mt-3">
                            <button class="btn btn-primary"><i class="bi bi-search"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>