<div class="container">
    <div class="border bg-secundary">
        <div class="d-flex">
            <div>
                <label for="">Prazo para elaboração da proposta:</label>
                <input type="text" class="low-input">
            </div>
            <div>
                <label for="">Código PPM:</label>
                <input type="text" class="low-input">
            </div>
        </div>
        <label for="">Link jira</label>
        <input type="text" class="low-input">
    </div>
    <div class="mt-3">
        <label for="">Título:</label>
        <input type="text" class="low-input">
    </div>
    <div class="mt-3">
        <label for="">Situação Atual:</label>
        <input type="text" class="low-input">
    </div>
    <div class="mt-3">
        <label for="">Objetivo:</label>
        <input type="text" class="low-input">
    </div>
    <div class="mt-3">
        <label for="">Centros de Custo:</label>
        <input type="text" class="low-input">
    </div>
</div>
