<div class="dash-board" style="height: 4vh; display: flex; align-items: center;">
    <div class="dash-um" style="background-color: #00579D; height: 0.5vh; width: 20%;"></div>
    <div class="dash-dois" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
    <div class="dash-tres" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
    <div class="dash-quatro" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
    <div class="dash-cinco" style="background-color: #747474; height: 0.5vh; width: 20%;"></div>
</div>

<div class="campo" style="display: flex; justify-content: center; align-items: center; padding: 0px;">
    <div class="div-preenchida" style="width: 61vw; ">
        <div style="background-color: rgb(241 240 240); border: 1px solid #787070; padding: 10px;">
            <h6 style="font-weight: 600;">Campos obrigatórios para salvar a proposta:</h6>
            <div class="d-flex justify-content-between">
                <div>
                    <label style="font-weight: 600;" for="">Prazo para elaboração da proposta:</label>
                    <div style="display: flex;">
                        <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                        <input style="width: 36vw;">
                    </div>

                </div>
                <div>
                    <label style="font-weight: 600;" for="">Código PPM:</label>
                    <div style="display: flex;">
                        <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                        <input type="text" class="low-input" style="width: 20vw;">
                    </div>
                </div>
            </div>
            <label style="font-weight: 600;" for="">Link jira</label>
            <div style="display: flex;">
                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                <input type="text" class="low-input" style="width: 61vw;">
            </div>
        </div>
    </div>
</div>

<div class="container" style="display: grid; justify-content: center;">
    <div class="beneficios" style="display: grid; align-items: center; justify-content: space-between;">
        <div class="titulo" style="display: grid">
            <label style="font-weight: 600;">
                Título:
            </label>
            <div style="display: flex; ">
                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                <input style="width: 61vw;">
            </div>
        </div>
        <div class="situacao-atual" style="display: grid">
            <label style="font-weight: 600;">
                Situação Atual:
            </label>
            <div style="display: flex; ">
                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                <input style="width: 61vw;">
            </div>
        </div>
        <div class="objetivo" style="display: grid">
            <label style="font-weight: 600;">
                Objetivo:
            </label>
            <div style="display: flex; ">
                <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                <input style="width: 61vw;">
            </div>
        </div>
        <div class="real" style="display: flex;">
            <div class="ben-real" style="display: grid">
                <label style="font-weight: 600;">
                    Centros de Custo:
                </label>
                <div style="display: flex; ">
                    <div style="border: 3px solid #00579D; margin: 5px 0px 5px 5px;"></div>
                    <input style="width: 56vw;">
                </div>
            </div>
            <div style="display: flex; align-items: end;">
                <select>
                    <option value="valor1">ADD</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-between " style="margin-top: 0.7rem !important;">
            <div>
                <button class="btn btn-danger me-3">Cancelar</button>
                <button class="btn btn-outline-primary">Sair e Salvar</button>
            </div>
            <button class="btn btn-primary">Avançar</button>
        </div>
    </div>
</div>