<h5>Adicionar informações da DG!</h5>
<hr>
<div>
  <input
    [(ngModel)]="numAtaDG"
    pInputText
    type="text"
    placeholder="Número da ata da DG"
  />
  <div class="mt-3">
    <p-fileUpload
      [chooseLabel]="'Escolher'"
      [uploadLabel]="'Enviar'"
      [cancelLabel]="'Cancelar'"
      [multiple]="true"
      [auto]="true"
      [customUpload]="true"
      [files]="listaFiles"
      (uploadHandler)="onUpload($event)"
    >
    </p-fileUpload>
  </div>
  <div class="mt-3 d-flex justify-content-end">
    <button class="btn btn-primary" (click)="adicionarInfoDG()">
      Adicionar
    </button>
  </div>
</div>
