
p{
    margin-bottom: 0.5rem!important;
}
.form-control{
    border-left: 10px #00579D solid !important;
}

$primary: #00579D;
$primarysec: #7ab0df;
$danger: #ff4136;
$btn-border-radius: 0px;

.btn{
    border-radius: 5px !important;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
