
p{
    margin-bottom: 0.5rem!important;
}

$primary: #0074d9;
$primarysec: #7ab0df;
$danger: #ff4136;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
