$primary: #00579D;
$primarysec: #7ab0df;
$danger: #ff4136;
$btn-border-radius: 0px;

p {
    margin-bottom: 0.5rem !important;
}

a {
    color: white;
}

.próximo {
    background-color: #EF8300;
}

.próximo-sec {
    background-color: #e4a251;

}

.p-button{
    background-color: #00579D !important;
    border: #00579D 1px solid !important;
}

.aguardando {
    background-color: #00579D;

}

.aguardando-sec {
    background-color: #4889B8;

}

.pendente {
    background-color: #681F8B;
}

.pendente-sec {
    background-color: #9f75b3;

}

.concluído {
    background-color: #00612E;
}

.concluído-sec {
    background-color: #82A584;
}

.cancelado {
    background-color: #EA1010;
}

.cancelado-sec {
    background-color: #FF7171;
}

.backlog-classificacao {
    background-color: #00579D;
}

.backlog-classificacao-sec {
    background-color: #4889B8;
}
.backlog-proposta {
    background-color: #00579D;
}

.backlog-proposta-sec {
    background-color: #4889B8;
}
.backlog-aprovacao {
    background-color: #00579D;
}

.backlog-aprovacao-sec {
    background-color: #4889B8;
}

.assessment {
    background-color: #8862A2;
}

.assessment-sec {
    background-color: #C2B0D2;
}

.business-case {
    background-color: #FFDD43;
}

.business-case-sec {
    background-color: #FFEAA0;
}

.to-do {
    background-color: #EF8300;
}

.to-do-sec {
    background-color: #F9C48B;
}

.design-and-build {
    background-color: #000000;
}

.design-and-build-sec {
    background-color: #515151;
}

.support {
    background-color: #0091BD;
}

.support-sec {
    background-color: #28B9DA;
}

.cancelled {
    background-color: #EA1010;
}

.cancelled-sec {
    background-color: #FF7171;
}

.done {
    background-color: #00612E;
}

.done-sec {
    background-color: #82A584;
}

.borda {
    border: #828282 solid 1px;
}
.draft {
    background-color: #5a5959;
}
.draft-sec  {
    background-color: #828282;
}

.low-shadow {
    box-shadow: 5px 6px 6px -6px black;
}

.low-input {
    width: 100%;
    border: 1px solid black;
    border-left: #00579D 5px solid;
    padding: 5px;
    font-size: 14px;
    outline: none;
}

.icon {
    font-size: 20px;
}

.btn-danger {
    color: white !important;
}

.btn {
    border-radius: 5px !important;
    box-shadow: 5px 6px 6px -6px black !important;

}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}