<div class="container mt-5">
    <div class="row border border-primary">
        <div class="col-sm-5">
            <img class="img-fluid " src="https://miro.medium.com/max/1400/1*g09N-jl7JtVjVZGcd-vL2g.jpeg" alt="">
            <input class="mt-3" type="file" alt="">
        </div>
        <div class="col-sm-7">
            <div class="border-bottom border-primary">
                <label class="me-2" for=""><b>Nome:</b></label>
                <label for="">Vinícius Bonatti Benner</label>
            </div>
            <div class="border-bottom border-primary justify-content-between d-flex">
                <section>
                    <label class="me-2" for=""><b>Data de nascimento:</b></label>
                    <label for="">11/02/2004</label>
                </section>
                <section>
                    <label class="me-2" for="" class="ms-3"><b>CPF:</b></label>
                    <label for="">111.222.333-44</label>
                </section>
            </div>
            <div class="border-bottom border-primary perfil-label">
                <section>
                    <label class="me-2" for=""><b>Email:</b></label>
                    <label for="">camilly@gmail.com</label>
                </section>
                <i class="bi bi-pencil"></i>
            </div>
            <div class="border-bottom border-primary perfil-label">
                <section>
                    <label class="me-2" for=""><b>Telefone:</b></label>
                    <label for="">(47)99211-7764</label>
                </section>
                <i class="bi bi-pencil"></i>
            </div>
            <div class="border-bottom border-primary perfil-label">
                <section>
                    <label class="me-2" for=""><b>Senha:</b></label>
                    <label for="">Vinícius Bonatti Benner</label>
                </section>
                <i class="bi bi-pencil"></i>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-danger">Cancelar</button>
        <button class="btn btn-primary">Salvar</button>
    </div>
</div>