<div class="princ-container">
    <div class="divisao-divs" style="display: flex;">
        <div class="configuracoes" style=" width: 35vw; height: 78.5vh;">
            <div class="parte-branca"  style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; height: 4.65vh;">
            </div>
            <div class="perfil" routerLinkActive="rota-Ativa" routerLink="/tela-inicial/perfil" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-person"></i>
                </div>
                <h6 style="margin: 0px;">
                    Conta
                </h6>
            </div>
            <div class="layout" routerLink="/tela-inicial/layout" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-grid-1x2"></i>
                </div>
                <h6 style="margin: 0px;">
                    Layout
                </h6>
            </div>
            <div class="notificacoes" routerLink="/tela-inicial/notificacoes"
                style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-bell"></i>
                </div>
                <h6 style="margin: 0px;">
                    Notificações
                </h6>
            </div>
            <div class="sugestoes" routerLink="/tela-inicial/sugestoes" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-chat-right-quote"></i>
                </div>
                <h6 style="margin: 0px;">
                    Sugestões
                </h6>
            </div>
            <div class="ajuda" routerLink="/tela-inicial/ajuda" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-question-circle"></i>
                </div>
                <h6 style="margin: 0px;">
                    Ajuda
                </h6>
            </div>
            <div class="tutorial"  style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                <div class="icones">
                    <i class="bi bi-diagram-3"></i>
                </div>
                <h6 style="margin: 0px;" (click)="onClick()">
                    Tutorial
                </h6>
            </div>
        </div>
        <div class="paginas-conf container-fluid" style="padding: 0px !important; border-left: 1px solid black;">
            <div class="perfil-completo">
                <div class="desc-incial"
                    style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid black; padding: 10px 0px 10px 10px;">
                    <h5 style="margin: 0px;">
                        CONFIGURAÇÕES GERAIS DE CONTA
                    </h5>
                </div>
                <div class="confDados" style="margin: 10px;">
                    <div class="centralPerfil container-fluid"
                        style="display: flex; align-items: center; justify-content: center;">
                        <div class=" fotoPerfil" style="height: 22.8vh; width: 12.5vw; margin-top: 3vh;">
                            <img class="img-fluid " src="https://miro.medium.com/max/1400/1*g09N-jl7JtVjVZGcd-vL2g.jpeg"
                                alt="">
                            <input class="mt-3" type="file" alt="">
                        </div>
                    </div>
                    <div class="dadosPessoais">
                        <div class="perfil">
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 45vw; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Nome:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            Camilly Vitoria da Rocha Goltz
                                        </span>
                                    </div>
                                </div>
                                <div class="alterar-dado" style="justify-content: end;">
                                    <span>
                                        Alterar 
                                    </span>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 45vw; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Data de nascimento:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            11/02/2004
                                        </span>
                                    </div>
                                </div>
                                <div class="alterar-dado" style="justify-content: end;">
                                    <span>
                                         
                                    </span>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 45vw; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            CPF:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            111.222.333-55
                                        </span>
                                    </div>
                                </div>
                                <div class="alterar-dado" style="justify-content: end;">
                                    <span>
                                         
                                    </span>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 45vw; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Email:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            camilly@gmail.com
                                        </span>
                                    </div>
                                </div>
                                <div class="alterar-dado" style="justify-content: end;">
                                    <span>
                                        Alterar 
                                    </span>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 45vw; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Telefone:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            (47) 9 9211-7764
                                        </span>
                                    </div>
                                </div>
                                <div class="alterar-dado" style="justify-content: end;">
                                    <span>
                                        Alterar 
                                    </span>
                                </div>
                            </div>
                            <div class="nome" style="display: flex; border-bottom: 1px solid black; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                                <div class="dadosPrincipais" style="display: flex; width: 45vw; justify-content: space-between;">
                                    <div class="caracteristica" style="margin-right: 10px;">
                                        <span>
                                            Senha:
                                        </span>
                                    </div>
                                    <div class="nome-dado">
                                        <span>
                                            ***************
                                        </span>
                                    </div>
                                </div>
                                <div class="alterar-dado" style="justify-content: end;">
                                    <span>
                                        Alterar 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
