<div class="paginas-conf container-fluid" style="padding: 0px !important;;">
    <div class="perfil-completo">
        <div class="desc-incial"
            style="display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px;">
            <h5 style="margin: 0px;">
                {{ "telas.configuracoes-perfil.subtitulo" | translate }}
            </h5>
        </div>
        <div class="confDados container" style="margin: 10px;">
            <div class="dadosPessoais">
                <div class="perfil">
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 45vw; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span>
                                    {{ "telas.configuracoes-perfil.nome" | translate }}
                                </span>
                            </div>
                            <div class="nome-dado">
                                <span>
                                    {{usuario?.nomeUsuario}}
                                </span>
                            </div>
                        </div>
                        <div class="alterar-dado" style="justify-content: end;">
                            <span>
                                {{ "telas.configuracoes-perfil.alterar" | translate }}
                            </span>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 45vw; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span>
                                    username
                                </span>
                            </div>
                            <div class="nome-dado">
                                <span>
                                    {{usuario?.userUsuario}}
                                </span>
                            </div>
                        </div>
                        <div class="alterar-dado" style="justify-content: end;">
                            <span>
                                {{ "telas.configuracoes-perfil.alterar" | translate }}
                            </span>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 45vw; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span>
                                    {{ "telas.configuracoes-perfil.cpf" | translate }}
                                </span>
                            </div>
                            <div class="nome-dado">
                                <span>
                                    111.222.333-55
                                </span>
                            </div>
                        </div>
                        <div class="alterar-dado" style="justify-content: end;">
                            <span>

                            </span>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 45vw; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span>
                                    {{ "telas.configuracoes-perfil.email" | translate }}
                                </span>
                            </div>
                            <div class="nome-dado">
                                <span>
                                    {{usuario?.emailUsuario}}
                                </span>
                            </div>
                        </div>
                        <div class="alterar-dado" style="justify-content: end;">
                            <span>
                                {{ "telas.configuracoes-perfil.alterar" | translate }}
                            </span>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 45vw; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span>departamento
                                </span>
                            </div>
                            <div class="nome-dado">
                                <span>
                                    {{usuario?.departamentoUsuario?.nomeDepartamento}}
                                </span>
                            </div>
                        </div>
                        <div class="alterar-dado" style="justify-content: end;">
                            <span>
                                {{ "telas.configuracoes-perfil.alterar" | translate }}
                            </span>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 45vw; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span>
                                    {{ "telas.configuracoes-perfil.senha" | translate }}
                                </span>
                            </div>
                            <div class="nome-dado">
                                <span>
                                    ***************
                                </span>
                            </div>
                        </div>
                        <div class="alterar-dado" style="justify-content: end;">
                            <span>
                                {{ "telas.configuracoes-perfil.alterar" | translate }}
                            </span>
                        </div>
                    </div>
                    <div class="nome"
                        style="display: flex; border-bottom: 1px solid #8f8f8f; padding: 10px 0px 10px 10px; margin: 10px; justify-content: space-between;">
                        <div class="dadosPrincipais"
                            style="display: flex; width: 45vw; justify-content: space-between;">
                            <div class="caracteristica" style="margin-right: 10px;">
                                <span>
                                    Tipo do usuário
                                </span>
                            </div>
                            <div class="nome-dado">
                                <span>
                                    {{usuario?.nivelAcessoUsuario}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>