.row{
    div{
        padding: 0.5rem;
    }
}
.perfil-label{
    display: flex;
    justify-content: space-between;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
    button{
        margin: 0.5rem
    }
}

.icones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

h6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-dado{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caracteristica{
   font-weight: 600;
}

.alterar-dado{
    font-size: 11px;
 }