<nav class="nav position-relative">
    <ul class="nav flex-column container-sidebar" style="width: 25vw">
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-assessment"></div>
            <a class="nav-link" href="#">Aguardando</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-bussines-case"></div>
            <a class="nav-link" href="#">Próximo</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-to-do"></div>
            <a class="nav-link">Pendente</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-design-and-build"></div>
            <a class="nav-link">Concluido</a>
        </li>
        <li class="nav-item d-flex border-bottom">
            <div class="barra-nav-item color-support"></div>
            <a class="nav-link">Cancelado</a>
        </li>
    </ul>

    <div class="barra-direita"><i class="bi bi-chevron-right "></i></div>
</nav>