.container-sidebar{
    background-color: #4889B8;
}
.barra-nav-item{
    width: 10px;
}
.nav-link{
    color:white
}
.barra-direita{
    display:flex; align-items:center; justify-content:center; color: white; width: 25px; background-color: rgba(0, 0, 0, 0.349)
}