<div class="card low-shadow position-relative">
    <div class="line-top-start" [ngClass]="primaryColorClass"></div>
    <div class="line-top-end" [ngClass]="secondaryColorClass"></div>
    <div class="card-body pb-1">
        <div class="mt-2 card-title d-flex" style="align-items: baseline;
    justify-content: space-between;">
          <div class="d-flex">
            <label class="me-2" for="">{{dadosReuniao.codigoReuniao}}</label>
            <label class="me-2 text-truncate" for="titulo"><b>Dia da comissão: {{dadosReuniao.dataReuniao | date:"dd/MM/YY"}}</b></label>
          </div>
            <small class="me-3" for="">Status: {{dadosReuniao.statusReuniao | titlecase}}</small>
            <!-- <i class="bi bi-three-dots-vertical three-dots" role="button" [matMenuTriggerFor]="menu"></i>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span><i class="bi bi-x-circle me-3"></i> Cancelar Reunião</span>
                </button>
              </mat-menu> -->
        </div>
        <p class="card-text">Comissão: {{dadosReuniao.comissaoReuniao?.nomeComissao}}</p>
        <p class="card-text"><b>Propostas adicionadas: </b> 
        RESOLVER</p>
        <p class="card-text bottom-card">
            <label class=" me-2">
                <b>
                    Departamentos Beneficiados:
                </b>
                Vendas, Motores, Trefiliação
            </label>
            <span class="d-flex">
              <button class="btn btn-outline-danger btn-sm me-2" *ngIf="
              dadosReuniao.statusReuniao != 'CANCELADO' &&
              dadosReuniao.statusReuniao != 'CONCLUIDO'" (click)="cancelarReuniao.emit()">Cancelar Reunião</button>
              <button class="btn btn-primary btn-sm" *ngIf="dadosReuniao.statusReuniao == 'CANCELADO'" (click)="motivoCancelamento.emit()">Ver motivo do cancelamento</button>
              <button class="btn btn-primary btn-sm" [routerLink]="['/tela-inicial/ver-reuniao/' + dadosReuniao.codigoReuniao]" *ngIf="dadosReuniao.statusReuniao != 'CANCELADO'">Detalhes da Reunião</button>
            </span>
          </p>
    </div>
</div>
