<div>

    <div class="centralizar">
        <div class="Topo" style="width: 500px; background-color: #EF8300;"></div>
        <div class="Topo" style="width: 200px; background-color: #F9C48B; border-left: 0px;"></div>
    </div>
    <div class="centro">
        <div class="desc">
            <div class="centralizar">
                <h6 style="margin-right: 20px;">ID</h6>
                <h6>Dia da Comissão: Data</h6>
            </div>
        </div>
        <div class="status">

        </div>
    </div>

</div>
