<div class="card low-shadow position-relative">
    <div class="line-top-start" [ngClass]="primaryColorClass"></div>
    <div class="line-top-end" [ngClass]="secondaryColorClass"></div>
    <div class="card-body pb-1">
        <div class="mt-2 card-title d-flex" style="align-items: baseline;
    justify-content: space-between;">
          <div class="d-flex">
            <label falarTexto class="me-2" for="">{{dadosReuniao.codigoReuniao}}</label>
            <label falarTexto class="me-2 text-truncate" for="titulo"><b>{{ "componentes-reutilizaveis.card-reuniao.dia-comissao" | translate }} </b>{{dadosReuniao.dataReuniao | date:"dd/MM/YY"}} - <b> Horário:</b> {{dadosReuniao.dataReuniao | date:"HH:mm"}}</label>
          </div>
            <small falarTexto class="me-3" for="">{{ "componentes-reutilizaveis.card-reuniao.status" | translate }} {{dadosReuniao.statusReuniao | titlecase}}</small>
            <!-- <i class="bi bi-three-dots-vertical three-dots" role="button" [matMenuTriggerFor]="menu"></i>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span><i class="bi bi-x-circle me-3"></i> Cancelar Reunião</span>
                </button>
              </mat-menu> -->
        </div>
        <p falarTexto class="card-text"><b>{{ "componentes-reutilizaveis.card-reuniao.comissao" | translate }}</b> {{dadosReuniao.comissaoReuniao}}</p>
        <p falarTexto class="card-text"><b>{{ "componentes-reutilizaveis.card-reuniao.propostas-adicionadas" | translate }} </b>{{ titulosPropostas().join(', ')}} </p>
        <p falarTexto class="card-text bottom-card">
            <label class=" me-2" (click)="departamentosBeneficiados()">
                <b>
                  {{ "componentes-reutilizaveis.card-reuniao.bus-beneficiados" | translate }}
                </b>
               DADOS REUNIAO NÃO RETORNA CENTROS DE CUSTO
            </label>
            <span class="d-flex">
              <button falarTexto class="btn btn-outline-danger btn-sm me-2" *ngIf="
              dadosReuniao.statusReuniao != 'CANCELADO' &&
              dadosReuniao.statusReuniao != 'CONCLUIDO'" (click)="cancelarReuniao.emit()">{{ "componentes-reutilizaveis.card-reuniao.cancelar-reuniao" | translate }}</button>
              <button falarTexto class="btn btn-primary btn-sm" *ngIf="dadosReuniao.statusReuniao == 'CANCELADO'" (click)="motivoCancelamento.emit(dadosReuniao)">{{ "componentes-reutilizaveis.card-reuniao.motivo-cancelamento" | translate }}</button>
              <button falarTexto class="btn btn-primary btn-sm" [routerLink]="['/tela-inicial/ver-reuniao/' + dadosReuniao.codigoReuniao]" *ngIf="dadosReuniao.statusReuniao != 'CANCELADO'">{{ "componentes-reutilizaveis.card-reuniao.detalhes-reuniao" | translate }}</button>
            </span>
          </p>
    </div>
</div>
